<contest-event id="7078">
  <event-date date="1973-5-5">May 5, 1973<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1069">English Country Scenes</test-piece>
  </test-piece>

  <venue id="728">Belle Vue (Central Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 21, 2011, 5:41 p.m.</created>
  <last-modified>Aug. 21, 2011, 5:45 p.m.</last-modified>

  <results>
    
    <result id="63159">
      <result code="1">1</result>
      <band id="258">Point of Ayr Colliery Band</band>
      <conductor id="305054">G. Lewis</conductor>
    </result>
    
    <result id="63149">
      <result code="2">2</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="311560">J. A. Wilkinson</conductor>
    </result>
    
    <result id="63155">
      <result code="3">3</result>
      <band id="2551">Storeys of Lancaster Band</band>
      <conductor id="308358">J. D. Robinson</conductor>
    </result>
    
    <result id="63153">
      <result code="4">4</result>
      <band id="5277">Ashton under Lyne Public</band>
      <conductor id="302418">Jon Hall</conductor>
    </result>
    
    <result id="63146">
      <result code="">Unknown Result</result>
      <band id="192">Dobcross Silver Band</band>
      <conductor id="311319">Peter Weston</conductor>
    </result>
    
    <result id="63147">
      <result code="">Unknown Result</result>
      <band id="972">Trefor Band</band>
      <conductor id="304213">Geraint Jones</conductor>
    </result>
    
    <result id="63148">
      <result code="">Unknown Result</result>
      <band id="2653">Whitehouse Silver</band>
      <conductor id="306959">D. Orr</conductor>
    </result>
    
    <result id="63150">
      <result code="">Unknown Result</result>
      <band id="396">Littleborough Band</band>
      <conductor id="302459">H. Halstead</conductor>
    </result>
    
    <result id="63151">
      <result code="">Unknown Result</result>
      <band id="214">Cheshire Constabulary Band</band>
      <conductor id="303362">Charles Holt</conductor>
    </result>
    
    <result id="63152">
      <result code="">Unknown Result</result>
      <band id="162">Pemberton Old Wigan DW Band</band>
      <conductor id="298634">Malcolm Brownbill</conductor>
    </result>
    
    <result id="63154">
      <result code="">Unknown Result</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="63156">
      <result code="">Unknown Result</result>
      <band id="2634">Aycliffe Brass Band</band>
      <conductor id="311417">Ray White</conductor>
    </result>
    
    <result id="63157">
      <result code="">Unknown Result</result>
      <band id="2562">Ecclesfield Silver</band>
      <conductor id="302730">Roy Hartley</conductor>
    </result>
    
    <result id="63158">
      <result code="">Unknown Result</result>
      <band id="1980">Shildon Town</band>
      <conductor id="297782">E. Bennett</conductor>
    </result>
    
    <result id="63160">
      <result code="">Unknown Result</result>
      <band id="3456">Ryhope Colliery</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63161">
      <result code="">Unknown Result</result>
      <band id="1245">Comber Silver Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63162">
      <result code="W">Withdrawn</result>
      <band id="765">Moston &amp; Beswick Band</band>
      <conductor id="308240">Albert Risby</conductor>
    </result>
    
    <result id="63163">
      <result code="W">Withdrawn</result>
      <band id="1521">Tarporley</band>
      <conductor id="305857">Jim McDean</conductor>
    </result>
    
    <result id="63164">
      <result code="W">Withdrawn</result>
      <band id="257">Todmorden Old Band</band>
      <conductor id="311522">F. L. Wilcock</conductor>
    </result>
    
  </results>
</contest-event>
