<contest-event id="5604">
  <event-date date="1973-5-5">May 5, 1973<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="752">Lindum Suite</test-piece>
  </test-piece>

  <venue id="729">Belle Vue (Derby Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>April 26, 2011, 9:07 p.m.</created>
  <last-modified>Aug. 20, 2011, 8:52 p.m.</last-modified>

  <results>
    
    <result id="48403">
      <result code="1">1</result>
      <band id="485">Stourport-on-Severn Brass Band</band>
      <conductor id="303852">George Jackson</conductor>
    </result>
    
    <result id="48402">
      <result code="2">2</result>
      <band id="1484">Preston Youth</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="48412">
      <result code="3">3</result>
      <band id="1406">Bloomfield Amateur Silver Band</band>
      <conductor id="298748">K. Burch</conductor>
    </result>
    
    <result id="48404">
      <result code="4">4</result>
      <band id="2467">Clipstone Colliery Welfare</band>
      <conductor id="305701">R. Mason</conductor>
    </result>
    
    <result id="48398">
      <result code="">Unknown Result</result>
      <band id="1435">Denton Original</band>
      <conductor id="303680">Jim Hunter</conductor>
    </result>
    
    <result id="48399">
      <result code="">Unknown Result</result>
      <band id="166">Roberts Bakery Band</band>
      <conductor id="299867">Colin Cranson</conductor>
    </result>
    
    <result id="48400">
      <result code="">Unknown Result</result>
      <band id="4269">Droylsden &amp; District</band>
      <conductor id="297113">S. Armstrong</conductor>
    </result>
    
    <result id="48401">
      <result code="">Unknown Result</result>
      <band id="3047">Hathersage</band>
      <conductor id="302844">A. B. Hazelhurst</conductor>
    </result>
    
    <result id="48405">
      <result code="">Unknown Result</result>
      <band id="1821">Mossley Hollins High School Band</band>
      <conductor id="301112">B. Farrar</conductor>
    </result>
    
    <result id="48406">
      <result code="">Unknown Result</result>
      <band id="2632">Hindley</band>
      <conductor id="307278">R. Peacock</conductor>
    </result>
    
    <result id="48407">
      <result code="">Unknown Result</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="48408">
      <result code="">Unknown Result</result>
      <band id="997">Trafford Band</band>
      <conductor id="311977">J. Woodward</conductor>
    </result>
    
    <result id="48409">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="303793">H. Ingle</conductor>
    </result>
    
    <result id="48410">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="312010">A. Worrell</conductor>
    </result>
    
    <result id="48411">
      <result code="">Unknown Result</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="48413">
      <result code="W">Withdrawn</result>
      <band id="3837">Blackpool Youth Silver</band>
      <conductor id="310032">Robert Sykes</conductor>
    </result>
    
    <result id="48414">
      <result code="W">Withdrawn</result>
      <band id="8445">Castleton Silver [Derbs.]</band>
      <conductor id="303842">A. G. Jackson</conductor>
    </result>
    
    <result id="48415">
      <result code="W">Withdrawn</result>
      <band id="1383">Oldpark Silver Band</band>
      <conductor id="306959">D. Orr</conductor>
    </result>
    
  </results>
</contest-event>
