<contest-event id="7130">
  <event-date date="1973-5-5">May 5, 1973<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1283">Four Fancies</test-piece>
  </test-piece>

  <venue id="730">Belle Vue (Kent Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 27, 2011, 12:11 p.m.</created>
  <last-modified>Aug. 27, 2011, 12:11 p.m.</last-modified>

  <results>
    
    <result id="63631">
      <result code="1">1</result>
      <band id="2548">Colwyn Borough Band</band>
      <conductor id="298321">Frank Boylin</conductor>
    </result>
    
    <result id="63628">
      <result code="2">2</result>
      <band id="488">Bakewell Silver Band</band>
      <conductor id="297961">L. Birds</conductor>
    </result>
    
    <result id="63632">
      <result code="3">3</result>
      <band id="156">Friendly Band (Sowerby Bridge)</band>
      <conductor id="297428">D. Banks</conductor>
    </result>
    
    <result id="63629">
      <result code="4">4</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299110">P. Casson</conductor>
    </result>
    
    <result id="63627">
      <result code="">Unknown Result</result>
      <band id="927">Askam Town Silver Band</band>
      <conductor id="298914">P. Cain</conductor>
    </result>
    
    <result id="63630">
      <result code="">Unknown Result</result>
      <band id="142">Clifton and Lightcliffe Band</band>
      <conductor id="306839">James Nuttall</conductor>
    </result>
    
    <result id="63633">
      <result code="">Unknown Result</result>
      <band id="1384">Hillsborough Silver Band</band>
      <conductor id="309657">C. S. Stansfield</conductor>
    </result>
    
    <result id="63634">
      <result code="">Unknown Result</result>
      <band id="196">Morecambe Brass Band</band>
      <conductor id="301319">J. F. Fleming</conductor>
    </result>
    
    <result id="63635">
      <result code="">Unknown Result</result>
      <band id="258">Point of Ayr Colliery Band</band>
      <conductor id="305054">G. Lewis</conductor>
    </result>
    
    <result id="63636">
      <result code="">Unknown Result</result>
      <band id="492">Porthywaen Band</band>
      <conductor id="307801">J. Pugh</conductor>
    </result>
    
  </results>
</contest-event>
