<contest-event id="6208">
  <event-date date="1966-5-28">May 28, 1966<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="163">Little Suite for Brass [Arnold]</test-piece>
  </test-piece>

  <venue id="724">Belle Vue (Cumberland Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>May 27, 2011, 10:40 a.m.</created>
  <last-modified>Aug. 20, 2011, 8:50 p.m.</last-modified>

  <results>
    
    <result id="54699">
      <result code="1">1</result>
      <band id="193">Douglas Town Band</band>
      <conductor id="299924">J. F. Crosbie</conductor>
    </result>
    
    <result id="54702">
      <result code="2">2</result>
      <band id="396">Littleborough Band</band>
      <conductor id="302459">H. Halstead</conductor>
    </result>
    
    <result id="54697">
      <result code="3">3</result>
      <band id="2021">City of Leicester</band>
      <conductor id="303872">R. Jackson</conductor>
    </result>
    
    <result id="54696">
      <result code="4">4</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="309684">J. B. Stead</conductor>
    </result>
    
    <result id="54694">
      <result code="">Unknown Result</result>
      <band id="4054">Ashworth Brass Band</band>
      <conductor id="309009">Stan Sheasby</conductor>
    </result>
    
    <result id="54695">
      <result code="">Unknown Result</result>
      <band id="127">Barnsley Brass</band>
      <conductor id="305072">P. V. Lewis</conductor>
    </result>
    
    <result id="54698">
      <result code="">Unknown Result</result>
      <band id="386">Croft Silver Band</band>
      <conductor id="311079">R. S. Warren</conductor>
    </result>
    
    <result id="54700">
      <result code="">Unknown Result</result>
      <band id="2713">Ellesmere Port Silver Band</band>
      <conductor id="300770">E. G. Edwards</conductor>
    </result>
    
    <result id="54701">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="299728">E. Corker</conductor>
    </result>
    
    <result id="54703">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="54704">
      <result code="">Unknown Result</result>
      <band id="2582">North Ashton Prize</band>
      <conductor id="306617">Les Naylor</conductor>
    </result>
    
    <result id="54705">
      <result code="">Unknown Result</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="299939">Eric Crossley</conductor>
    </result>
    
    <result id="54706">
      <result code="">Unknown Result</result>
      <band id="1980">Shildon Town</band>
      <conductor id="297782">E. Bennett</conductor>
    </result>
    
    <result id="54707">
      <result code="">Unknown Result</result>
      <band id="1527">Stacksteads Brass Band</band>
      <conductor id="302240">Cynlais Griffiths</conductor>
    </result>
    
    <result id="54708">
      <result code="">Unknown Result</result>
      <band id="207">Stalybridge Old Band</band>
      <conductor id="301934">John Golland</conductor>
    </result>
    
    <result id="54709">
      <result code="">Unknown Result</result>
      <band id="1357">Thornsett</band>
      <conductor id="310125">Brian Taylor</conductor>
    </result>
    
    <result id="54710">
      <result code="">Unknown Result</result>
      <band id="1930">Thurlstone Brass Band</band>
      <conductor id="303425">W. Hopkinson</conductor>
    </result>
    
  </results>
</contest-event>
