<contest-event id="6207">
  <event-date date="1966-5-28">May 28, 1966<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="660">Thames Valley Suite</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>May 27, 2011, 10:17 a.m.</created>
  <last-modified>May 27, 2011, 10:18 a.m.</last-modified>

  <results>
    
    <result id="54677">
      <result code="1">1</result>
      <band id="4105">Brigg Town Brass Band</band>
      <conductor id="297812">Gerald Benson</conductor>
    </result>
    
    <result id="54683">
      <result code="2">2</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="300035">Marcus Cutts</conductor>
    </result>
    
    <result id="54685">
      <result code="3">3</result>
      <band id="36">Hatfield Band</band>
      <conductor id="309459">W. Smith</conductor>
    </result>
    
    <result id="54687">
      <result code="4">4</result>
      <band id="1358">Lancashire Constabulary Band</band>
      <conductor id="303452">Frank Hough</conductor>
    </result>
    
    <result id="54674">
      <result code="">Unknown Result</result>
      <band id="5843">Ackton Hall Colliery Band</band>
      <conductor id="308898">T. Sellers</conductor>
    </result>
    
    <result id="54675">
      <result code="">Unknown Result</result>
      <band id="1501">Banks Brass</band>
      <conductor id="302817">William Haydock</conductor>
    </result>
    
    <result id="54678">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="54680">
      <result code="">Unknown Result</result>
      <band id="3375">Coppull Subscription Band</band>
      <conductor id="302817">William Haydock</conductor>
    </result>
    
    <result id="54681">
      <result code="">Unknown Result</result>
      <band id="434">Cottingham Band</band>
      <conductor id="309738">Alf Stephenson</conductor>
    </result>
    
    <result id="54682">
      <result code="">Unknown Result</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="54692">
      <result code="">Unknown Result</result>
      <band id="309">Felling Band</band>
      <conductor id="311011">Albert Ward</conductor>
    </result>
    
    <result id="54684">
      <result code="">Unknown Result</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="310926">W. Walker</conductor>
    </result>
    
    <result id="54686">
      <result code="">Unknown Result</result>
      <band id="133">Horbury Victoria Band</band>
      <conductor id="308448">L. G. Roocroft</conductor>
    </result>
    
    <result id="54679">
      <result code="">Unknown Result</result>
      <band id="290">Newbridge Celynen Band</band>
      <conductor id="307757">David Probyn</conductor>
    </result>
    
    <result id="54676">
      <result code="">Unknown Result</result>
      <band id="4067">Norman Memorial Band</band>
      <conductor id="297165">W. E. Ashton</conductor>
    </result>
    
    <result id="54688">
      <result code="">Unknown Result</result>
      <band id="229">Parr (St. Helens) Band</band>
      <conductor id="305338">L. Lucas</conductor>
    </result>
    
    <result id="54690">
      <result code="">Unknown Result</result>
      <band id="226">Sale Brass Band</band>
      <conductor id="303802">D. G. Ingram</conductor>
    </result>
    
    <result id="54689">
      <result code="">Unknown Result</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">Sam Hartshorn</conductor>
    </result>
    
    <result id="54691">
      <result code="">Unknown Result</result>
      <band id="2692">Thorne Colliery</band>
      <conductor id="297415">W. Bamford</conductor>
    </result>
    
    <result id="54693">
      <result code="">Unknown Result</result>
      <band id="1510">Workington</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
  </results>
</contest-event>
