<contest-event id="6701">
  <event-date date="1967-5-29">May 29, 1967<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="248">Petite Suite de Ballet</test-piece>
  </test-piece>

  <venue id="729">Belle Vue (Derby Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>British Bandsman of May 6, 1967, shows Moston and Beswick in 3rd place and Chapeltown Silver in 4th, did they get disqualified afterwards?</notes>

  <created>July 1, 2011, 11:10 a.m.</created>
  <last-modified>April 28, 2013, 5:41 p.m.</last-modified>

  <results>
    
    <result id="63084">
      <result code="1">1</result>
      <band id="1357">Thornsett</band>
      <conductor id="310125">Brian Taylor</conductor>
    </result>
    
    <result id="63074">
      <result code="2">2</result>
      <band id="5274">Hugglescote and South Leicester Welfare</band>
      <conductor id="300954">H. Essex</conductor>
    </result>
    
    <result id="63080">
      <result code="3">3</result>
      <band id="3842">Netherton Colliery Workmens</band>
      <conductor id="302492">W. Hamilton</conductor>
    </result>
    
    <result id="63067">
      <result code="4">4</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="309684">J. B. Stead</conductor>
    </result>
    
    <result id="63068">
      <result code="">Unknown Result</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="303387">Edmund Hoole</conductor>
    </result>
    
    <result id="63083">
      <result code="">Unknown Result</result>
      <band id="226">Sale Brass Band</band>
      <conductor id="303787">D. H. Ingham</conductor>
    </result>
    
    <result id="63082">
      <result code="">Unknown Result</result>
      <band id="207">Stalybridge Old Band</band>
      <conductor id="303146">Les Hine</conductor>
    </result>
    
    <result id="63066">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299110">P. Casson</conductor>
    </result>
    
    <result id="63064">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="63070">
      <result code="">Unknown Result</result>
      <band id="193">Douglas Town Band</band>
      <conductor id="299925">James Crosbie</conductor>
    </result>
    
    <result id="63076">
      <result code="">Unknown Result</result>
      <band id="2580">Knutsford &amp; Alderley</band>
      <conductor id="298755">J. Burgess</conductor>
    </result>
    
    <result id="63081">
      <result code="">Unknown Result</result>
      <band id="276">Wallace Arnold (Rothwell) Band</band>
      <conductor id="308281">Gordon Roberts</conductor>
    </result>
    
    <result id="63075">
      <result code="">Unknown Result</result>
      <band id="1663">Irlam Silver Band</band>
      <conductor id="302987">J. R. Hesford</conductor>
    </result>
    
    <result id="63077">
      <result code="">Unknown Result</result>
      <band id="396">Littleborough Public Band</band>
      <conductor id="302459">H. Halstead</conductor>
    </result>
    
    <result id="63065">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63069">
      <result code="">Unknown Result</result>
      <band id="18196">Clock Face and Sutton Manor</band>
      <conductor id="308358">J. D. Robinson</conductor>
    </result>
    
    <result id="63086">
      <result code="">Unknown Result</result>
      <band id="2538">Water Band Rossendale</band>
      <conductor id="302818">A. E. Hayes</conductor>
    </result>
    
    <result id="63085">
      <result code="">Unknown Result</result>
      <band id="257">Todmorden Old Band</band>
      <conductor id="299440">T. C. Clewlow</conductor>
    </result>
    
    <result id="63079">
      <result code="">Unknown Result</result>
      <band id="765">Moston &amp; Beswick Band</band>
      <conductor id="308240">Albert Risby</conductor>
    </result>
    
    <result id="63063">
      <result code="">Unknown Result</result>
      <band id="1308">Congleton Brass</band>
      <conductor id="299612">Charles Cook</conductor>
    </result>
    
    <result id="63072">
      <result code="">Unknown Result</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="305577">D. Margerson</conductor>
    </result>
    
    <result id="63073">
      <result code="">Unknown Result</result>
      <band id="4158">Grasslot Miners Welfare Brass Band</band>
      <conductor id="305666">R. Martin</conductor>
    </result>
    
    <result id="63071">
      <result code="W">Withdrawn</result>
      <band id="2713">Ellesmere Port Silver Band</band>
      <conductor id="304209">Gareth Jones</conductor>
    </result>
    
    <result id="63078">
      <result code="W">Withdrawn</result>
      <band id="3384">Lockwood Band (Huddersfield)</band>
      <conductor id="304362">Willie Kaye</conductor>
    </result>
    
  </results>
</contest-event>
