<contest-event id="6831">
  <event-date date="1967-5-29">May 29, 1967<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="935">Thanksgiving</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 4:14 p.m.</created>
  <last-modified>Aug. 28, 2011, 4:02 p.m.</last-modified>

  <results>
    
    <result id="64062">
      <result code="1">1</result>
      <band id="3840">Calverton Colliery Welfare</band>
      <conductor id="298621">Norman Brown</conductor>
    </result>
    
    <result id="64064">
      <result code="2">2</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="64067">
      <result code="3">3</result>
      <band id="3403">Whitehaven Brass Band</band>
      <conductor id="305226">R. C. Logan</conductor>
    </result>
    
    <result id="64066">
      <result code="4">4</result>
      <band id="3257">Swinton &amp; Pendlebury Borough [Lancs.]</band>
      <conductor id="309326">C. Smith</conductor>
    </result>
    
    <result id="64063">
      <result code="">Unknown Result</result>
      <band id="8445">Castleton Silver [Derbs.]</band>
      <conductor id="303842">A. G. Jackson</conductor>
    </result>
    
    <result id="64061">
      <result code="">Unknown Result</result>
      <band id="927">Askam Town Silver Band</band>
      <conductor id="298914">P. Cain</conductor>
    </result>
    
    <result id="64060">
      <result code="W">Withdrawn</result>
      <band id="4582">All Souls Parish Church</band>
      <conductor id="310509">Ted Tooley</conductor>
    </result>
    
    <result id="64065">
      <result code="W">Withdrawn</result>
      <band id="5271">Helmshore Prize Band</band>
      <conductor id="300937">C. Entwistle</conductor>
    </result>
    
  </results>
</contest-event>
