<contest-event id="6641">
  <event-date date="1952-5-17">May 17, 1952<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1070">Mignonne</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 22, 2011, 9:21 p.m.</created>
  <last-modified>Oct. 8, 2011, 3:21 p.m.</last-modified>

  <results>
    
    <result id="58634">
      <result code="1">1</result>
      <band id="2466">Clayton West</band>
      <conductor id="302441">George Hallas</conductor>
    </result>
    
    <result id="58640">
      <result code="2">2</result>
      <band id="4090">Ibstock Welfare</band>
      <conductor id="305117">W. Lincoln-Bowman</conductor>
    </result>
    
    <result id="58641">
      <result code="3">3</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="296917">C. Allison</conductor>
    </result>
    
    <result id="58632">
      <result code="4">4</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="58637">
      <result code="">Unknown Result</result>
      <band id="139">Dinnington Colliery Band</band>
      <conductor id="310025">George W. Sykes</conductor>
    </result>
    
    <result id="58645">
      <result code="">Unknown Result</result>
      <band id="5930">Waltham (Lincs)</band>
      <conductor id="311362">Edward Whitaker</conductor>
    </result>
    
    <result id="58643">
      <result code="">Unknown Result</result>
      <band id="3613">Sowerby Bridge Subscription</band>
      <conductor id="309550">E. Speak</conductor>
    </result>
    
    <result id="58631">
      <result code="">Unknown Result</result>
      <band id="2731">Belmont Public</band>
      <conductor id="308092">F. Rhodes</conductor>
    </result>
    
    <result id="58642">
      <result code="">Unknown Result</result>
      <band id="4068">Oswestry Excelsior Silver Prize</band>
      <conductor id="300313">F. W. Dennett</conductor>
    </result>
    
    <result id="58646">
      <result code="">Unknown Result</result>
      <band id="3366">Weldbank Prize</band>
      <conductor id="307889">James Ralphs</conductor>
    </result>
    
    <result id="58633">
      <result code="">Unknown Result</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="311942">J. W. Woodhead</conductor>
    </result>
    
    <result id="58647">
      <result code="">Unknown Result</result>
      <band id="137">Wetherby and District Silver</band>
      <conductor id="301661">Arthur Garforth</conductor>
    </result>
    
    <result id="58638">
      <result code="">Unknown Result</result>
      <band id="140">Dodworth Colliery MW Brass</band>
      <conductor id="306618">Oswald Naylor</conductor>
    </result>
    
    <result id="58635">
      <result code="">Unknown Result</result>
      <band id="171">Blackburn and Darwen Band</band>
      <conductor id="310953">Albert Walmsley</conductor>
    </result>
    
    <result id="58639">
      <result code="">Unknown Result</result>
      <band id="36">Hatfield Band</band>
      <conductor id="297415">W. Bamford</conductor>
    </result>
    
    <result id="58636">
      <result code="">Unknown Result</result>
      <band id="2612">Denby United Silver Prize Band</band>
      <conductor id="297302">J. Bacon</conductor>
    </result>
    
    <result id="58644">
      <result code="W">Withdrawn</result>
      <band id="3365">Stubbins Vale</band>
      <conductor id="306954">Clifford Ormerod</conductor>
    </result>
    
  </results>
</contest-event>
