<contest-event id="6821">
  <event-date date="1952-5-17">May 17, 1952<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="789">Wayside Scenes</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:49 p.m.</created>
  <last-modified>Aug. 28, 2011, 3:55 p.m.</last-modified>

  <results>
    
    <result id="64025">
      <result code="1">1</result>
      <band id="2534">Langwith Miners Welfare</band>
      <conductor id="305704">Reginald Mason</conductor>
    </result>
    
    <result id="64016">
      <result code="2">2</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="307647">D. A. Power</conductor>
    </result>
    
    <result id="64013">
      <result code="3">3</result>
      <band id="3838">Anston United Silver</band>
      <conductor id="305071">Maldwyn Lewis</conductor>
    </result>
    
    <result id="64028">
      <result code="4">4</result>
      <band id="2986">Newark British Legion</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="64012">
      <result code="">Unknown Result</result>
      <band id="5843">Ackton Hall Colliery Band</band>
      <conductor id="308898">T. Sellers</conductor>
    </result>
    
    <result id="64014">
      <result code="">Unknown Result</result>
      <band id="1636">Armley and Wortley Prize Band</band>
      <conductor id="300527">Cecil Dowlings</conductor>
    </result>
    
    <result id="64015">
      <result code="">Unknown Result</result>
      <band id="4080">Atherstone Miners&#39; Welfare</band>
      <conductor id="302533">R. Hannam</conductor>
    </result>
    
    <result id="64026">
      <result code="">Unknown Result</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="64018">
      <result code="">Unknown Result</result>
      <band id="13224">Darley Dale Silver</band>
      <conductor id="307331">William Pegg</conductor>
    </result>
    
    <result id="64024">
      <result code="">Unknown Result</result>
      <band id="2651">Eaton Works Band</band>
      <conductor id="303055">John Higginbottom</conductor>
    </result>
    
    <result id="64019">
      <result code="">Unknown Result</result>
      <band id="3146">Elsecar Main Colliery</band>
      <conductor id="311699">E. Williamson</conductor>
    </result>
    
    <result id="64020">
      <result code="">Unknown Result</result>
      <band id="4945">Filey Silver</band>
      <conductor id="301183">Herbert Fenby</conductor>
    </result>
    
    <result id="64021">
      <result code="">Unknown Result</result>
      <band id="5314">Fryston Colliery</band>
      <conductor id="310165">John Taylor</conductor>
    </result>
    
    <result id="64022">
      <result code="">Unknown Result</result>
      <band id="5652">Hammonds Junior Band</band>
      <conductor id="302807">Herbert Bowdin Hawley</conductor>
    </result>
    
    <result id="64023">
      <result code="">Unknown Result</result>
      <band id="5367">Hunwick Silver</band>
      <conductor id="297866">J. A. Best</conductor>
    </result>
    
    <result id="64017">
      <result code="">Unknown Result</result>
      <band id="578">Kingsway Printers Cleethorpes</band>
      <conductor id="297508">Russell Barnes</conductor>
    </result>
    
    <result id="64027">
      <result code="">Unknown Result</result>
      <band id="405">Nottingham City Transport Band</band>
      <conductor id="303306">W. Holland</conductor>
    </result>
    
    <result id="64029">
      <result code="">Unknown Result</result>
      <band id="4058">Preston Town Silver</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="64030">
      <result code="">Unknown Result</result>
      <band id="3173">Ravensthorpe Subscription</band>
      <conductor id="303279">Ernest Holdsworth</conductor>
    </result>
    
    <result id="64031">
      <result code="">Unknown Result</result>
      <band id="4946">Redgate Boys Silver</band>
      <conductor id="306535">Leo Murphy</conductor>
    </result>
    
    <result id="64032">
      <result code="">Unknown Result</result>
      <band id="4052">Sherburn Old Boys</band>
      <conductor id="311554">Cyril Wilkinson</conductor>
    </result>
    
    <result id="64033">
      <result code="">Unknown Result</result>
      <band id="922">Skipton Brass</band>
      <conductor id="297421">T. Bancroft</conductor>
    </result>
    
    <result id="64034">
      <result code="">Unknown Result</result>
      <band id="1930">Thurlstone Brass Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="64035">
      <result code="">Unknown Result</result>
      <band id="5374">Wigan Boys</band>
      <conductor id="302817">William Haydock</conductor>
    </result>
    
  </results>
</contest-event>
