<contest-event id="6584">
  <event-date date="1952-5-17">May 17, 1952<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="248">Petite Suite de Ballet</test-piece>
  </test-piece>

  <venue id="764">Belle Vue (Coronation Ballroom), Manchester, Lancashire, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:12 p.m.</created>
  <last-modified>May 12, 2015, 9:29 a.m.</last-modified>

  <results>
    
    <result id="63003">
      <result code="1">1</result>
      <band id="162">Pemberton Old Wigan DW Band</band>
      <conductor id="301075">James Fairhurst</conductor>
    </result>
    
    <result id="62995">
      <result code="2">2</result>
      <band id="1867">Hyde British Legion Band</band>
      <conductor id="311696">A. T. Williamson</conductor>
    </result>
    
    <result id="63006">
      <result code="3">3</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="311091">Colin Waterhouse</conductor>
    </result>
    
    <result id="63011">
      <result code="4">4</result>
      <band id="319">Barton Town Band</band>
      <conductor id="297812">Gerald Benson</conductor>
    </result>
    
    <result id="62991">
      <result code="">Unknown Result</result>
      <band id="2115">Llansaint Silver</band>
      <conductor id="311014">Cliff Ward</conductor>
    </result>
    
    <result id="62992">
      <result code="">Unknown Result</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="309312">Alfred Smith</conductor>
    </result>
    
    <result id="62993">
      <result code="">Unknown Result</result>
      <band id="1501">Banks Brass</band>
      <conductor id="302817">William Haydock</conductor>
    </result>
    
    <result id="62994">
      <result code="">Unknown Result</result>
      <band id="257">Todmorden Old Band</band>
      <conductor id="296838">J. Akroyd</conductor>
    </result>
    
    <result id="62996">
      <result code="">Unknown Result</result>
      <band id="1617">Bentley Colliery</band>
      <conductor id="297513">A. Barnett</conductor>
    </result>
    
    <result id="62997">
      <result code="">Unknown Result</result>
      <band id="3151">Blackburn Valley Brass</band>
      <conductor id="297855">P. Berry</conductor>
    </result>
    
    <result id="62998">
      <result code="">Unknown Result</result>
      <band id="397">Hesketh Bank Band</band>
      <conductor id="303596">J. A. Hughes</conductor>
    </result>
    
    <result id="62999">
      <result code="">Unknown Result</result>
      <band id="3172">Ossett Borough</band>
      <conductor id="304433">Harold Kemp</conductor>
    </result>
    
    <result id="63000">
      <result code="">Unknown Result</result>
      <band id="1584">Dannemora Steelworks</band>
      <conductor id="297479">Arthur Barlow</conductor>
    </result>
    
    <result id="63001">
      <result code="">Unknown Result</result>
      <band id="3369">Burnhope Colliery Welfare</band>
      <conductor id="309376">H. Elliott Smith</conductor>
    </result>
    
    <result id="63002">
      <result code="">Unknown Result</result>
      <band id="2612">Denby United Silver Prize Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63004">
      <result code="">Unknown Result</result>
      <band id="278">Polypipe Rossington Band</band>
      <conductor id="297911">W. Biggs</conductor>
    </result>
    
    <result id="63005">
      <result code="">Unknown Result</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="306265">A. Moore</conductor>
    </result>
    
    <result id="63007">
      <result code="">Unknown Result</result>
      <band id="2683">Flockton United</band>
      <conductor id="297218">N. Atkins</conductor>
    </result>
    
    <result id="63008">
      <result code="">Unknown Result</result>
      <band id="3370">Edgeley</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63009">
      <result code="">Unknown Result</result>
      <band id="1906">Killamarsh Silver Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63010">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="302953">Hubert Hepworth</conductor>
    </result>
    
    <result id="63012">
      <result code="">Unknown Result</result>
      <band id="489">Shirebrook Band</band>
      <conductor id="305026">Joseph Levick</conductor>
    </result>
    
  </results>
</contest-event>
