<contest-event id="6811">
  <event-date date="1957-5-18">May 18, 1957<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1220">Sailors&#39; Songs [F. Wright]</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:23 p.m.</created>
  <last-modified>Aug. 27, 2011, 3:41 p.m.</last-modified>

  <results>
    
    <result id="63786">
      <result code="1">1</result>
      <band id="500">Whitwell Brass Band</band>
      <conductor id="298451">J. Bright</conductor>
    </result>
    
    <result id="63765">
      <result code="2">2</result>
      <band id="127">Barnsley Brass</band>
      <conductor id="309310">Albert Smith</conductor>
    </result>
    
    <result id="63774">
      <result code="3">3</result>
      <band id="4058">Preston Town Silver</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="63766">
      <result code="4">4</result>
      <band id="3447">Bridlington Excelsior Brass Band</band>
      <conductor id="298504">W. Brocklesby</conductor>
    </result>
    
    <result id="63769">
      <result code="5">5</result>
      <band id="4023">Mansfield Colliery Welfare</band>
      <conductor id="305701">R. Mason</conductor>
    </result>
    
    <result id="63768">
      <result code="6">6</result>
      <band id="133">Horbury Victoria Band</band>
      <conductor id="299408">G. Clayton</conductor>
    </result>
    
    <result id="63782">
      <result code="">Unknown Result</result>
      <band id="372">Billingham Silver Band</band>
      <conductor id="301525">Dick Freeland</conductor>
    </result>
    
    <result id="63772">
      <result code="">Unknown Result</result>
      <band id="151">Crofton Silver Band</band>
      <conductor id="309265">E. Slinger</conductor>
    </result>
    
    <result id="63767">
      <result code="">Unknown Result</result>
      <band id="300">Hathern Band</band>
      <conductor id="304394">Albert Kelham</conductor>
    </result>
    
    <result id="63770">
      <result code="">Unknown Result</result>
      <band id="2588">Maryport Albion</band>
      <conductor id="305666">R. Martin</conductor>
    </result>
    
    <result id="63771">
      <result code="">Unknown Result</result>
      <band id="451">Newtown Silver Band (Wales)</band>
      <conductor id="304915">J. H. Leach</conductor>
    </result>
    
    <result id="63773">
      <result code="">Unknown Result</result>
      <band id="4068">Oswestry Excelsior Silver Prize</band>
      <conductor id="307162">R. Parry</conductor>
    </result>
    
    <result id="63775">
      <result code="">Unknown Result</result>
      <band id="239">Ratby Co-operative Band</band>
      <conductor id="297420">John Bancroft</conductor>
    </result>
    
    <result id="63776">
      <result code="">Unknown Result</result>
      <band id="1346">Rochdale Band</band>
      <conductor id="305522">Frank Mallinson</conductor>
    </result>
    
    <result id="63777">
      <result code="">Unknown Result</result>
      <band id="3814">Royal Engineers Manchester</band>
      <conductor id="310115">A. Taylor</conductor>
    </result>
    
    <result id="63778">
      <result code="">Unknown Result</result>
      <band id="489">Shirebrook Band</band>
      <conductor id="299163">F. Chadborne</conductor>
    </result>
    
    <result id="63779">
      <result code="">Unknown Result</result>
      <band id="588">Stanhope Silver</band>
      <conductor id="311936">Jack Woodhall</conductor>
    </result>
    
    <result id="63780">
      <result code="">Unknown Result</result>
      <band id="3817">Stockport Police Band</band>
      <conductor id="303362">Charles Holt</conductor>
    </result>
    
    <result id="63781">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63783">
      <result code="">Unknown Result</result>
      <band id="5851">Thornhill Brass</band>
      <conductor id="304433">Harold Kemp</conductor>
    </result>
    
    <result id="63784">
      <result code="">Unknown Result</result>
      <band id="137">Wetherby and District Silver</band>
      <conductor id="301661">Arthur Garforth</conductor>
    </result>
    
    <result id="63785">
      <result code="">Unknown Result</result>
      <band id="778">Whaley Bridge Brass</band>
      <conductor id="310125">Brian Taylor</conductor>
    </result>
    
  </results>
</contest-event>
