<contest-event id="6826">
  <event-date date="1957-5-18">May 18, 1957<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1019">The Black Prince</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 4:01 p.m.</created>
  <last-modified>Aug. 28, 2011, 3:48 p.m.</last-modified>

  <results>
    
    <result id="63997">
      <result code="1">1</result>
      <band id="12337">Gresford Colliery</band>
      <conductor id="298176">G. A. Booth</conductor>
    </result>
    
    <result id="63994">
      <result code="2">2</result>
      <band id="578">Kingsway Printers Cleethorpes</band>
      <conductor id="297508">Russell Barnes</conductor>
    </result>
    
    <result id="64000">
      <result code="3">3</result>
      <band id="4948">Liverpool City (UK)</band>
      <conductor id="308745">William Sawyer</conductor>
    </result>
    
    <result id="63996">
      <result code="4">4</result>
      <band id="145">Elland Silver Band</band>
      <conductor id="306688">Roy Newsome</conductor>
    </result>
    
    <result id="63998">
      <result code="5">5</result>
      <band id="3610">Holborn Hill Royal</band>
      <conductor id="304831">R. Latimer (jnr)</conductor>
    </result>
    
    <result id="64004">
      <result code="6">6</result>
      <band id="503">Rolls Royce (Derby) Band</band>
      <conductor id="297130">J. Arthur</conductor>
    </result>
    
    <result id="63987">
      <result code="">Unknown Result</result>
      <band id="1636">Armley and Wortley Prize Band</band>
      <conductor id="305673">W. Martin</conductor>
    </result>
    
    <result id="63988">
      <result code="">Unknown Result</result>
      <band id="4566">Bentham</band>
      <conductor id="300582">E. Duckworth</conductor>
    </result>
    
    <result id="63990">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="311891">Joe Wood</conductor>
    </result>
    
    <result id="63989">
      <result code="">Unknown Result</result>
      <band id="224">Blackley Band</band>
      <conductor id="298340">E. Bradshaw</conductor>
    </result>
    
    <result id="63991">
      <result code="">Unknown Result</result>
      <band id="3194">Burley &amp; Ilkley</band>
      <conductor id="311009">W. I. Warburton</conductor>
    </result>
    
    <result id="63992">
      <result code="">Unknown Result</result>
      <band id="4021">Cheddleton Ex-Servicemen&#39;s</band>
      <conductor id="303618">W. Hughes</conductor>
    </result>
    
    <result id="63993">
      <result code="">Unknown Result</result>
      <band id="4043">Christ Church (Bradford) Silver</band>
      <conductor id="302418">Jon Hall</conductor>
    </result>
    
    <result id="63995">
      <result code="">Unknown Result</result>
      <band id="3401">Egremont Band</band>
      <conductor id="306124">F. G. Milfull</conductor>
    </result>
    
    <result id="63999">
      <result code="">Unknown Result</result>
      <band id="3183">Hull Railwaymen&#39;s</band>
      <conductor id="309321">C. Smith</conductor>
    </result>
    
    <result id="64001">
      <result code="">Unknown Result</result>
      <band id="2597">Lowca Colliery</band>
      <conductor id="311513">L. Wigham</conductor>
    </result>
    
    <result id="64002">
      <result code="">Unknown Result</result>
      <band id="3555">Parr Temperance</band>
      <conductor id="310157">J. H. Taylor</conductor>
    </result>
    
    <result id="64003">
      <result code="">Unknown Result</result>
      <band id="4946">Redgate Boys Silver</band>
      <conductor id="306535">Leo Murphy</conductor>
    </result>
    
    <result id="64005">
      <result code="">Unknown Result</result>
      <band id="2691">Scapegoat Hill</band>
      <conductor id="311134">J. Watson</conductor>
    </result>
    
    <result id="64006">
      <result code="">Unknown Result</result>
      <band id="4052">Sherburn Old Boys</band>
      <conductor id="305358">Charles N. Lund</conductor>
    </result>
    
    <result id="64007">
      <result code="">Unknown Result</result>
      <band id="3176">Spenborough Victoria</band>
      <conductor id="306667">Matthew Nevin</conductor>
    </result>
    
    <result id="64008">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="64009">
      <result code="">Unknown Result</result>
      <band id="875">Swineshead Silver Band</band>
      <conductor id="299823">C. J. Cox</conductor>
    </result>
    
    <result id="64010">
      <result code="">Unknown Result</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="309202">William Skelton</conductor>
    </result>
    
    <result id="64011">
      <result code="">Unknown Result</result>
      <band id="398">Tottington Public Band</band>
      <conductor id="308504">Herbert Rothwell</conductor>
    </result>
    
  </results>
</contest-event>
