<contest-event id="6589">
  <event-date date="1957-5-18">May 18, 1957<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1184">James Hook</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:23 p.m.</created>
  <last-modified>Aug. 21, 2011, 11:59 a.m.</last-modified>

  <results>
    
    <result id="62852">
      <result code="1">1</result>
      <band id="660">Carlisle St. Stephens Band</band>
      <conductor id="305327">Cyril Lowes</conductor>
    </result>
    
    <result id="62861">
      <result code="2">2</result>
      <band id="154">Linthwaite Silver Band</band>
      <conductor id="306374">John Willie Morley</conductor>
    </result>
    
    <result id="62863">
      <result code="3">3</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="62860">
      <result code="4">4</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="304087">H. Johnson</conductor>
    </result>
    
    <result id="62866">
      <result code="5">5</result>
      <band id="2746">Upton Colliery Workpeople&#39;s Band</band>
      <conductor id="309761">Joseph Stevens</conductor>
    </result>
    
    <result id="62858">
      <result code="6">6</result>
      <band id="3146">Elsecar Main Colliery</band>
      <conductor id="305072">P. V. Lewis</conductor>
    </result>
    
    <result id="62849">
      <result code="">Unknown Result</result>
      <band id="1718">Altrincham Borough</band>
      <conductor id="312101">Ronald Yarwood</conductor>
    </result>
    
    <result id="62850">
      <result code="">Unknown Result</result>
      <band id="3151">Blackburn Valley Brass</band>
      <conductor id="311522">F. L. Wilcock</conductor>
    </result>
    
    <result id="62851">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="303088">George Hill</conductor>
    </result>
    
    <result id="62853">
      <result code="">Unknown Result</result>
      <band id="3164">Clayton Subscription</band>
      <conductor id="299274">G. W. Chestney</conductor>
    </result>
    
    <result id="62854">
      <result code="">Unknown Result</result>
      <band id="2466">Clayton West</band>
      <conductor id="302441">George Hallas</conductor>
    </result>
    
    <result id="62855">
      <result code="">Unknown Result</result>
      <band id="1584">Dannemora Steelworks</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="62856">
      <result code="">Unknown Result</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="62857">
      <result code="">Unknown Result</result>
      <band id="3843">Dudley Workmens [Northumberland]</band>
      <conductor id="301776">A. Gibson</conductor>
    </result>
    
    <result id="62859">
      <result code="">Unknown Result</result>
      <band id="502">Fairfield (Buxton) Band</band>
      <conductor id="304730">C. F. Lack</conductor>
    </result>
    
    <result id="62862">
      <result code="">Unknown Result</result>
      <band id="3137">Leeds City</band>
      <conductor id="308174">T. E. Rickard</conductor>
    </result>
    
    <result id="62864">
      <result code="">Unknown Result</result>
      <band id="2988">Peterborough City</band>
      <conductor id="297524">P. G. Barnett</conductor>
    </result>
    
    <result id="62865">
      <result code="">Unknown Result</result>
      <band id="278">Polypipe Rossington Band</band>
      <conductor id="297911">W. Biggs</conductor>
    </result>
    
  </results>
</contest-event>
