<contest-event id="6585">
  <event-date date="1953-5-16">May 16, 1953<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="857">In Switzerland</test-piece>
  </test-piece>

  <venue id="140">Belle Vue, Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:14 p.m.</created>
  <last-modified>Aug. 21, 2011, 11:58 a.m.</last-modified>

  <results>
    
    <result id="57784">
      <result code="1">1</result>
      <band id="2696">Eckington United</band>
      <conductor id="297468">Harold Barker</conductor>
    </result>
    
    <result id="62832">
      <result code="2">2</result>
      <band id="1584">Dannemora Steelworks</band>
      <conductor id="297479">Arthur Barlow</conductor>
    </result>
    
    <result id="62836">
      <result code="3">3</result>
      <band id="2538">Water Band Rossendale</band>
      <conductor id="300408">Jack Disley</conductor>
    </result>
    
    <result id="62847">
      <result code="4">4</result>
      <band id="3375">Coppull Subscription Band</band>
      <conductor id="297816">Harry Bentham</conductor>
    </result>
    
    <result id="62833">
      <result code="">Unknown Result</result>
      <band id="4641">Harpur Hill Buxton</band>
      <conductor id="306964">R. Orritt</conductor>
    </result>
    
    <result id="62835">
      <result code="">Unknown Result</result>
      <band id="4090">Ibstock Welfare</band>
      <conductor id="305988">J. J. Measures</conductor>
    </result>
    
    <result id="62837">
      <result code="">Unknown Result</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="296917">C. Allison</conductor>
    </result>
    
    <result id="62838">
      <result code="">Unknown Result</result>
      <band id="4468">Dunham Woodhouses</band>
      <conductor id="309361">Fred Smith</conductor>
    </result>
    
    <result id="62839">
      <result code="">Unknown Result</result>
      <band id="3365">Stubbins Vale</band>
      <conductor id="297800">Robert Bennett</conductor>
    </result>
    
    <result id="62840">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="62841">
      <result code="">Unknown Result</result>
      <band id="3525">Haslingden Borough Band</band>
      <conductor id="305971">Joseph McQuilton</conductor>
    </result>
    
    <result id="62842">
      <result code="">Unknown Result</result>
      <band id="278">Polypipe Rossington Band</band>
      <conductor id="297911">W. Biggs</conductor>
    </result>
    
    <result id="62843">
      <result code="">Unknown Result</result>
      <band id="3370">Edgeley</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="62844">
      <result code="">Unknown Result</result>
      <band id="3369">Burnhope Colliery Welfare</band>
      <conductor id="296905">Robert Allen</conductor>
    </result>
    
    <result id="62845">
      <result code="">Unknown Result</result>
      <band id="2788">Leek British Legion</band>
      <conductor id="303607">Mr. Hughes</conductor>
    </result>
    
    <result id="62846">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="302953">Hubert Hepworth</conductor>
    </result>
    
    <result id="62848">
      <result code="">Unknown Result</result>
      <band id="2651">Eaton Works Band</band>
      <conductor id="303055">John Higginbottom</conductor>
    </result>
    
  </results>
</contest-event>
