<contest-event id="6822">
  <event-date date="1953-5-16">May 16, 1953<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="856">The Golden Dawn</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:51 p.m.</created>
  <last-modified>Oct. 4, 2013, 9:10 a.m.</last-modified>

  <results>
    
    <result id="63942">
      <result code="1">1</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="301327">Harry Fletcher</conductor>
    </result>
    
    <result id="63939">
      <result code="2">2</result>
      <band id="12209">Ireland Colliery Silver Prize</band>
      <conductor id="300850">Eric Elliott</conductor>
    </result>
    
    <result id="63937">
      <result code="3">3</result>
      <band id="4945">Filey Silver</band>
      <conductor id="301308">Walter Flather</conductor>
    </result>
    
    <result id="177350">
      <result code="4">4</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="63938">
      <result code="">Unknown Result</result>
      <band id="3173">Ravensthorpe Subscription</band>
      <conductor id="303279">Ernest Holdsworth</conductor>
    </result>
    
    <result id="63940">
      <result code="">Unknown Result</result>
      <band id="5367">Hunwick Silver</band>
      <conductor id="297865">J. Best</conductor>
    </result>
    
    <result id="63941">
      <result code="">Unknown Result</result>
      <band id="5368">Newton Heath Loco Works</band>
      <conductor id="304162">Alfred A Jones</conductor>
    </result>
    
    <result id="63944">
      <result code="">Unknown Result</result>
      <band id="4052">Sherburn Old Boys</band>
      <conductor id="311554">Cyril Wilkinson</conductor>
    </result>
    
    <result id="63945">
      <result code="">Unknown Result</result>
      <band id="3186">Ryhill Silver</band>
      <conductor id="309366">George Smith</conductor>
    </result>
    
    <result id="63946">
      <result code="">Unknown Result</result>
      <band id="6652">Langley Park Band</band>
      <conductor id="300517">G. B. Dover</conductor>
    </result>
    
    <result id="63947">
      <result code="">Unknown Result</result>
      <band id="5369">Leasingthorne Colliery</band>
      <conductor id="303619">William Hughes</conductor>
    </result>
    
    <result id="63948">
      <result code="">Unknown Result</result>
      <band id="5271">Helmshore Prize Band</band>
      <conductor id="297179">Richard Aspin</conductor>
    </result>
    
    <result id="63949">
      <result code="">Unknown Result</result>
      <band id="1916">Whitchurch Band</band>
      <conductor id="308032">William Reeves</conductor>
    </result>
    
  </results>
</contest-event>
