<contest-event id="6807">
  <event-date date="1953-5-16">May 16, 1953<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="898">Tales of Hoffmann</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:11 p.m.</created>
  <last-modified>Aug. 27, 2011, 11:39 a.m.</last-modified>

  <results>
    
    <result id="63521">
      <result code="1">1</result>
      <band id="36">Hatfield Band</band>
      <conductor id="297415">W. Bamford</conductor>
    </result>
    
    <result id="63512">
      <result code="2">2</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="307646">D. Power</conductor>
    </result>
    
    <result id="63510">
      <result code="3">3</result>
      <band id="3237">Brandon Colliery</band>
      <conductor id="303885">G. Jacobs</conductor>
    </result>
    
    <result id="63515">
      <result code="4">4</result>
      <band id="139">Dinnington Colliery Band</band>
      <conductor id="310025">George W. Sykes</conductor>
    </result>
    
    <result id="63509">
      <result code="">Unknown Result</result>
      <band id="3838">Anston United Silver</band>
      <conductor id="305071">Maldwyn Lewis</conductor>
    </result>
    
    <result id="63511">
      <result code="">Unknown Result</result>
      <band id="2731">Belmont Public</band>
      <conductor id="308092">F. Rhodes</conductor>
    </result>
    
    <result id="63513">
      <result code="">Unknown Result</result>
      <band id="171">Blackburn and Darwen Band</band>
      <conductor id="302817">William Haydock</conductor>
    </result>
    
    <result id="63514">
      <result code="">Unknown Result</result>
      <band id="140">Dodworth Colliery MW Brass</band>
      <conductor id="306867">Stanley O&#39;Connor</conductor>
    </result>
    
    <result id="63517">
      <result code="">Unknown Result</result>
      <band id="894">Earby Band</band>
      <conductor id="298141">Ronnie Bollen</conductor>
    </result>
    
    <result id="63516">
      <result code="">Unknown Result</result>
      <band id="145">Elland Silver Band</band>
      <conductor id="306688">Roy Newsome</conductor>
    </result>
    
    <result id="63518">
      <result code="">Unknown Result</result>
      <band id="5314">Fryston Colliery</band>
      <conductor id="304464">G. Kenworthy</conductor>
    </result>
    
    <result id="63519">
      <result code="">Unknown Result</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="304087">H. Johnson</conductor>
    </result>
    
    <result id="63520">
      <result code="">Unknown Result</result>
      <band id="3183">Hull Railwaymen&#39;s</band>
      <conductor id="309321">C. Smith</conductor>
    </result>
    
    <result id="63522">
      <result code="">Unknown Result</result>
      <band id="2534">Langwith Miners Welfare</band>
      <conductor id="302442">Squire Hallas</conductor>
    </result>
    
    <result id="63523">
      <result code="">Unknown Result</result>
      <band id="178">Mossley Band</band>
      <conductor id="297030">Frank Andrew</conductor>
    </result>
    
    <result id="63524">
      <result code="">Unknown Result</result>
      <band id="2986">Newark British Legion</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="63525">
      <result code="">Unknown Result</result>
      <band id="3172">Ossett Borough</band>
      <conductor id="304433">Harold Kemp</conductor>
    </result>
    
    <result id="63526">
      <result code="">Unknown Result</result>
      <band id="6429">Thornton Cleveleys Public</band>
      <conductor id="309462">W. Smith</conductor>
    </result>
    
  </results>
</contest-event>
