<contest-event id="6814">
  <event-date date="1962-5-26">May 26, 1962<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="348">Contest Day</test-piece>
  </test-piece>

  <venue id="724">Belle Vue (Cumberland Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:31 p.m.</created>
  <last-modified>Aug. 27, 2011, 11:28 a.m.</last-modified>

  <results>
    
    <result id="63504">
      <result code="1">1</result>
      <band id="4160">Shotton Colliery Band</band>
      <conductor id="298709">W. F. Buckley</conductor>
    </result>
    
    <result id="63500">
      <result code="2">2</result>
      <band id="499">Kirkby Colliery Welfare Band</band>
      <conductor id="305701">R. Mason</conductor>
    </result>
    
    <result id="63486">
      <result code="3">3</result>
      <band id="3447">Bridlington Excelsior Brass Band</band>
      <conductor id="301923">H. Gofton</conductor>
    </result>
    
    <result id="63490">
      <result code="4">4</result>
      <band id="3849">Elland C.E.F.A. Youth</band>
      <conductor id="301042">William Henry Exley</conductor>
    </result>
    
    <result id="63485">
      <result code="">Unknown Result</result>
      <band id="1617">Bentley Colliery</band>
      <conductor id="300784">Norman Edwards</conductor>
    </result>
    
    <result id="63487">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="63488">
      <result code="">Unknown Result</result>
      <band id="2021">City of Leicester</band>
      <conductor id="303872">R. Jackson</conductor>
    </result>
    
    <result id="63489">
      <result code="">Unknown Result</result>
      <band id="894">Earby Band</band>
      <conductor id="320432">E. Gregory</conductor>
    </result>
    
    <result id="63491">
      <result code="">Unknown Result</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="300035">Marcus Cutts</conductor>
    </result>
    
    <result id="63492">
      <result code="">Unknown Result</result>
      <band id="442">Grimethorpe Colliery Junior Band</band>
      <conductor id="309141">Fred Silver</conductor>
    </result>
    
    <result id="63493">
      <result code="">Unknown Result</result>
      <band id="3196">Guiseley Brass Band</band>
      <conductor id="309781">Ron Whybert Stevenson</conductor>
    </result>
    
    <result id="63494">
      <result code="">Unknown Result</result>
      <band id="5271">Helmshore Prize Band</band>
      <conductor id="311918">Willie Wood</conductor>
    </result>
    
    <result id="63495">
      <result code="">Unknown Result</result>
      <band id="2770">Heywood Old Prize</band>
      <conductor id="309377">Harold Smith</conductor>
    </result>
    
    <result id="63496">
      <result code="">Unknown Result</result>
      <band id="11771">Holmes Mills Rotherham</band>
      <conductor id="302604">Walter Hargreaves</conductor>
    </result>
    
    <result id="63497">
      <result code="">Unknown Result</result>
      <band id="440">Honley Silver Band</band>
      <conductor id="296819">Ellery Ainley</conductor>
    </result>
    
    <result id="63498">
      <result code="">Unknown Result</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="309943">W. Summerskill</conductor>
    </result>
    
    <result id="63499">
      <result code="">Unknown Result</result>
      <band id="1906">Killamarsh Silver Band</band>
      <conductor id="309064">John Shimwell</conductor>
    </result>
    
    <result id="63501">
      <result code="">Unknown Result</result>
      <band id="4084">Matlock Junior</band>
      <conductor id="309250">Murray Slater</conductor>
    </result>
    
    <result id="63502">
      <result code="">Unknown Result</result>
      <band id="3864">Middleton Victoria</band>
      <conductor id="298321">Frank Boylin</conductor>
    </result>
    
    <result id="63503">
      <result code="">Unknown Result</result>
      <band id="3186">Ryhill Silver</band>
      <conductor id="309358">F. T. Smith</conductor>
    </result>
    
    <result id="63505">
      <result code="">Unknown Result</result>
      <band id="3176">Spenborough Victoria</band>
      <conductor id="306058">M. Mervin</conductor>
    </result>
    
    <result id="63506">
      <result code="">Unknown Result</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">Sam Hartshorn</conductor>
    </result>
    
    <result id="63507">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63508">
      <result code="">Unknown Result</result>
      <band id="137">Wetherby and District Silver</band>
      <conductor id="297233">Tom Atkinson</conductor>
    </result>
    
  </results>
</contest-event>
