<contest-event id="6644">
  <event-date date="1962-5-26">May 26, 1962<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="414">Three Characteristic Pieces</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes>Note in British Bandsman 9/6/1962 states that Coppull failed to attend and Hebden Bridge played no 19 and gained 4th prize. Can anyone clarify?.
</notes>

  <created>June 23, 2011, 5:54 p.m.</created>
  <last-modified>Oct. 3, 2019, 3:31 p.m.</last-modified>

  <results>
    
    <result id="62883">
      <result code="1">1</result>
      <band id="1214">Loughborough</band>
      <conductor id="301271">Bud Fisher</conductor>
    </result>
    
    <result id="62888">
      <result code="2">2</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="297728">Jim Belfield</conductor>
    </result>
    
    <result id="62887">
      <result code="3">3</result>
      <band id="588">Stanhope Silver</band>
      <conductor id="311936">Jack Woodhall</conductor>
    </result>
    
    <result id="62878">
      <result code="4">4</result>
      <band id="3375">Coppull Subscription Band</band>
      <conductor id="301008">Richard Evans</conductor>
    </result>
    
    <result id="62881">
      <result code="">Unknown Result</result>
      <band id="3843">Dudley Workmens [Northumberland]</band>
      <conductor id="298156">Kenneth Bond</conductor>
    </result>
    
    <result id="62877">
      <result code="">Unknown Result</result>
      <band id="578">Kingsway Printers Cleethorpes</band>
      <conductor id="311312">A. Weston</conductor>
    </result>
    
    <result id="62873">
      <result code="">Unknown Result</result>
      <band id="689">Brodsworth Colliery Band</band>
      <conductor id="302580">D. V. Hardy</conductor>
    </result>
    
    <result id="62869">
      <result code="">Unknown Result</result>
      <band id="1499">Bedford (Leigh) Band</band>
      <conductor id="307204">H. Pasquill</conductor>
    </result>
    
    <result id="62870">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="311453">Geoffrey Whitham</conductor>
    </result>
    
    <result id="62875">
      <result code="">Unknown Result</result>
      <band id="2591">Burnage Manchester</band>
      <conductor id="309840">W. Stopford</conductor>
    </result>
    
    <result id="62874">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="298463">Charlie Brindley</conductor>
    </result>
    
    <result id="62884">
      <result code="">Unknown Result</result>
      <band id="229">Parr (St. Helens) Band</band>
      <conductor id="309761">Joseph Stevens</conductor>
    </result>
    
    <result id="62868">
      <result code="">Unknown Result</result>
      <band id="1391">Ballynahinch Silver Band</band>
      <conductor id="299957">E. J. Crozier</conductor>
    </result>
    
    <result id="62886">
      <result code="">Unknown Result</result>
      <band id="2691">Scapegoat Hill</band>
      <conductor id="301883">Frank Gledhill</conductor>
    </result>
    
    <result id="62885">
      <result code="">Unknown Result</result>
      <band id="276">Wallace Arnold (Rothwell) Band</band>
      <conductor id="308281">Gordon Roberts</conductor>
    </result>
    
    <result id="62867">
      <result code="">Unknown Result</result>
      <band id="5843">Ackton Hall Colliery Band</band>
      <conductor id="308898">T. Sellers</conductor>
    </result>
    
    <result id="62876">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="296907">W. Allen</conductor>
    </result>
    
    <result id="62880">
      <result code="">Unknown Result</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="62872">
      <result code="">Unknown Result</result>
      <band id="4064">British Railways (Gorton Works)</band>
      <conductor id="302418">Jon Hall</conductor>
    </result>
    
    <result id="62882">
      <result code="">Unknown Result</result>
      <band id="126">Hebden Bridge Band</band>
      <conductor id="300048">A. S. Dale</conductor>
    </result>
    
    <result id="62871">
      <result code="">Unknown Result</result>
      <band id="4067">Norman Memorial Band</band>
      <conductor id="309347">Denis Smith</conductor>
    </result>
    
    <result id="62879">
      <result code="">Unknown Result</result>
      <band id="1584">Dannemora Steelworks</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
  </results>
</contest-event>
