<contest-event id="5682">
  <event-date date="1962-5-26">May 26, 1962<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1034">Suite Ancienne</test-piece>
  </test-piece>

  <venue id="730">Belle Vue (Kent Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes>First Prize: The Besson Challenge Cup and £12
Second Prize: £8
Third Prize: £6
Fourth Prize: £5</notes>

  <created>May 2, 2011, 5:30 p.m.</created>
  <last-modified>July 19, 2013, 9:44 p.m.</last-modified>

  <results>
    
    <result id="48969">
      <result code="1">1</result>
      <band id="1921">Dawdon Lodge</band>
      <conductor id="305424">Stan MacDonald</conductor>
    </result>
    
    <result id="48980">
      <result code="2">2</result>
      <band id="207">Stalybridge Old Band</band>
      <conductor id="310034">S. Sykes</conductor>
    </result>
    
    <result id="48970">
      <result code="3">3</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="299783">I. D. Coulthard</conductor>
    </result>
    
    <result id="48973">
      <result code="4">4</result>
      <band id="36">Hatfield Band</band>
      <conductor id="309459">W. Smith</conductor>
    </result>
    
    <result id="48972">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="299728">E. Corker</conductor>
    </result>
    
    <result id="48979">
      <result code="">Unknown Result</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="299939">Eric Crossley</conductor>
    </result>
    
    <result id="48975">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="48976">
      <result code="">Unknown Result</result>
      <band id="516">Newhall Band</band>
      <conductor id="300559">J. H. Draycott</conductor>
    </result>
    
    <result id="48971">
      <result code="">Unknown Result</result>
      <band id="1348">Flint Town Silver</band>
      <conductor id="300628">J. Dunn</conductor>
    </result>
    
    <result id="48974">
      <result code="">Unknown Result</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="302704">C. Hart</conductor>
    </result>
    
    <result id="48968">
      <result code="">Unknown Result</result>
      <band id="4044">Crosby British Legion Silver</band>
      <conductor id="305939">Les McLaughlin</conductor>
    </result>
    
    <result id="48977">
      <result code="W">Withdrawn</result>
      <band id="288">Northop Band</band>
      <conductor id="310245">George Thelwell</conductor>
    </result>
    
    <result id="48978">
      <result code="W">Withdrawn</result>
      <band id="3172">Ossett Borough</band>
      <conductor id="311740">K. Wilshaw</conductor>
    </result>
    
    <result id="48981">
      <result code="W">Withdrawn</result>
      <band id="3435">Towyn Silver Band</band>
      <conductor id="304181">Cynon Jones</conductor>
    </result>
    
  </results>
</contest-event>
