<contest-event id="6828">
  <event-date date="1961-5-13">May 13, 1961<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="390">Three Songs without Words</test-piece>
  </test-piece>

  <venue id="728">Belle Vue (Central Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 4:07 p.m.</created>
  <last-modified>Nov. 23, 2014, 1:22 p.m.</last-modified>

  <results>
    
    <result id="64106">
      <result code="1">1</result>
      <band id="6652">Langley Park Band</band>
      <conductor id="299342">Bob Clark</conductor>
    </result>
    
    <result id="64118">
      <result code="2">2</result>
      <band id="4069">Prescot Parish Church</band>
      <conductor id="299971">A. T. Cull</conductor>
    </result>
    
    <result id="64121">
      <result code="3">3</result>
      <band id="11771">Holmes Mills Rotherham</band>
      <conductor id="302604">Walter Hargreaves</conductor>
    </result>
    
    <result id="64119">
      <result code="4">4</result>
      <band id="2021">City of Leicester</band>
      <conductor id="303872">R. Jackson</conductor>
    </result>
    
    <result id="64107">
      <result code="">Unknown Result</result>
      <band id="4044">Crosby British Legion Silver</band>
      <conductor id="305939">Les McLaughlin</conductor>
    </result>
    
    <result id="64108">
      <result code="">Unknown Result</result>
      <band id="207">Stalybridge Old Band</band>
      <conductor id="310034">S. Sykes</conductor>
    </result>
    
    <result id="64109">
      <result code="">Unknown Result</result>
      <band id="5271">Helmshore Prize Band</band>
      <conductor id="311918">Willie Wood</conductor>
    </result>
    
    <result id="64110">
      <result code="">Unknown Result</result>
      <band id="3864">Middleton Victoria</band>
      <conductor id="298321">Frank Boylin</conductor>
    </result>
    
    <result id="64111">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="299728">E. Corker</conductor>
    </result>
    
    <result id="64112">
      <result code="">Unknown Result</result>
      <band id="3372">Wythenshawe</band>
      <conductor id="299754">William J. Corry</conductor>
    </result>
    
    <result id="64113">
      <result code="">Unknown Result</result>
      <band id="3332">Miles Platting Mission</band>
      <conductor id="300383">H. Dickinson</conductor>
    </result>
    
    <result id="64114">
      <result code="">Unknown Result</result>
      <band id="4946">Redgate Boys Silver</band>
      <conductor id="306535">Leo Murphy</conductor>
    </result>
    
    <result id="64115">
      <result code="">Unknown Result</result>
      <band id="1389">36th Ulster Division Silver Band</band>
      <conductor id="302019">E. Graham</conductor>
    </result>
    
    <result id="64116">
      <result code="">Unknown Result</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="302704">C. Hart</conductor>
    </result>
    
    <result id="64117">
      <result code="">Unknown Result</result>
      <band id="1499">Bedford (Leigh) Band</band>
      <conductor id="307204">H. Pasquill</conductor>
    </result>
    
    <result id="64120">
      <result code="">Unknown Result</result>
      <band id="263">Grange Moor Brass Band</band>
      <conductor id="309383">J. Smith</conductor>
    </result>
    
    <result id="64122">
      <result code="">Unknown Result</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="300035">Marcus Cutts</conductor>
    </result>
    
    <result id="64123">
      <result code="">Unknown Result</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="301309">J. Flathers</conductor>
    </result>
    
    <result id="64124">
      <result code="">Unknown Result</result>
      <band id="8445">Castleton Silver [Derbs.]</band>
      <conductor id="310125">Brian Taylor</conductor>
    </result>
    
    <result id="64125">
      <result code="W">Withdrawn</result>
      <band id="857">Blidworth Welfare Band</band>
      <conductor id="299531">R. H. Collard</conductor>
    </result>
    
    <result id="64126">
      <result code="W">Withdrawn</result>
      <band id="3196">Guiseley Brass Band</band>
      <conductor id="309781">Ron Whybert Stevenson</conductor>
    </result>
    
    <result id="64127">
      <result code="W">Withdrawn</result>
      <band id="3839">Meersbrook Brass Band</band>
      <conductor id="298428">J. W. Briddon</conductor>
    </result>
    
    <result id="64128">
      <result code="W">Withdrawn</result>
      <band id="922">Skipton Brass</band>
      <conductor id="298452">Ken Bright</conductor>
    </result>
    
  </results>
</contest-event>
