<contest-event id="6593">
  <event-date date="1961-5-13">May 13, 1961<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="248">Petite Suite de Ballet</test-piece>
  </test-piece>

  <venue id="590">Belle Vue (Kings Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:31 p.m.</created>
  <last-modified>Aug. 21, 2011, 1:51 p.m.</last-modified>

  <results>
    
    <result id="62939">
      <result code="1">1</result>
      <band id="512">Pleasley Colliery Welfare Band</band>
      <conductor id="300801">H. Eggleshaw</conductor>
    </result>
    
    <result id="62942">
      <result code="2">2</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="303088">George Hill</conductor>
    </result>
    
    <result id="62937">
      <result code="3">3</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="297728">Jim Belfield</conductor>
    </result>
    
    <result id="62948">
      <result code="4">4</result>
      <band id="1381">Strandtown Silver Band</band>
      <conductor id="298746">James Burch</conductor>
    </result>
    
    <result id="62938">
      <result code="">Unknown Result</result>
      <band id="4875">Oakengates &amp; District</band>
      <conductor id="303778">W. Imeson</conductor>
    </result>
    
    <result id="62940">
      <result code="">Unknown Result</result>
      <band id="205">Boarshurst Silver Band</band>
      <conductor id="311448">Stanley Whiteman</conductor>
    </result>
    
    <result id="62941">
      <result code="">Unknown Result</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="62943">
      <result code="">Unknown Result</result>
      <band id="2746">Upton Colliery Workpeople&#39;s Band</band>
      <conductor id="310485">Harry Tomkins</conductor>
    </result>
    
    <result id="62944">
      <result code="">Unknown Result</result>
      <band id="292">Riddings Band</band>
      <conductor id="301987">Geoff Gossage</conductor>
    </result>
    
    <result id="62945">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="62946">
      <result code="">Unknown Result</result>
      <band id="4092">Rist&#39;s Cable Works</band>
      <conductor id="309202">William Skelton</conductor>
    </result>
    
    <result id="62947">
      <result code="">Unknown Result</result>
      <band id="4160">Shotton Colliery Band</band>
      <conductor id="311809">J. D. Winning</conductor>
    </result>
    
    <result id="62949">
      <result code="">Unknown Result</result>
      <band id="1693">Chopwell Colliery</band>
      <conductor id="298598">Gilbert Brown</conductor>
    </result>
    
    <result id="62950">
      <result code="">Unknown Result</result>
      <band id="4067">Norman Memorial Band</band>
      <conductor id="309347">Denis Smith</conductor>
    </result>
    
    <result id="62951">
      <result code="W">Withdrawn</result>
      <band id="1663">Irlam Silver Band</band>
      <conductor id="298340">E. Bradshaw</conductor>
    </result>
    
    <result id="62952">
      <result code="W">Withdrawn</result>
      <band id="1510">Workington</band>
      <conductor id="307415">W. Petre</conductor>
    </result>
    
  </results>
</contest-event>
