<contest-event id="5232">
  <event-date date="1977-5-22">May 22, 1977<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Senior Cup)</name>
  <contest id="26">
    <name>British Open Spring Festival (Senior Cup)</name>
    <order>20</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>senior-cup</slug>
    
    <notes>This section not held from 1983 to 2000.</notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="629">Promenade</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>April 5, 2011, 9:08 p.m.</created>
  <last-modified>April 7, 2014, 3:48 p.m.</last-modified>

  <results>
    
    <result id="45321">
      <result code="1">1</result>
      <band id="192">Dobcross Silver Band</band>
      <conductor id="311319">Peter Weston</conductor>
    </result>
    
    <result id="45338">
      <result code="2">2</result>
      <band id="2669">Queensbury</band>
      <conductor id="307029">Andrew Owenson</conductor>
    </result>
    
    <result id="45336">
      <result code="3">3</result>
      <band id="178">Mossley Band</band>
      <conductor id="308349">Harold Robinson</conductor>
    </result>
    
    <result id="45339">
      <result code="4">4</result>
      <band id="276">Wallace Arnold (Rothwell) Band</band>
      <conductor id="308281">Gordon Roberts</conductor>
    </result>
    
    <result id="45322">
      <result code="">Unknown Result</result>
      <band id="3138">Barnsley Music Centre</band>
      <conductor id="305106">Harold Lillford</conductor>
    </result>
    
    <result id="45324">
      <result code="">Unknown Result</result>
      <band id="9538">Black Country Brass</band>
      <conductor id="300907">D. Emery</conductor>
    </result>
    
    <result id="45325">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="307985">Don Redfern</conductor>
    </result>
    
    <result id="45326">
      <result code="">Unknown Result</result>
      <band id="206">City of Chester Band</band>
      <conductor id="303605">Mervin Hughes</conductor>
    </result>
    
    <result id="45327">
      <result code="">Unknown Result</result>
      <band id="142">Clifton and Lightcliffe Band</band>
      <conductor id="303042">James Hickman</conductor>
    </result>
    
    <result id="45323">
      <result code="">Unknown Result</result>
      <band id="1308">Congleton Brass</band>
      <conductor id="299612">Charles Cook</conductor>
    </result>
    
    <result id="45328">
      <result code="">Unknown Result</result>
      <band id="2637">Consett-Whitbread Trophy</band>
      <conductor id="300450">Jack Dodds</conductor>
    </result>
    
    <result id="45329">
      <result code="">Unknown Result</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="45330">
      <result code="">Unknown Result</result>
      <band id="572">Durham Constabulary</band>
      <conductor id="305421">Keith MacDonald</conductor>
    </result>
    
    <result id="45331">
      <result code="">Unknown Result</result>
      <band id="736">Enfield Brass Band</band>
      <conductor id="307901">C. Randall</conductor>
    </result>
    
    <result id="45332">
      <result code="">Unknown Result</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="311560">J. A. Wilkinson</conductor>
    </result>
    
    <result id="45333">
      <result code="">Unknown Result</result>
      <band id="126">Hebden Bridge Band</band>
      <conductor id="308179">John Ridgeon</conductor>
    </result>
    
    <result id="45335">
      <result code="">Unknown Result</result>
      <band id="1058">Marple Band</band>
      <conductor id="305830">M. McClean</conductor>
    </result>
    
    <result id="45337">
      <result code="">Unknown Result</result>
      <band id="1872">Oldham RBL Concert Band</band>
      <conductor id="304513">A. N. Kilroy</conductor>
    </result>
    
    <result id="45341">
      <result code="">Unknown Result</result>
      <band id="236">Staffordshire Band</band>
      <conductor id="298453">Peter Bright</conductor>
    </result>
    
    <result id="45334">
      <result code="">Unknown Result</result>
      <band id="132">Strata Brass</band>
      <conductor id="305072">P. V. Lewis</conductor>
    </result>
    
    <result id="45340">
      <result code="">Unknown Result</result>
      <band id="2391">Telford Youth</band>
      <conductor id="311118">S. Watkins</conductor>
    </result>
    
  </results>
</contest-event>
