<contest-event id="7129">
  <event-date date="1977-5-22">May 22, 1977<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="349">A Holiday Suite</test-piece>
  </test-piece>

  <venue id="731">Belle Vue (Bavaria Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 27, 2011, 11:17 a.m.</created>
  <last-modified>Aug. 27, 2011, 11:17 a.m.</last-modified>

  <results>
    
    <result id="63471">
      <result code="1">1</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="306898">John Offord</conductor>
    </result>
    
    <result id="63475">
      <result code="2">2</result>
      <band id="499">Kirkby Colliery Welfare Band</band>
      <conductor id="310978">Roy Walters</conductor>
    </result>
    
    <result id="63474">
      <result code="3">3</result>
      <band id="4349">Manx Youth</band>
      <conductor id="299925">James Crosbie</conductor>
    </result>
    
    <result id="63469">
      <result code="4">4</result>
      <band id="1840">Chorley Silver Band</band>
      <conductor id="297818">Roy Bentham</conductor>
    </result>
    
    <result id="63468">
      <result code="">Unknown Result</result>
      <band id="671">Holywell Band</band>
      <conductor id="303411">E. Hopkins</conductor>
    </result>
    
    <result id="63470">
      <result code="">Unknown Result</result>
      <band id="3133">Rotherham Town</band>
      <conductor id="310763">J. Varney</conductor>
    </result>
    
    <result id="63472">
      <result code="">Unknown Result</result>
      <band id="1435">Denton Original</band>
      <conductor id="303424">Stephen Hopkinson</conductor>
    </result>
    
    <result id="63473">
      <result code="">Unknown Result</result>
      <band id="997">Trafford Band</band>
      <conductor id="304089">Harry Johnson</conductor>
    </result>
    
    <result id="63476">
      <result code="">Unknown Result</result>
      <band id="2591">Burnage Manchester</band>
      <conductor id="306673">Gary Newborough</conductor>
    </result>
    
    <result id="63477">
      <result code="">Unknown Result</result>
      <band id="1499">Bedford (Leigh) Band</band>
      <conductor id="306225">Kevin Mole</conductor>
    </result>
    
    <result id="63478">
      <result code="">Unknown Result</result>
      <band id="192">Dobcross Silver Band</band>
      <conductor id="301782">George R. Gibson</conductor>
    </result>
    
    <result id="63479">
      <result code="">Unknown Result</result>
      <band id="1504">1st Haslington Boys Brigade</band>
      <conductor id="301539">G. French</conductor>
    </result>
    
    <result id="63480">
      <result code="">Unknown Result</result>
      <band id="1348">Flint Town Silver</band>
      <conductor id="299604">John T. Conway</conductor>
    </result>
    
    <result id="63481">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299758">J. Costa</conductor>
    </result>
    
    <result id="63482">
      <result code="">Unknown Result</result>
      <band id="1668">Hollingworth</band>
      <conductor id="302225">C. Griffiths</conductor>
    </result>
    
    <result id="63483">
      <result code="">Unknown Result</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="63484">
      <result code="">Unknown Result</result>
      <band id="2632">Hindley</band>
      <conductor id="310957">Norman Walmsley</conductor>
    </result>
    
  </results>
</contest-event>
