<contest-event id="7131">
  <event-date date="1976-5-9">May 9, 1976<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1035">The Young in Heart</test-piece>
  </test-piece>

  <venue id="559">Belle Vue (Lancaster Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 27, 2011, 1:23 p.m.</created>
  <last-modified>Aug. 27, 2011, 1:32 p.m.</last-modified>

  <results>
    
    <result id="63684">
      <result code="1">1</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="300216">K. Davis</conductor>
    </result>
    
    <result id="63689">
      <result code="2">2</result>
      <band id="166">Roberts Bakery Band</band>
      <conductor id="299867">Colin Cranson</conductor>
    </result>
    
    <result id="63687">
      <result code="3">3</result>
      <band id="1348">Flint Town Silver</band>
      <conductor id="299604">John T. Conway</conductor>
    </result>
    
    <result id="63698">
      <result code="4">4</result>
      <band id="2632">Hindley</band>
      <conductor id="310957">Norman Walmsley</conductor>
    </result>
    
    <result id="63681">
      <result code="">Unknown Result</result>
      <band id="1504">1st Haslington Boys Brigade</band>
      <conductor id="301536">C. French</conductor>
    </result>
    
    <result id="63682">
      <result code="">Unknown Result</result>
      <band id="1435">Denton Original</band>
      <conductor id="303424">Stephen Hopkinson</conductor>
    </result>
    
    <result id="63683">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="310934">Thomas Wall</conductor>
    </result>
    
    <result id="63685">
      <result code="">Unknown Result</result>
      <band id="192">Dobcross Silver Band</band>
      <conductor id="301782">George R. Gibson</conductor>
    </result>
    
    <result id="63686">
      <result code="">Unknown Result</result>
      <band id="1668">Hollingworth</band>
      <conductor id="302225">C. Griffiths</conductor>
    </result>
    
    <result id="63688">
      <result code="">Unknown Result</result>
      <band id="3133">Rotherham Town</band>
      <conductor id="310763">J. Varney</conductor>
    </result>
    
    <result id="63690">
      <result code="">Unknown Result</result>
      <band id="5326">Bradbury Boys School</band>
      <conductor id="310412">Christopher Throp</conductor>
    </result>
    
    <result id="63691">
      <result code="">Unknown Result</result>
      <band id="4349">Manx Youth</band>
      <conductor id="299925">James Crosbie</conductor>
    </result>
    
    <result id="63692">
      <result code="">Unknown Result</result>
      <band id="485">Stourport-on-Severn Brass Band</band>
      <conductor id="303852">George Jackson</conductor>
    </result>
    
    <result id="63693">
      <result code="">Unknown Result</result>
      <band id="997">Trafford Band</band>
      <conductor id="311977">J. Woodward</conductor>
    </result>
    
    <result id="63694">
      <result code="">Unknown Result</result>
      <band id="6652">Langley Park Band</band>
      <conductor id="306186">Thompson Minnis</conductor>
    </result>
    
    <result id="63695">
      <result code="">Unknown Result</result>
      <band id="1499">Bedford (Leigh) Band</band>
      <conductor id="306225">Kevin Mole</conductor>
    </result>
    
    <result id="63696">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="310859">T. Wadkin</conductor>
    </result>
    
    <result id="63697">
      <result code="">Unknown Result</result>
      <band id="587">Barnard Castle</band>
      <conductor id="302729">Peter D. Hartley</conductor>
    </result>
    
    <result id="63699">
      <result code="">Unknown Result</result>
      <band id="2628">Sunderland Borough Band</band>
      <conductor id="305354">Joe Lumsden</conductor>
    </result>
    
    <result id="63700">
      <result code="">Unknown Result</result>
      <band id="196">Morecambe Brass Band</band>
      <conductor id="301319">J. F. Fleming</conductor>
    </result>
    
  </results>
</contest-event>
