<contest-event id="6834">
  <event-date date="1956-5-26">May 26, 1956<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Primary Cup)</name>
  <contest id="908">
    <name>British Open Spring Festival (Primary Cup)</name>
    <order>70</order>
    <contest-type id="9">Own Choice Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>primary-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 4:22 p.m.</created>
  <last-modified>May 10, 2013, 9:29 p.m.</last-modified>

  <results>
    
    <result id="64160">
      <result code="1">1</result>
      <band id="4049">Morecambe Grammar School</band>
      <conductor id="311909">Samuel Balmforth Wood</conductor>
    </result>
    
    <result id="64161">
      <result code="2">2</result>
      <band id="8302">Reddish Band</band>
      <conductor id="311228">Ernie Wedgewood</conductor>
    </result>
    
    <result id="64158">
      <result code="3">3</result>
      <band id="4084">Matlock Junior</band>
      <conductor id="309250">Murray Slater</conductor>
    </result>
    
    <result id="64156">
      <result code="4">4</result>
      <band id="502">Fairfield (Buxton) Band</band>
      <conductor id="304577">C. H. Kitchen</conductor>
    </result>
    
    <result id="64154">
      <result code="">Unknown Result</result>
      <band id="3812">Bradley and Deighton</band>
      <conductor id="305163">A. Liversedge</conductor>
    </result>
    
    <result id="64155">
      <result code="">Unknown Result</result>
      <band id="3194">Burley &amp; Ilkley</band>
      <conductor id="311009">W. I. Warburton</conductor>
    </result>
    
    <result id="64157">
      <result code="">Unknown Result</result>
      <band id="5383">Manchester Fire Brigade Silver</band>
      <conductor id="304789">G. Lang</conductor>
    </result>
    
    <result id="64159">
      <result code="">Unknown Result</result>
      <band id="4062">Mirfield Silver</band>
      <conductor id="303022">E. Hey</conductor>
    </result>
    
    <result id="64162">
      <result code="">Unknown Result</result>
      <band id="5384">Regent Hall Methodist Church</band>
      <conductor id="312113">W. F. Yeo</conductor>
    </result>
    
    <result id="64163">
      <result code="">Unknown Result</result>
      <band id="4031">Rothwell Albion Silver</band>
      <conductor id="306946">T. Oram</conductor>
    </result>
    
    <result id="64164">
      <result code="">Unknown Result</result>
      <band id="3814">Royal Engineers Manchester</band>
      <conductor id="310115">A. Taylor</conductor>
    </result>
    
    <result id="64165">
      <result code="">Unknown Result</result>
      <band id="5385">St. John Ambulance Brigade Cadets</band>
      <conductor id="307981">W. Reddington</conductor>
    </result>
    
    <result id="64166">
      <result code="">Unknown Result</result>
      <band id="3817">Stockport Police Band</band>
      <conductor id="303362">Charles Holt</conductor>
    </result>
    
  </results>
</contest-event>
