<contest-event id="6825">
  <event-date date="1956-5-26">May 26, 1956<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1222">A Summer Day</test-piece>
  </test-piece>

  <venue id="518">Belle Vue (Pagoda Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>Stacksteads are not listed in the programme - a late addition maybe?</notes>

  <created>July 17, 2011, 3:58 p.m.</created>
  <last-modified>July 18, 2013, 1:14 p.m.</last-modified>

  <results>
    
    <result id="63875">
      <result code="1">1</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="63873">
      <result code="2">2</result>
      <band id="4023">Mansfield Colliery Welfare</band>
      <conductor id="305701">R. Mason</conductor>
    </result>
    
    <result id="63890">
      <result code="3">3</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63886">
      <result code="4">4</result>
      <band id="2597">Lowca Colliery</band>
      <conductor id="311513">L. Wigham</conductor>
    </result>
    
    <result id="63895">
      <result code="">Unknown Result</result>
      <band id="1527">Stacksteads Brass Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63878">
      <result code="">Unknown Result</result>
      <band id="3401">Egremont Band</band>
      <conductor id="306125">F. G. Milfull</conductor>
    </result>
    
    <result id="63879">
      <result code="">Unknown Result</result>
      <band id="278">Polypipe Rossington Band</band>
      <conductor id="297911">W. Biggs</conductor>
    </result>
    
    <result id="63883">
      <result code="">Unknown Result</result>
      <band id="349">Flookburgh Band</band>
      <conductor id="309957">Herbert Sutcliffe</conductor>
    </result>
    
    <result id="63874">
      <result code="">Unknown Result</result>
      <band id="3183">Hull Railwaymen&#39;s</band>
      <conductor id="311891">Joe Wood</conductor>
    </result>
    
    <result id="63889">
      <result code="">Unknown Result</result>
      <band id="6652">Langley Park Band</band>
      <conductor id="300517">G. B. Dover</conductor>
    </result>
    
    <result id="63893">
      <result code="">Unknown Result</result>
      <band id="168">Poulton-Le-Fylde Band</band>
      <conductor id="311295">H. D. West</conductor>
    </result>
    
    <result id="63894">
      <result code="">Unknown Result</result>
      <band id="1655">Dove Holes Band</band>
      <conductor id="301330">J. F. Fletcher</conductor>
    </result>
    
    <result id="63892">
      <result code="">Unknown Result</result>
      <band id="579">Swinton and District Excelsior Band [N Yorks]</band>
      <conductor id="299088">Clarence Cartwright</conductor>
    </result>
    
    <result id="63885">
      <result code="">Unknown Result</result>
      <band id="1663">Irlam Silver Band</band>
      <conductor id="298340">E. Bradshaw</conductor>
    </result>
    
    <result id="63888">
      <result code="">Unknown Result</result>
      <band id="133">Horbury Victoria Band</band>
      <conductor id="302683">H. E. Harrison</conductor>
    </result>
    
    <result id="63887">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="63877">
      <result code="">Unknown Result</result>
      <band id="11771">Holmes Mills Rotherham</band>
      <conductor id="302604">Walter Hargreaves</conductor>
    </result>
    
    <result id="63896">
      <result code="">Unknown Result</result>
      <band id="4946">Redgate Boys Silver</band>
      <conductor id="306535">Leo Murphy</conductor>
    </result>
    
    <result id="63871">
      <result code="">Unknown Result</result>
      <band id="3447">Bridlington Excelsior Brass Band</band>
      <conductor id="298503">W. Brocklesby</conductor>
    </result>
    
    <result id="63891">
      <result code="">Unknown Result</result>
      <band id="1357">Thornsett</band>
      <conductor id="308930">H. Sharkett</conductor>
    </result>
    
    <result id="63872">
      <result code="">Unknown Result</result>
      <band id="4566">Bentham</band>
      <conductor id="300582">E. Duckworth</conductor>
    </result>
    
    <result id="63882">
      <result code="">Unknown Result</result>
      <band id="3839">Meersbrook Brass Band</band>
      <conductor id="302127">F. G. Green</conductor>
    </result>
    
    <result id="63876">
      <result code="">Unknown Result</result>
      <band id="3838">Anston United Silver</band>
      <conductor id="305627">S. A. Marsh</conductor>
    </result>
    
    <result id="63884">
      <result code="">Unknown Result</result>
      <band id="224">Blackley Band</band>
      <conductor id="298340">E. Bradshaw</conductor>
    </result>
    
    <result id="63880">
      <result code="">Unknown Result</result>
      <band id="4948">Liverpool City (UK)</band>
      <conductor id="308745">William Sawyer</conductor>
    </result>
    
    <result id="63881">
      <result code="">Unknown Result</result>
      <band id="4044">Crosby British Legion Silver</band>
      <conductor id="305939">Les McLaughlin</conductor>
    </result>
    
  </results>
</contest-event>
