<contest-event id="6810">
  <event-date date="1956-5-26">May 26, 1956<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="390">Three Songs without Words</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:20 p.m.</created>
  <last-modified>May 10, 2013, 9:07 p.m.</last-modified>

  <results>
    
    <result id="63676">
      <result code="1">1</result>
      <band id="2988">Peterborough City</band>
      <conductor id="297524">P. G. Barnett</conductor>
    </result>
    
    <result id="63672">
      <result code="2">2</result>
      <band id="135">Meltham and Meltham Mills Band</band>
      <conductor id="311452">Edgar Whitham</conductor>
    </result>
    
    <result id="63673">
      <result code="3">3</result>
      <band id="178">Mossley Band</band>
      <conductor id="308705">Derek Sanderson</conductor>
    </result>
    
    <result id="63669">
      <result code="4">4</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="304087">H. Johnson</conductor>
    </result>
    
    <result id="63662">
      <result code="">Unknown Result</result>
      <band id="1718">Altrincham Borough</band>
      <conductor id="312101">Ronald Yarwood</conductor>
    </result>
    
    <result id="63664">
      <result code="">Unknown Result</result>
      <band id="3151">Blackburn Valley Brass</band>
      <conductor id="311522">F. L. Wilcock</conductor>
    </result>
    
    <result id="63663">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="302953">Hubert Hepworth</conductor>
    </result>
    
    <result id="63665">
      <result code="">Unknown Result</result>
      <band id="857">Blidworth Welfare Band</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="63666">
      <result code="">Unknown Result</result>
      <band id="2591">Burnage Manchester</band>
      <conductor id="308092">F. Rhodes</conductor>
    </result>
    
    <result id="63674">
      <result code="">Unknown Result</result>
      <band id="151">Crofton Silver Band</band>
      <conductor id="309265">E. Slinger</conductor>
    </result>
    
    <result id="63667">
      <result code="">Unknown Result</result>
      <band id="3843">Dudley Workmens [Northumberland]</band>
      <conductor id="301776">A. Gibson</conductor>
    </result>
    
    <result id="63668">
      <result code="">Unknown Result</result>
      <band id="156">Friendly Band (Sowerby Bridge)</band>
      <conductor id="304333">J. Kane</conductor>
    </result>
    
    <result id="63670">
      <result code="">Unknown Result</result>
      <band id="36">Hatfield Band</band>
      <conductor id="302236">Haydn Griffiths</conductor>
    </result>
    
    <result id="63671">
      <result code="">Unknown Result</result>
      <band id="3137">Leeds City</band>
      <conductor id="308174">T. E. Rickard</conductor>
    </result>
    
    <result id="63675">
      <result code="">Unknown Result</result>
      <band id="4068">Oswestry Excelsior Silver Prize</band>
      <conductor id="307162">R. Parry</conductor>
    </result>
    
    <result id="63677">
      <result code="">Unknown Result</result>
      <band id="4058">Preston Town Silver</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="63678">
      <result code="">Unknown Result</result>
      <band id="239">Ratby Co-operative Band</band>
      <conductor id="297420">John Bancroft</conductor>
    </result>
    
    <result id="63679">
      <result code="">Unknown Result</result>
      <band id="489">Shirebrook Band</band>
      <conductor id="311945">Ernest Woodhouse</conductor>
    </result>
    
    <result id="63661">
      <result code="">Unknown Result</result>
      <band id="236">Staffordshire Band</band>
      <conductor id="309354">E. T. Smith</conductor>
    </result>
    
    <result id="63680">
      <result code="">Unknown Result</result>
      <band id="1402">Stedfast Band</band>
      <conductor id="300673">Stanley Dyke</conductor>
    </result>
    
  </results>
</contest-event>
