<contest-event id="6588">
  <event-date date="1956-5-26">May 26, 1956<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1183">Kubla Khan</test-piece>
  </test-piece>

  <venue id="764">Belle Vue (Coronation Ballroom), Manchester, Lancashire, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:19 p.m.</created>
  <last-modified>May 10, 2013, 9:07 p.m.</last-modified>

  <results>
    
    <result id="62904">
      <result code="1">1</result>
      <band id="3237">Brandon Colliery</band>
      <conductor id="298598">Gilbert Brown</conductor>
    </result>
    
    <result id="62909">
      <result code="2">2</result>
      <band id="2635">Tweedales &amp; Smalley</band>
      <conductor id="311393">H. White</conductor>
    </result>
    
    <result id="62907">
      <result code="3">3</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="62906">
      <result code="4">4</result>
      <band id="2207">John Thompson Works Band</band>
      <conductor id="301720">Bram Gay</conductor>
    </result>
    
    <result id="62905">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="301327">Harry Fletcher</conductor>
    </result>
    
    <result id="62908">
      <result code="">Unknown Result</result>
      <band id="3176">Spenborough Victoria</band>
      <conductor id="306667">Matthew Nevin</conductor>
    </result>
    
    <result id="62910">
      <result code="">Unknown Result</result>
      <band id="2538">Water Band Rossendale</band>
      <conductor id="299125">C. Catlow</conductor>
    </result>
    
    <result id="62911">
      <result code="">Unknown Result</result>
      <band id="500">Whitwell Brass Band</band>
      <conductor id="298451">J. Bright</conductor>
    </result>
    
    <result id="62912">
      <result code="">Unknown Result</result>
      <band id="2704">Wood End W.M.C.</band>
      <conductor id="309354">E. T. Smith</conductor>
    </result>
    
  </results>
</contest-event>
