<contest-event id="5878">
  <event-date date="1978-5-7">May 7, 1978<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  <contest-type-override id="9">Own Choice Test Piece Contest</contest-type-override>
  <test-piece>
    
  </test-piece>

  <venue id="559">Belle Vue (Lancaster Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>Own Choice Contest</notes>

  <created>May 9, 2011, 7:52 p.m.</created>
  <last-modified>April 29, 2014, 2:23 p.m.</last-modified>

  <results>
    
    <result id="51175">
      <result code="1">1</result>
      <band id="4349">Manx Youth</band>
      <conductor id="299925">James Crosbie</conductor>
    </result>
    
    <result id="51164">
      <result code="2">2</result>
      <band id="1840">Chorley Silver Band</band>
      <conductor id="297816">Harry Bentham</conductor>
    </result>
    
    <result id="51168">
      <result code="3">3</result>
      <band id="191">Eccleston Brass</band>
      <conductor id="306672">J. L. Newbiggin</conductor>
    </result>
    
    <result id="51173">
      <result code="4">4</result>
      <band id="2784">Kingsway Youth</band>
      <conductor id="299565">C. C. Colwell</conductor>
    </result>
    
    <result id="51161">
      <result code="5">5</result>
      <band id="1499">Bedford (Leigh) Band</band>
      <conductor id="303193">Alan Hobson</conductor>
    </result>
    
    <result id="51166">
      <result code="6">6</result>
      <band id="4269">Droylsden &amp; District</band>
      <conductor id="308131">R. C. Richards</conductor>
    </result>
    
    <result id="51165">
      <result code="7">7</result>
      <band id="1435">Denton Original</band>
      <conductor id="302679">E. E. Harrison</conductor>
    </result>
    
    <result id="51162">
      <result code="8">8</result>
      <band id="2591">Burnage Manchester</band>
      <conductor id="306673">Gary Newborough</conductor>
    </result>
    
    <result id="51174">
      <result code="8">8</result>
      <band id="173">Longridge Band</band>
      <conductor id="299465">J. H. Clowe</conductor>
    </result>
    
    <result id="51163">
      <result code="10">10</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299758">J. Costa</conductor>
    </result>
    
    <result id="51176">
      <result code="11">11</result>
      <band id="1361">Port Sunlight Royal British Legion</band>
      <conductor id="300866">G. J. Ellis</conductor>
    </result>
    
    <result id="51169">
      <result code="11">11</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="51167">
      <result code="13">13</result>
      <band id="894">Earby Band</band>
      <conductor id="310427">Ben Tierney</conductor>
    </result>
    
    <result id="51160">
      <result code="14">14</result>
      <band id="4346">Ashtonian Brass</band>
      <conductor id="299268">J. B. Cheshire</conductor>
    </result>
    
    <result id="51172">
      <result code="15">15</result>
      <band id="671">Holywell Band</band>
      <conductor id="303411">E. Hopkins</conductor>
    </result>
    
    <result id="51170">
      <result code="15">15</result>
      <band id="5652">Hammonds Junior Band</band>
      <conductor id="305937">J. McLauchlan</conductor>
    </result>
    
    <result id="51177">
      <result code="17">17</result>
      <band id="2628">Sunderland Borough Band</band>
      <conductor id="309092">R. Shorton</conductor>
    </result>
    
    <result id="51171">
      <result code="W">Withdrawn</result>
      <band id="2632">Hindley</band>
      <conductor id="306225">Kevin Mole</conductor>
    </result>
    
  </results>
</contest-event>
