<contest-event id="7159">
  <event-date date="1974-5-4">May 4, 1974<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="390">Three Songs without Words</test-piece>
  </test-piece>

  <venue id="730">Belle Vue (Kent Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 28, 2011, 9:06 a.m.</created>
  <last-modified>Aug. 28, 2011, 9:11 a.m.</last-modified>

  <results>
    
    <result id="63862">
      <result code="1">1</result>
      <band id="403">British Steel Teesside</band>
      <conductor id="308362">Ken Robinson</conductor>
    </result>
    
    <result id="63860">
      <result code="2">2</result>
      <band id="4289">Desford and South Midlands Welfare Juniors</band>
      <conductor id="310073">John Talbot</conductor>
    </result>
    
    <result id="63861">
      <result code="3">3</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="63863">
      <result code="4">4</result>
      <band id="1406">Bloomfield Amateur Silver Band</band>
      <conductor id="298745">Jack Burch</conductor>
    </result>
    
    <result id="63858">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="312012">G. Worrell</conductor>
    </result>
    
    <result id="63859">
      <result code="">Unknown Result</result>
      <band id="5353">Broadway Secondary School</band>
      <conductor id="303400">Alan Hope</conductor>
    </result>
    
    <result id="63864">
      <result code="">Unknown Result</result>
      <band id="3047">Hathersage</band>
      <conductor id="302844">A. B. Hazelhurst</conductor>
    </result>
    
    <result id="63865">
      <result code="">Unknown Result</result>
      <band id="5354">Darlington Music Centre</band>
      <conductor id="307692">A. R. J. Price</conductor>
    </result>
    
    <result id="63866">
      <result code="">Unknown Result</result>
      <band id="4312">Bridgnorth &amp; District</band>
      <conductor id="309082">David Short</conductor>
    </result>
    
    <result id="63867">
      <result code="">Unknown Result</result>
      <band id="997">Trafford Band</band>
      <conductor id="311977">J. Woodward</conductor>
    </result>
    
    <result id="63868">
      <result code="">Unknown Result</result>
      <band id="2633">Loch Garman Silver</band>
      <conductor id="300673">Stanley Dyke</conductor>
    </result>
    
    <result id="63869">
      <result code="">Unknown Result</result>
      <band id="667">Conwy Town</band>
      <conductor id="297890">Gordon Bibby</conductor>
    </result>
    
    <result id="63870">
      <result code="">Unknown Result</result>
      <band id="1821">Mossley Hollins High School Band</band>
      <conductor id="301112">B. Farrar</conductor>
    </result>
    
  </results>
</contest-event>
