<contest-event id="7077">
  <event-date date="1974-5-4">May 4, 1974<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="714">Shakespearean Rhapsody</test-piece>
  </test-piece>

  <venue id="728">Belle Vue (Central Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 21, 2011, 5:38 p.m.</created>
  <last-modified>Aug. 21, 2011, 5:46 p.m.</last-modified>

  <results>
    
    <result id="63129">
      <result code="1">1</result>
      <band id="142">Clifton and Lightcliffe Band</band>
      <conductor id="303042">James Hickman</conductor>
    </result>
    
    <result id="63142">
      <result code="2">2</result>
      <band id="2634">Aycliffe Brass Band</band>
      <conductor id="306404">S. D. Morris</conductor>
    </result>
    
    <result id="63138">
      <result code="3">3</result>
      <band id="2548">Colwyn Borough Band</band>
      <conductor id="298321">Frank Boylin</conductor>
    </result>
    
    <result id="63127">
      <result code="4">4</result>
      <band id="765">Moston &amp; Beswick Band</band>
      <conductor id="308240">Albert Risby</conductor>
    </result>
    
    <result id="63126">
      <result code="">Unknown Result</result>
      <band id="1435">Denton Original</band>
      <conductor id="303680">Jim Hunter</conductor>
    </result>
    
    <result id="63128">
      <result code="">Unknown Result</result>
      <band id="189">Delph Band</band>
      <conductor id="310509">Ted Tooley</conductor>
    </result>
    
    <result id="63130">
      <result code="">Unknown Result</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="63131">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299110">P. Casson</conductor>
    </result>
    
    <result id="63132">
      <result code="">Unknown Result</result>
      <band id="2029">Wakefield Youth</band>
      <conductor id="304589">Peter Kitson</conductor>
    </result>
    
    <result id="63133">
      <result code="">Unknown Result</result>
      <band id="2636">Prestwich Borough</band>
      <conductor id="311120">T. Watkins</conductor>
    </result>
    
    <result id="63134">
      <result code="">Unknown Result</result>
      <band id="3456">Ryhope Colliery</band>
      <conductor id="311767">J. Wilson</conductor>
    </result>
    
    <result id="63135">
      <result code="">Unknown Result</result>
      <band id="472">Brackley and District Band</band>
      <conductor id="299084">Pat Carthew</conductor>
    </result>
    
    <result id="63136">
      <result code="">Unknown Result</result>
      <band id="449">Deiniolen Band</band>
      <conductor id="306783">R. F. Noor</conductor>
    </result>
    
    <result id="63137">
      <result code="">Unknown Result</result>
      <band id="445">Yeadon Old Band</band>
      <conductor id="299967">Vernon Cuff</conductor>
    </result>
    
    <result id="63139">
      <result code="">Unknown Result</result>
      <band id="972">Trefor Band</band>
      <conductor id="297154">Derek Ashmore</conductor>
    </result>
    
    <result id="63140">
      <result code="">Unknown Result</result>
      <band id="442">Grimethorpe Colliery Junior Band</band>
      <conductor id="310317">Barry Thompson</conductor>
    </result>
    
    <result id="63141">
      <result code="">Unknown Result</result>
      <band id="502">Fairfield (Buxton) Band</band>
      <conductor id="306594">T. Naden</conductor>
    </result>
    
    <result id="63143">
      <result code="W">Withdrawn</result>
      <band id="2491">Huthwaite Prize Band</band>
      <conductor id="299671">Haydn Cooper</conductor>
    </result>
    
    <result id="63144">
      <result code="W">Withdrawn</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="308451">Stan Roocroft</conductor>
    </result>
    
    <result id="63145">
      <result code="W">Withdrawn</result>
      <band id="162">Pemberton Old Wigan DW Band</band>
      <conductor id="298634">Malcolm Brownbill</conductor>
    </result>
    
  </results>
</contest-event>
