<contest-event id="7128">
  <event-date date="1974-5-4">May 4, 1974<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="637">Everybody&#39;s Child</test-piece>
  </test-piece>

  <venue id="729">Belle Vue (Derby Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 27, 2011, 11:15 a.m.</created>
  <last-modified>April 29, 2014, 2:24 p.m.</last-modified>

  <results>
    
    <result id="63463">
      <result code="1">1</result>
      <band id="1058">Marple Band</band>
      <conductor id="305830">M. McClean</conductor>
    </result>
    
    <result id="63465">
      <result code="2">2</result>
      <band id="485">Stourport-on-Severn Brass Band</band>
      <conductor id="303852">George Jackson</conductor>
    </result>
    
    <result id="63464">
      <result code="3">3</result>
      <band id="1484">Preston Youth</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="63466">
      <result code="4">4</result>
      <band id="492">Porthywaen Band</band>
      <conductor id="307801">J. Pugh</conductor>
    </result>
    
    <result id="63461">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="303793">H. Ingle</conductor>
    </result>
    
    <result id="63462">
      <result code="">Unknown Result</result>
      <band id="2632">Hindley</band>
      <conductor id="307278">R. Peacock</conductor>
    </result>
    
    <result id="63467">
      <result code="">Unknown Result</result>
      <band id="156">Friendly Band (Sowerby Bridge)</band>
      <conductor id="300088">Derek Danks</conductor>
    </result>
    
  </results>
</contest-event>
