<contest-event id="6699">
  <event-date date="1964-5-9">May 9, 1964<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="637">Everybody&#39;s Child</test-piece>
  </test-piece>

  <venue id="140">Belle Vue, Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 1, 2011, 11:03 a.m.</created>
  <last-modified>Aug. 21, 2011, 12:07 p.m.</last-modified>

  <results>
    
    <result id="62896">
      <result code="1">1</result>
      <band id="442">Grimethorpe Colliery Junior Band</band>
      <conductor id="304100">Ken Johnson</conductor>
    </result>
    
    <result id="62899">
      <result code="2">2</result>
      <band id="937">Lingdale Silver Band</band>
      <conductor id="307890">F. Ramage</conductor>
    </result>
    
    <result id="62894">
      <result code="3">3</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="300035">Marcus Cutts</conductor>
    </result>
    
    <result id="62898">
      <result code="4">4</result>
      <band id="179">Haydock Band</band>
      <conductor id="301477">Charles Fradley</conductor>
    </result>
    
    <result id="62902">
      <result code="">Unknown Result</result>
      <band id="857">Blidworth Welfare Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62889">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62890">
      <result code="">Unknown Result</result>
      <band id="3254">Cargo Fleet Steel</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62891">
      <result code="">Unknown Result</result>
      <band id="18196">Clock Face and Sutton Manor</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62892">
      <result code="">Unknown Result</result>
      <band id="434">Cottingham Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62893">
      <result code="">Unknown Result</result>
      <band id="3843">Dudley Workmens [Northumberland]</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62895">
      <result code="">Unknown Result</result>
      <band id="4158">Grasslot Miners Welfare Brass Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62897">
      <result code="">Unknown Result</result>
      <band id="300">Hathern Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62900">
      <result code="">Unknown Result</result>
      <band id="4058">Preston Town Silver</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62901">
      <result code="">Unknown Result</result>
      <band id="197">Skelmersdale Prize Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62903">
      <result code="">Unknown Result</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="297728">Jim Belfield</conductor>
    </result>
    
  </results>
</contest-event>
