<contest-event id="6703">
  <event-date date="1972-5-6">May 6, 1972<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="983">The Gay Delavals</test-piece>
  </test-piece>

  <venue id="559">Belle Vue (Lancaster Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 1, 2011, 11:15 a.m.</created>
  <last-modified>Aug. 21, 2011, 2:05 p.m.</last-modified>

  <results>
    
    <result id="62986">
      <result code="1">1</result>
      <band id="298">Kirkbymoorside Town Band</band>
      <conductor id="305757">Les Maw</conductor>
    </result>
    
    <result id="62981">
      <result code="2">2</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="302196">David Grey</conductor>
    </result>
    
    <result id="62982">
      <result code="3">3</result>
      <band id="765">Moston &amp; Beswick Band</band>
      <conductor id="308240">Albert Risby</conductor>
    </result>
    
    <result id="62985">
      <result code="4">4</result>
      <band id="214">Cheshire Constabulary Band</band>
      <conductor id="303362">Charles Holt</conductor>
    </result>
    
    <result id="62979">
      <result code="5">5</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="305666">R. Martin</conductor>
    </result>
    
    <result id="62977">
      <result code="6">6</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="297479">Arthur Barlow</conductor>
    </result>
    
    <result id="62974">
      <result code="">Unknown Result</result>
      <band id="2562">Ecclesfield Silver</band>
      <conductor id="302730">Roy Hartley</conductor>
    </result>
    
    <result id="62975">
      <result code="">Unknown Result</result>
      <band id="473">Wigston Band</band>
      <conductor id="306275">Edward Moore</conductor>
    </result>
    
    <result id="62976">
      <result code="">Unknown Result</result>
      <band id="156">Friendly Band (Sowerby Bridge)</band>
      <conductor id="301042">William Henry Exley</conductor>
    </result>
    
    <result id="62978">
      <result code="">Unknown Result</result>
      <band id="5851">Thornhill Brass</band>
      <conductor id="299952">John Crowther</conductor>
    </result>
    
    <result id="62980">
      <result code="">Unknown Result</result>
      <band id="3456">Ryhope Colliery</band>
      <conductor id="305354">Joe Lumsden</conductor>
    </result>
    
    <result id="62983">
      <result code="">Unknown Result</result>
      <band id="442">Grimethorpe Colliery Junior Band</band>
      <conductor id="310317">Barry Thompson</conductor>
    </result>
    
    <result id="62984">
      <result code="">Unknown Result</result>
      <band id="2551">Storeys of Lancaster Band</band>
      <conductor id="308358">J. D. Robinson</conductor>
    </result>
    
    <result id="62987">
      <result code="">Unknown Result</result>
      <band id="1355">Windsor Salford</band>
      <conductor id="299412">J. Clayton</conductor>
    </result>
    
    <result id="62988">
      <result code="">Unknown Result</result>
      <band id="4772">Shildon British Railways</band>
      <conductor id="297316">A. Bagley</conductor>
    </result>
    
    <result id="62989">
      <result code="">Unknown Result</result>
      <band id="1058">Marple Band</band>
      <conductor id="305830">M. McClean</conductor>
    </result>
    
    <result id="62990">
      <result code="W">Withdrawn</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="306964">R. Orritt</conductor>
    </result>
    
  </results>
</contest-event>
