<contest-event id="6820">
  <event-date date="1972-5-6">May 6, 1972<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="163">Little Suite for Brass [Arnold]</test-piece>
  </test-piece>

  <venue id="728">Belle Vue (Central Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:47 p.m.</created>
  <last-modified>Aug. 27, 2011, 11:47 a.m.</last-modified>

  <results>
    
    <result id="63564">
      <result code="1">1</result>
      <band id="972">Trefor Band</band>
      <conductor id="304213">Geraint Jones</conductor>
    </result>
    
    <result id="63556">
      <result code="2">2</result>
      <band id="396">Littleborough Band</band>
      <conductor id="302459">H. Halstead</conductor>
    </result>
    
    <result id="63562">
      <result code="3">3</result>
      <band id="52">Skelmanthorpe Band</band>
      <conductor id="311481">R. Whittle</conductor>
    </result>
    
    <result id="63560">
      <result code="4">4</result>
      <band id="258">Point of Ayr Colliery Band</band>
      <conductor id="305054">G. Lewis</conductor>
    </result>
    
    <result id="63552">
      <result code="5">5</result>
      <band id="142">Clifton and Lightcliffe Band</band>
      <conductor id="306839">James Nuttall</conductor>
    </result>
    
    <result id="63559">
      <result code="6">6</result>
      <band id="2634">Aycliffe Brass Band</band>
      <conductor id="311417">Ray White</conductor>
    </result>
    
    <result id="63548">
      <result code="">Unknown Result</result>
      <band id="4054">Ashworth Brass Band</band>
      <conductor id="309009">Stan Sheasby</conductor>
    </result>
    
    <result id="63549">
      <result code="">Unknown Result</result>
      <band id="927">Askam Town Silver Band</band>
      <conductor id="298914">P. Cain</conductor>
    </result>
    
    <result id="63550">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299110">P. Casson</conductor>
    </result>
    
    <result id="63551">
      <result code="">Unknown Result</result>
      <band id="2548">Colwyn Borough Band</band>
      <conductor id="298321">Frank Boylin</conductor>
    </result>
    
    <result id="63553">
      <result code="">Unknown Result</result>
      <band id="894">Earby Band</band>
      <conductor id="309377">Harold Smith</conductor>
    </result>
    
    <result id="63554">
      <result code="">Unknown Result</result>
      <band id="1668">Hollingworth</band>
      <conductor id="302225">C. Griffiths</conductor>
    </result>
    
    <result id="63555">
      <result code="">Unknown Result</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="63557">
      <result code="">Unknown Result</result>
      <band id="185">Middleton Band</band>
      <conductor id="300274">Gordon Dean</conductor>
    </result>
    
    <result id="63558">
      <result code="">Unknown Result</result>
      <band id="196">Morecambe Brass Band</band>
      <conductor id="301319">J. F. Fleming</conductor>
    </result>
    
    <result id="63561">
      <result code="">Unknown Result</result>
      <band id="492">Porthywaen Band</band>
      <conductor id="307801">J. Pugh</conductor>
    </result>
    
    <result id="63563">
      <result code="">Unknown Result</result>
      <band id="2759">Southport St. John Ambulance Brigade Silver Band</band>
      <conductor id="305939">Les McLaughlin</conductor>
    </result>
    
  </results>
</contest-event>
