<contest-event id="6823">
  <event-date date="1954-5-22">May 22, 1954<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="795">Beautiful Britain</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:53 p.m.</created>
  <last-modified>May 9, 2013, 11:14 p.m.</last-modified>

  <results>
    
    <result id="64056">
      <result code="1">1</result>
      <band id="4058">Preston Town Silver</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="64044">
      <result code="2">2</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="64040">
      <result code="3">3</result>
      <band id="4262">Bedworth Silver Prize Band</band>
      <conductor id="309373">H. A. Smith</conductor>
    </result>
    
    <result id="64048">
      <result code="4">4</result>
      <band id="133">Horbury Victoria Band</band>
      <conductor id="303285">Percy Holgate</conductor>
    </result>
    
    <result id="64047">
      <result code="5">5</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="304087">H. Johnson</conductor>
    </result>
    
    <result id="64042">
      <result code="6">6</result>
      <band id="857">Blidworth Welfare Band</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="64049">
      <result code="">Unknown Result</result>
      <band id="3183">Hull Railwaymen&#39;s</band>
      <conductor id="309321">C. Smith</conductor>
    </result>
    
    <result id="64037">
      <result code="">Unknown Result</result>
      <band id="4582">All Souls Parish Church</band>
      <conductor id="308374">W. Robinson</conductor>
    </result>
    
    <result id="64054">
      <result code="">Unknown Result</result>
      <band id="5368">Newton Heath Loco Works</band>
      <conductor id="311378">C. H. White</conductor>
    </result>
    
    <result id="64055">
      <result code="">Unknown Result</result>
      <band id="1588">Northfield</band>
      <conductor id="298407">T. F. Brennan</conductor>
    </result>
    
    <result id="64036">
      <result code="">Unknown Result</result>
      <band id="5375">Aberystwyth B.L</band>
      <conductor id="298686">C. W. Buck</conductor>
    </result>
    
    <result id="64059">
      <result code="">Unknown Result</result>
      <band id="5376">Taddington</band>
      <conductor id="309237">J. R. Slack</conductor>
    </result>
    
    <result id="64043">
      <result code="">Unknown Result</result>
      <band id="2643">Botanic Silver Band</band>
      <conductor id="301613">J. E. Galbraith</conductor>
    </result>
    
    <result id="64046">
      <result code="">Unknown Result</result>
      <band id="3167">Denby Dale Brass</band>
      <conductor id="311555">E. Wilkinson</conductor>
    </result>
    
    <result id="64039">
      <result code="">Unknown Result</result>
      <band id="4080">Atherstone Miners&#39; Welfare</band>
      <conductor id="309606">Bernard Springett</conductor>
    </result>
    
    <result id="64053">
      <result code="">Unknown Result</result>
      <band id="178">Mossley Band</band>
      <conductor id="297030">Frank Andrew</conductor>
    </result>
    
    <result id="156832">
      <result code="">Unknown Result</result>
      <band id="10019">C.E.F.A. Boys</band>
      <conductor id="297718">Walter Beevers</conductor>
    </result>
    
    <result id="64051">
      <result code="">Unknown Result</result>
      <band id="3839">Meersbrook Brass Band</band>
      <conductor id="311717">N. Willis</conductor>
    </result>
    
    <result id="64038">
      <result code="">Unknown Result</result>
      <band id="3853">Ashbourne Town Band</band>
      <conductor id="304253">Michael Jones</conductor>
    </result>
    
    <result id="64050">
      <result code="">Unknown Result</result>
      <band id="6652">Langley Park Band</band>
      <conductor id="300517">G. B. Dover</conductor>
    </result>
    
    <result id="64057">
      <result code="">Unknown Result</result>
      <band id="239">Ratby Co-operative Band</band>
      <conductor id="297420">John Bancroft</conductor>
    </result>
    
    <result id="64058">
      <result code="">Unknown Result</result>
      <band id="3613">Sowerby Bridge Subscription</band>
      <conductor id="309550">E. Speak</conductor>
    </result>
    
    <result id="64041">
      <result code="W">Withdrawn</result>
      <band id="4566">Bentham</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="64045">
      <result code="W">Withdrawn</result>
      <band id="206">City of Chester Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="64052">
      <result code="W">Withdrawn</result>
      <band id="3296">Morley British Legion</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
  </results>
</contest-event>
