<contest-event id="6586">
  <event-date date="1954-5-22">May 22, 1954<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1060">In Tudor Days</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:16 p.m.</created>
  <last-modified>May 9, 2013, 10:36 p.m.</last-modified>

  <results>
    
    <result id="62934">
      <result code="1">1</result>
      <band id="2692">Thorne Colliery</band>
      <conductor id="297205">Jack Atherton</conductor>
    </result>
    
    <result id="62923">
      <result code="2">2</result>
      <band id="139">Dinnington Colliery Band</band>
      <conductor id="310025">George W. Sykes</conductor>
    </result>
    
    <result id="62916">
      <result code="3">3</result>
      <band id="3237">Brandon Colliery</band>
      <conductor id="303885">G. Jacobs</conductor>
    </result>
    
    <result id="62936">
      <result code="4">4</result>
      <band id="137">Wetherby and District Silver</band>
      <conductor id="301661">Arthur Garforth</conductor>
    </result>
    
    <result id="62915">
      <result code="5">5</result>
      <band id="3376">Birfield Industries Works</band>
      <conductor id="311545">C. A. Wilford</conductor>
    </result>
    
    <result id="62925">
      <result code="6">6</result>
      <band id="2587">Failsworth Youth Band</band>
      <conductor id="297146">Norman Ashcroft</conductor>
    </result>
    
    <result id="62924">
      <result code="">Unknown Result</result>
      <band id="140">Dodworth Colliery MW Brass</band>
      <conductor id="306867">Stanley O&#39;Connor</conductor>
    </result>
    
    <result id="62926">
      <result code="">Unknown Result</result>
      <band id="2795">Harpurhey &amp; Moston Band</band>
      <conductor id="297884">J. Bevan</conductor>
    </result>
    
    <result id="62931">
      <result code="">Unknown Result</result>
      <band id="3173">Ravensthorpe Subscription</band>
      <conductor id="302374">F. Haigh</conductor>
    </result>
    
    <result id="62919">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="307647">D. A. Power</conductor>
    </result>
    
    <result id="62935">
      <result code="">Unknown Result</result>
      <band id="2538">Water Band Rossendale</band>
      <conductor id="300408">Jack Disley</conductor>
    </result>
    
    <result id="62920">
      <result code="">Unknown Result</result>
      <band id="2466">Clayton West</band>
      <conductor id="311899">Milnes Wood</conductor>
    </result>
    
    <result id="62933">
      <result code="">Unknown Result</result>
      <band id="207">Stalybridge Old Band</band>
      <conductor id="299491">S. Cockram</conductor>
    </result>
    
    <result id="62932">
      <result code="">Unknown Result</result>
      <band id="278">Polypipe Rossington Band</band>
      <conductor id="297911">W. Biggs</conductor>
    </result>
    
    <result id="62918">
      <result code="">Unknown Result</result>
      <band id="2591">Burnage Manchester</band>
      <conductor id="308092">F. Rhodes</conductor>
    </result>
    
    <result id="62913">
      <result code="W">Withdrawn</result>
      <band id="319">Barton Town Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62914">
      <result code="W">Withdrawn</result>
      <band id="435">Bedford Town Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62917">
      <result code="W">Withdrawn</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="302234">Edwin Griffiths</conductor>
    </result>
    
    <result id="62921">
      <result code="W">Withdrawn</result>
      <band id="3375">Coppull Subscription Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62922">
      <result code="W">Withdrawn</result>
      <band id="1584">Dannemora Steelworks</band>
      <conductor id="297479">Arthur Barlow</conductor>
    </result>
    
    <result id="62927">
      <result code="W">Withdrawn</result>
      <band id="36">Hatfield Band</band>
      <conductor id="297415">W. Bamford</conductor>
    </result>
    
    <result id="62928">
      <result code="W">Withdrawn</result>
      <band id="126">Hebden Bridge Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="62929">
      <result code="W">Withdrawn</result>
      <band id="1867">Hyde British Legion Band</band>
      <conductor id="305433">J. MacLennan</conductor>
    </result>
    
    <result id="62930">
      <result code="W">Withdrawn</result>
      <band id="229">Parr (St. Helens) Band</band>
      <conductor id="310933">T. Wall Jnr</conductor>
    </result>
    
  </results>
</contest-event>
