<contest-event id="6808">
  <event-date date="1954-5-22">May 22, 1954<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1034">Suite Ancienne</test-piece>
  </test-piece>

  <venue id="3511">Belle Vue (Lake Bar), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:15 p.m.</created>
  <last-modified>May 9, 2013, 10:49 p.m.</last-modified>

  <results>
    
    <result id="63585">
      <result code="1">1</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="301327">Harry Fletcher</conductor>
    </result>
    
    <result id="63583">
      <result code="2">2</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="302953">Hubert Hepworth</conductor>
    </result>
    
    <result id="63593">
      <result code="3">3</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="63584">
      <result code="4">4</result>
      <band id="2753">Brancepeth Welfare Band</band>
      <conductor id="296824">J. W. Ainsley</conductor>
    </result>
    
    <result id="63595">
      <result code="5">5</result>
      <band id="1210">Templemore</band>
      <conductor id="297733">Alfie Bell</conductor>
    </result>
    
    <result id="63592">
      <result code="6">6</result>
      <band id="3172">Ossett Borough</band>
      <conductor id="304433">Harold Kemp</conductor>
    </result>
    
    <result id="63588">
      <result code="">Unknown Result</result>
      <band id="4945">Filey Silver</band>
      <conductor id="301308">Walter Flather</conductor>
    </result>
    
    <result id="63589">
      <result code="">Unknown Result</result>
      <band id="12209">Ireland Colliery Silver Prize</band>
      <conductor id="300850">Eric Elliott</conductor>
    </result>
    
    <result id="63587">
      <result code="">Unknown Result</result>
      <band id="3146">Elsecar Main Colliery</band>
      <conductor id="302212">George Griffin</conductor>
    </result>
    
    <result id="63594">
      <result code="">Unknown Result</result>
      <band id="4797">Stockport Borough</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63596">
      <result code="">Unknown Result</result>
      <band id="5930">Waltham (Lincs)</band>
      <conductor id="311362">Edward Whitaker</conductor>
    </result>
    
    <result id="63586">
      <result code="">Unknown Result</result>
      <band id="3255">Crewe West End</band>
      <conductor id="301336">R. H. Fletcher</conductor>
    </result>
    
    <result id="63590">
      <result code="W">Withdrawn</result>
      <band id="131">Kippax Band</band>
      <conductor id="306375">N. Morley</conductor>
    </result>
    
    <result id="63591">
      <result code="W">Withdrawn</result>
      <band id="3137">Leeds City</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63597">
      <result code="W">Withdrawn</result>
      <band id="5321">Warrington Catholic</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
  </results>
</contest-event>
