<band id="2149">
  <name>Reading Spring Gardens Brass Band</name>
  <slug>spring-gardens</slug>
  <website>https://readingband.com/</website>
  <twitter>None</twitter>
  <region id="4">London and Southern Counties</region>
  <latitude>51.447147</latitude>
  <longitude>-1.021224</longitude>
  <rehearsal>Thursday</rehearsal>
  <rehearsal>None</rehearsal>
  
  
  <start>Jan. 1, 1903</start>
  <end></end>
  <status>Competing</status>
  <grading>Third</grading>
  <scratch_band>False</scratch_band>

  <previous_names>
    
    <name id="18978"></name>
    <start>None</start>
    <end>None</end>
    
    <name id="2981">Reading Spring Gardens</name>
    <start>None</start>
    <end>None</end>
    
    <name id="18977">Spring Gardens</name>
    <start>None</start>
    <end>None</end>
    
    <name id="9040">Spring Gardens</name>
    <start>None</start>
    <end>None</end>
    
    <name id="7980">Spring Gardens (Reading)</name>
    <start>None</start>
    <end>None</end>
    
    <name id="2979">Spring Gardens Silver</name>
    <start>None</start>
    <end>None</end>
    
    <name id="12560">Spring Gardens Silver Prize</name>
    <start>None</start>
    <end>None</end>
    
    <name id="8483">Spring Gardens Silver (Reading)</name>
    <start>None</start>
    <end>None</end>
    
    <name id="11738">Spring Gardens Wesleyan</name>
    <start>None</start>
    <end>None</end>
    
  </previous_names>
</band>
