<band id="6557">
  <name>Springburn Public</name>
  <slug>springburn-public</slug>
  <website>http://</website>
  <twitter></twitter>
  <region id="7">Scotland</region>
  <latitude>55.887828</latitude>
  <longitude>-4.230852</longitude>
  <rehearsal>None</rehearsal>
  <rehearsal>None</rehearsal>
  
  
  <start>None</start>
  <end></end>
  <status>Extinct</status>
  <grading>None</grading>
  <scratch_band>False</scratch_band>

  <previous_names>
    
  </previous_names>
</band>
