<band id="10692">
  <name>Springfield Working Men&#39;s Club</name>
  <slug>springfield-working-men-s-club</slug>
  <website>http://</website>
  <twitter></twitter>
  <region id="5">Midlands</region>
  <latitude>None</latitude>
  <longitude>None</longitude>
  <rehearsal>None</rehearsal>
  <rehearsal>None</rehearsal>
  
  
  <start>None</start>
  <end></end>
  <status>Extinct</status>
  <grading>None</grading>
  <scratch_band>False</scratch_band>

  <previous_names>
    
    <name id="11909">Springfield WMC</name>
    <start>None</start>
    <end>None</end>
    
  </previous_names>
</band>
