<contest-event id="6459">
  <event-date date="1968-5-25">May 25, 1968<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="923">Little Suite for Brass Band No. 2</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 13, 2011, 8:04 p.m.</created>
  <last-modified>June 13, 2011, 8:05 p.m.</last-modified>

  <results>
    
    <result id="56875">
      <result code="1">1</result>
      <band id="390">Greenalls Band</band>
      <conductor id="301477">Charles Fradley</conductor>
    </result>
    
    <result id="56876">
      <result code="2">2</result>
      <band id="262">Holme Silver (Disposables UK Group) Band</band>
      <conductor id="308335">Albert Robinson</conductor>
    </result>
    
    <result id="56873">
      <result code="3">3</result>
      <band id="193">Douglas Town Band</band>
      <conductor id="299925">James Crosbie</conductor>
    </result>
    
    <result id="56878">
      <result code="4">4</result>
      <band id="765">Moston &amp; Beswick Band</band>
      <conductor id="308240">Albert Risby</conductor>
    </result>
    
    <result id="56871">
      <result code="">Unknown Result</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="306964">R. Orritt</conductor>
    </result>
    
    <result id="56872">
      <result code="">Unknown Result</result>
      <band id="147">Emley Brass Band</band>
      <conductor id="311306">Charlie Westerby</conductor>
    </result>
    
    <result id="56874">
      <result code="">Unknown Result</result>
      <band id="3146">Elsecar Main Colliery</band>
      <conductor id="297747">P. Bell</conductor>
    </result>
    
    <result id="56877">
      <result code="">Unknown Result</result>
      <band id="396">Littleborough Public Band</band>
      <conductor id="302459">H. Halstead</conductor>
    </result>
    
  </results>
</contest-event>
