<contest-event id="6461">
  <event-date date="1968-5-25">May 25, 1968<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1164">Partita Piccola</test-piece>
  </test-piece>

  <venue id="728">Belle Vue (Central Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>19 bands took part</notes>

  <created>June 13, 2011, 8:18 p.m.</created>
  <last-modified>Feb. 1, 2013, 2:44 p.m.</last-modified>

  <results>
    
    <result id="56892">
      <result code="1">1</result>
      <band id="1308">Congleton Brass</band>
      <conductor id="299612">Charles Cook</conductor>
    </result>
    
    <result id="56901">
      <result code="2">2</result>
      <band id="2757">Milnrow Public Band</band>
      <conductor id="304880">T. Lawson</conductor>
    </result>
    
    <result id="56891">
      <result code="3">3</result>
      <band id="127">Barnsley Brass</band>
      <conductor id="303940">Frank Jaques</conductor>
    </result>
    
    <result id="56907">
      <result code="4">4</result>
      <band id="1930">Thurlstone Brass Band</band>
      <conductor id="310653">Jeffrey Turner</conductor>
    </result>
    
    <result id="56890">
      <result code="">Unknown Result</result>
      <band id="927">Askam Town Silver Band</band>
      <conductor id="298914">P. Cain</conductor>
    </result>
    
    <result id="56893">
      <result code="">Unknown Result</result>
      <band id="1406">Bloomfield Amateur Silver Band</band>
      <conductor id="303407">A. R. Hopkins</conductor>
    </result>
    
    <result id="56894">
      <result code="">Unknown Result</result>
      <band id="4043">Christ Church (Bradford) Silver</band>
      <conductor id="311228">Ernie Wedgewood</conductor>
    </result>
    
    <result id="56900">
      <result code="">Unknown Result</result>
      <band id="2651">Eaton Works Band</band>
      <conductor id="303972">C. Jeffries</conductor>
    </result>
    
    <result id="56895">
      <result code="">Unknown Result</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="56896">
      <result code="">Unknown Result</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="299784">J. D. Coulthard</conductor>
    </result>
    
    <result id="56897">
      <result code="">Unknown Result</result>
      <band id="1348">Flint Town Silver</band>
      <conductor id="300628">J. Dunn</conductor>
    </result>
    
    <result id="56898">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="305643">W. Marshall</conductor>
    </result>
    
    <result id="56899">
      <result code="">Unknown Result</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="56902">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="56903">
      <result code="">Unknown Result</result>
      <band id="4255">Salford Silver</band>
      <conductor id="302869">W. Heatley</conductor>
    </result>
    
    <result id="56905">
      <result code="">Unknown Result</result>
      <band id="1549">Sam Smiths Old Brewery</band>
      <conductor id="301191">Frank Fenton</conductor>
    </result>
    
    <result id="56904">
      <result code="">Unknown Result</result>
      <band id="3141">Scarborough Town</band>
      <conductor id="310539">A. Towse</conductor>
    </result>
    
    <result id="56906">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="56908">
      <result code="">Unknown Result</result>
      <band id="4766">Wood Green Brass</band>
      <conductor id="301131">M. Farrington</conductor>
    </result>
    
    <result id="56909">
      <result code="">Unknown Result</result>
      <band id="4767">Youlgrave Silver</band>
      <conductor id="308211">N. A. Riley</conductor>
    </result>
    
  </results>
</contest-event>
