<contest-event id="6460">
  <event-date date="1968-5-25">May 25, 1968<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="237">Four Little Maids</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 13, 2011, 8:11 p.m.</created>
  <last-modified>June 13, 2011, 8:11 p.m.</last-modified>

  <results>
    
    <result id="56885">
      <result code="1">1</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="299939">Eric Crossley</conductor>
    </result>
    
    <result id="56886">
      <result code="2">2</result>
      <band id="276">Wallace Arnold (Rothwell) Band</band>
      <conductor id="308281">Gordon Roberts</conductor>
    </result>
    
    <result id="56889">
      <result code="3">3</result>
      <band id="778">Whaley Bridge Brass</band>
      <conductor id="303132">Barry Hinde</conductor>
    </result>
    
    <result id="56887">
      <result code="4">4</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">Sam Hartshorn</conductor>
    </result>
    
    <result id="56880">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="56881">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299110">P. Casson</conductor>
    </result>
    
    <result id="56882">
      <result code="">Unknown Result</result>
      <band id="2021">City of Leicester</band>
      <conductor id="298300">G. Boyce</conductor>
    </result>
    
    <result id="56879">
      <result code="">Unknown Result</result>
      <band id="4054">Ashworth Brass Band</band>
      <conductor id="309009">Stan Sheasby</conductor>
    </result>
    
    <result id="56883">
      <result code="">Unknown Result</result>
      <band id="2713">Ellesmere Port Silver Band</band>
      <conductor id="300770">E. G. Edwards</conductor>
    </result>
    
    <result id="56884">
      <result code="">Unknown Result</result>
      <band id="581">Bearpark and Esh Colliery</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="56888">
      <result code="W">Withdrawn</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
  </results>
</contest-event>
