<contest-event id="6817">
  <event-date date="1965-5-15">May 15, 1965<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="793">Divertimento [Ball]</test-piece>
  </test-piece>

  <venue id="559">Belle Vue (Lancaster Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:38 p.m.</created>
  <last-modified>March 29, 2020, 10:16 p.m.</last-modified>

  <results>
    
    <result id="63570">
      <result code="1">1</result>
      <band id="3375">Coppull Subscription Band</band>
      <conductor id="302817">William Haydock</conductor>
    </result>
    
    <result id="63566">
      <result code="2">2</result>
      <band id="4105">Brigg Town Brass Band</band>
      <conductor id="297812">Gerald Benson</conductor>
    </result>
    
    <result id="63576">
      <result code="3">3</result>
      <band id="298">Kirkbymoorside Town Band</band>
      <conductor id="305757">Les Maw</conductor>
    </result>
    
    <result id="63578">
      <result code="4">4</result>
      <band id="3384">Lockwood Band (Huddersfield)</band>
      <conductor id="304362">Willie Kaye</conductor>
    </result>
    
    <result id="63565">
      <result code="">Unknown Result</result>
      <band id="3838">Anston United Silver</band>
      <conductor id="307951">K. Ray</conductor>
    </result>
    
    <result id="316867">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="63568">
      <result code="">Unknown Result</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="309684">J. B. Stead</conductor>
    </result>
    
    <result id="63577">
      <result code="">Unknown Result</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="63572">
      <result code="">Unknown Result</result>
      <band id="4269">Droylsden &amp; District</band>
      <conductor id="306032">A. D. Melow</conductor>
    </result>
    
    <result id="63569">
      <result code="">Unknown Result</result>
      <band id="147">Emley Brass Band</band>
      <conductor id="311306">Charlie Westerby</conductor>
    </result>
    
    <result id="63573">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="299728">E. Corker</conductor>
    </result>
    
    <result id="63575">
      <result code="">Unknown Result</result>
      <band id="390">Greenalls Band</band>
      <conductor id="301477">Charles Fradley</conductor>
    </result>
    
    <result id="63574">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="302128">Fred G. Green</conductor>
    </result>
    
    <result id="63579">
      <result code="">Unknown Result</result>
      <band id="2582">North Ashton Prize</band>
      <conductor id="306617">Les Naylor</conductor>
    </result>
    
    <result id="63580">
      <result code="">Unknown Result</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="299939">Eric Crossley</conductor>
    </result>
    
    <result id="63581">
      <result code="">Unknown Result</result>
      <band id="1822">Penrith Town Band</band>
      <conductor id="298354">Ken Braithwaite</conductor>
    </result>
    
    <result id="63571">
      <result code="">Unknown Result</result>
      <band id="4237">Telford Band</band>
      <conductor id="297384">Edwin Baldwin</conductor>
    </result>
    
    <result id="63582">
      <result code="">Unknown Result</result>
      <band id="5319">Wesley Hall Trinity</band>
      <conductor id="297171">R. Ashworth</conductor>
    </result>
    
  </results>
</contest-event>
