<contest-event id="6830">
  <event-date date="1965-5-15">May 15, 1965<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="422">Pride of the Forest</test-piece>
  </test-piece>

  <venue id="729">Belle Vue (Derby Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 4:11 p.m.</created>
  <last-modified>Aug. 28, 2011, 3:31 p.m.</last-modified>

  <results>
    
    <result id="63953">
      <result code="1">1</result>
      <band id="1665">Bolsover Colliery</band>
      <conductor id="303297">J. Holland</conductor>
    </result>
    
    <result id="63958">
      <result code="2">2</result>
      <band id="2713">Ellesmere Port Silver Band</band>
      <conductor id="300770">E. G. Edwards</conductor>
    </result>
    
    <result id="63962">
      <result code="3">3</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="63951">
      <result code="4">4</result>
      <band id="1491">Barlestone Victoria</band>
      <conductor id="298569">Bill Brotherhood</conductor>
    </result>
    
    <result id="63955">
      <result code="">Unknown Result</result>
      <band id="5365">4th 22nd Cheshire Regt T.A.</band>
      <conductor id="299970">A. Cull</conductor>
    </result>
    
    <result id="63950">
      <result code="">Unknown Result</result>
      <band id="4054">Ashworth Brass Band</band>
      <conductor id="309009">Stan Sheasby</conductor>
    </result>
    
    <result id="63952">
      <result code="">Unknown Result</result>
      <band id="1499">Bedford (Leigh) Band</band>
      <conductor id="307204">H. Pasquill</conductor>
    </result>
    
    <result id="63954">
      <result code="">Unknown Result</result>
      <band id="3840">Calverton Colliery Welfare</band>
      <conductor id="298621">Norman Brown</conductor>
    </result>
    
    <result id="63956">
      <result code="">Unknown Result</result>
      <band id="934">Dalton Town Band</band>
      <conductor id="310926">W. Walker</conductor>
    </result>
    
    <result id="63957">
      <result code="">Unknown Result</result>
      <band id="145">Elland Silver Band</band>
      <conductor id="296768">D. Ackroyd</conductor>
    </result>
    
    <result id="63959">
      <result code="">Unknown Result</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="63960">
      <result code="">Unknown Result</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="299782">S. D. Coultard</conductor>
    </result>
    
    <result id="63961">
      <result code="">Unknown Result</result>
      <band id="5274">Hugglescote and South Leicester Welfare</band>
      <conductor id="300954">H. Essex</conductor>
    </result>
    
    <result id="63963">
      <result code="">Unknown Result</result>
      <band id="356">Marske Brass</band>
      <conductor id="313871">Cecil Peacock</conductor>
    </result>
    
    <result id="63964">
      <result code="">Unknown Result</result>
      <band id="3332">Miles Platting Mission</band>
      <conductor id="302856">Harry Heap</conductor>
    </result>
    
    <result id="63965">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="63966">
      <result code="">Unknown Result</result>
      <band id="239">Ratby Co-operative Band</band>
      <conductor id="297420">John Bancroft</conductor>
    </result>
    
    <result id="63967">
      <result code="">Unknown Result</result>
      <band id="456">Royal Buckley Town Band</band>
      <conductor id="305181">J. K. Lloyd</conductor>
    </result>
    
    <result id="63968">
      <result code="">Unknown Result</result>
      <band id="3141">Scarborough Town</band>
      <conductor id="307909">T. Randerson</conductor>
    </result>
    
    <result id="63969">
      <result code="">Unknown Result</result>
      <band id="4032">Sharnford Silver</band>
      <conductor id="299663">Ernest Cooper</conductor>
    </result>
    
    <result id="63970">
      <result code="">Unknown Result</result>
      <band id="1980">Shildon Town</band>
      <conductor id="297782">E. Bennett</conductor>
    </result>
    
    <result id="63971">
      <result code="">Unknown Result</result>
      <band id="5366">Southmoor School</band>
      <conductor id="309359">F. V. Smith</conductor>
    </result>
    
    <result id="63972">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="63973">
      <result code="">Unknown Result</result>
      <band id="579">Swinton and District Excelsior Band [N Yorks]</band>
      <conductor id="299088">Clarence Cartwright</conductor>
    </result>
    
    <result id="63974">
      <result code="">Unknown Result</result>
      <band id="4767">Youlgrave Silver</band>
      <conductor id="297422">A. M. Bandey</conductor>
    </result>
    
  </results>
</contest-event>
