<contest-event id="6700">
  <event-date date="1965-5-15">May 15, 1965<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="430">The Princess and the Poet</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 1, 2011, 11:06 a.m.</created>
  <last-modified>Aug. 21, 2011, 4:35 p.m.</last-modified>

  <results>
    
    <result id="63091">
      <result code="1">1</result>
      <band id="1655">Dove Holes Band</band>
      <conductor id="303089">H. Hill</conductor>
    </result>
    
    <result id="63089">
      <result code="2">2</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="298877">Bernard Bygrave</conductor>
    </result>
    
    <result id="63099">
      <result code="3">3</result>
      <band id="4875">Oakengates &amp; District</band>
      <conductor id="303778">W. Imeson</conductor>
    </result>
    
    <result id="63093">
      <result code="4">4</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="300035">Marcus Cutts</conductor>
    </result>
    
    <result id="63087">
      <result code="">Unknown Result</result>
      <band id="488">Bakewell Silver Band</band>
      <conductor id="297471">L. Barker</conductor>
    </result>
    
    <result id="63088">
      <result code="">Unknown Result</result>
      <band id="3447">Bridlington Excelsior Brass Band</band>
      <conductor id="301923">H. Gofton</conductor>
    </result>
    
    <result id="63090">
      <result code="">Unknown Result</result>
      <band id="2021">City of Leicester</band>
      <conductor id="303872">R. Jackson</conductor>
    </result>
    
    <result id="63092">
      <result code="">Unknown Result</result>
      <band id="437">Goldthorpe Band</band>
      <conductor id="305197">A. Lock</conductor>
    </result>
    
    <result id="63094">
      <result code="">Unknown Result</result>
      <band id="263">Grange Moor Brass Band</band>
      <conductor id="301225">G. Field</conductor>
    </result>
    
    <result id="63095">
      <result code="">Unknown Result</result>
      <band id="4158">Grasslot Miners Welfare Brass Band</band>
      <conductor id="305666">R. Martin</conductor>
    </result>
    
    <result id="63096">
      <result code="">Unknown Result</result>
      <band id="1663">Irlam Silver Band</band>
      <conductor id="302987">J. R. Hesford</conductor>
    </result>
    
    <result id="63097">
      <result code="">Unknown Result</result>
      <band id="3839">Meersbrook Brass Band</band>
      <conductor id="303080">Donald E Hill</conductor>
    </result>
    
    <result id="63098">
      <result code="">Unknown Result</result>
      <band id="3180">Middlewich Centenary Band</band>
      <conductor id="304637">R. Knott</conductor>
    </result>
    
    <result id="63100">
      <result code="">Unknown Result</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">Sam Hartshorn</conductor>
    </result>
    
    <result id="63101">
      <result code="">Unknown Result</result>
      <band id="1930">Thurlstone Brass Band</band>
      <conductor id="301278">Jack Fisher</conductor>
    </result>
    
  </results>
</contest-event>
