<contest-event id="6467">
  <event-date date="1969-5-17">May 17, 1969<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="553">Voices of Youth</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 14, 2011, 4:36 p.m.</created>
  <last-modified>June 14, 2011, 4:37 p.m.</last-modified>

  <results>
    
    <result id="56983">
      <result code="1">1</result>
      <band id="1308">Congleton Brass</band>
      <conductor id="299612">Charles Cook</conductor>
    </result>
    
    <result id="56989">
      <result code="2">2</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="56985">
      <result code="3">3</result>
      <band id="2580">Knutsford &amp; Alderley</band>
      <conductor id="298755">J. Burgess</conductor>
    </result>
    
    <result id="56987">
      <result code="4">4</result>
      <band id="4774">Plessey (Liverpool) Works</band>
      <conductor id="305939">Les McLaughlin</conductor>
    </result>
    
    <result id="56986">
      <result code="5">5</result>
      <band id="326">Harborough Band</band>
      <conductor id="312057">P. B. Wright</conductor>
    </result>
    
    <result id="56984">
      <result code="6">6</result>
      <band id="298">Kirkbymoorside Town Band</band>
      <conductor id="305757">Les Maw</conductor>
    </result>
    
    <result id="56990">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="56988">
      <result code="">Unknown Result</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">S. Hartshorn</conductor>
    </result>
    
  </results>
</contest-event>
