<contest-event id="6465">
  <event-date date="1969-5-17">May 17, 1969<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1167">Three Days</test-piece>
  </test-piece>

  <venue id="728">Belle Vue (Central Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 14, 2011, 4:25 p.m.</created>
  <last-modified>Aug. 20, 2011, 8:49 p.m.</last-modified>

  <results>
    
    <result id="56968">
      <result code="1">1</result>
      <band id="262">Holme Silver (Disposables UK Group) Band</band>
      <conductor id="308335">Albert Robinson</conductor>
    </result>
    
    <result id="56967">
      <result code="2">2</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="303132">Barry Hinde</conductor>
    </result>
    
    <result id="56972">
      <result code="3">3</result>
      <band id="1527">Stacksteads Brass Band</band>
      <conductor id="301697">Frederick Lonsdale Garth</conductor>
    </result>
    
    <result id="56969">
      <result code="4">4</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="297479">Arthur Barlow</conductor>
    </result>
    
    <result id="56960">
      <result code="5">5</result>
      <band id="3504">Coventry Imperial</band>
      <conductor id="299221">Albert Chappell</conductor>
    </result>
    
    <result id="56962">
      <result code="6">6</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="306964">R. Orritt</conductor>
    </result>
    
    <result id="56963">
      <result code="">Unknown Result</result>
      <band id="1245">Comber Silver Band</band>
      <conductor id="306415">R. C. Morrow</conductor>
    </result>
    
    <result id="56964">
      <result code="">Unknown Result</result>
      <band id="193">Douglas Town Band</band>
      <conductor id="299925">James Crosbie</conductor>
    </result>
    
    <result id="56965">
      <result code="">Unknown Result</result>
      <band id="894">Earby Band</band>
      <conductor id="310953">Albert Walmsley</conductor>
    </result>
    
    <result id="56961">
      <result code="">Unknown Result</result>
      <band id="2021">City of Leicester</band>
      <conductor id="298300">G. Boyce</conductor>
    </result>
    
    <result id="56970">
      <result code="">Unknown Result</result>
      <band id="162">Pemberton Old Wigan DW Band</band>
      <conductor id="308383">George Roby</conductor>
    </result>
    
    <result id="56966">
      <result code="">Unknown Result</result>
      <band id="3146">Elsecar Main Colliery</band>
      <conductor id="297730">A. P. Bell</conductor>
    </result>
    
    <result id="56971">
      <result code="">Unknown Result</result>
      <band id="4772">Shildon British Railways</band>
      <conductor id="297316">A. Bagley</conductor>
    </result>
    
    <result id="56973">
      <result code="">Unknown Result</result>
      <band id="4227">John Taylor School</band>
      <conductor id="304083">Eric Johnson</conductor>
    </result>
    
    <result id="56959">
      <result code="W">Withdrawn</result>
      <band id="3862">B. M. &amp; W. Band</band>
      <conductor id="303065">F. Higgs</conductor>
    </result>
    
  </results>
</contest-event>
