<contest-event id="6472">
  <event-date date="1969-5-17">May 17, 1969<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="795">Beautiful Britain</test-piece>
  </test-piece>

  <venue id="724">Belle Vue (Cumberland Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 14, 2011, 4:42 p.m.</created>
  <last-modified>Aug. 28, 2011, 4:07 p.m.</last-modified>

  <results>
    
    <result id="57028">
      <result code="1">1</result>
      <band id="1525">Wigan &amp; District</band>
      <conductor id="305687">A. G. Mason</conductor>
    </result>
    
    <result id="57014">
      <result code="2">2</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="305666">R. Martin</conductor>
    </result>
    
    <result id="57029">
      <result code="3">3</result>
      <band id="500">Whitwell Brass Band</band>
      <conductor id="296997">J. Anderson</conductor>
    </result>
    
    <result id="57023">
      <result code="4">4</result>
      <band id="492">Porthywaen Band</band>
      <conductor id="307801">J. Pugh</conductor>
    </result>
    
    <result id="57009">
      <result code="5">5</result>
      <band id="405">Nottingham City Transport Band</band>
      <conductor id="299840">Ivan C. Coxhead</conductor>
    </result>
    
    <result id="57020">
      <result code="6">6</result>
      <band id="2026">Newark Town</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="57010">
      <result code="">Unknown Result</result>
      <band id="8445">Castleton Silver [Derbs.]</band>
      <conductor id="308700">T. Sanders</conductor>
    </result>
    
    <result id="57007">
      <result code="">Unknown Result</result>
      <band id="319">Barton Town Band</band>
      <conductor id="299911">F. Croft</conductor>
    </result>
    
    <result id="57012">
      <result code="">Unknown Result</result>
      <band id="4269">Droylsden &amp; District</band>
      <conductor id="302418">Jon Hall</conductor>
    </result>
    
    <result id="57008">
      <result code="">Unknown Result</result>
      <band id="1351">Ellenbrook &amp; Boothstown</band>
      <conductor id="299996">F. Curran</conductor>
    </result>
    
    <result id="57025">
      <result code="">Unknown Result</result>
      <band id="485">Stourport-on-Severn Brass Band</band>
      <conductor id="303852">George Jackson</conductor>
    </result>
    
    <result id="57017">
      <result code="">Unknown Result</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="57024">
      <result code="">Unknown Result</result>
      <band id="1494">Scotter Silver Band</band>
      <conductor id="297127">Richard Arrand</conductor>
    </result>
    
    <result id="57027">
      <result code="">Unknown Result</result>
      <band id="1521">Tarporley</band>
      <conductor id="305857">Jim McDean</conductor>
    </result>
    
    <result id="57022">
      <result code="">Unknown Result</result>
      <band id="253">Stockport Brass</band>
      <conductor id="307448">N. Phillips</conductor>
    </result>
    
    <result id="57011">
      <result code="">Unknown Result</result>
      <band id="882">Coleshill Town Band</band>
      <conductor id="298764">Ivor Burke</conductor>
    </result>
    
    <result id="57006">
      <result code="">Unknown Result</result>
      <band id="927">Askam Town Silver Band</band>
      <conductor id="298914">P. Cain</conductor>
    </result>
    
    <result id="57030">
      <result code="">Unknown Result</result>
      <band id="4767">Youlgrave Silver</band>
      <conductor id="308211">N. A. Riley</conductor>
    </result>
    
    <result id="57004">
      <result code="">Unknown Result</result>
      <band id="4782">Ancoats Trinity Silver</band>
      <conductor id="310509">Ted Tooley</conductor>
    </result>
    
    <result id="57015">
      <result code="">Unknown Result</result>
      <band id="183">Flixton Band</band>
      <conductor id="311977">J. Woodward</conductor>
    </result>
    
    <result id="57005">
      <result code="">Unknown Result</result>
      <band id="4054">Ashworth Brass Band</band>
      <conductor id="309009">Stan Sheasby</conductor>
    </result>
    
    <result id="57016">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="303793">H. Ingle</conductor>
    </result>
    
    <result id="57019">
      <result code="">Unknown Result</result>
      <band id="1058">Marple Band</band>
      <conductor id="302408">Arnold Hall</conductor>
    </result>
    
    <result id="57026">
      <result code="">Unknown Result</result>
      <band id="579">Swinton and District Excelsior Band [N Yorks]</band>
      <conductor id="299088">Clarence Cartwright</conductor>
    </result>
    
    <result id="57013">
      <result code="">Unknown Result</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="57018">
      <result code="">Unknown Result</result>
      <band id="4783">John Leggott College (Scunthorpe)</band>
      <conductor id="311370">S. G. Whitby</conductor>
    </result>
    
    <result id="57021">
      <result code="W">Withdrawn</result>
      <band id="451">Newtown Silver Band (Wales)</band>
      <conductor id="304915">J. H. Leach</conductor>
    </result>
    
  </results>
</contest-event>
