<contest-event id="6702">
  <event-date date="1970-5-9">May 9, 1970<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="646">London River</test-piece>
  </test-piece>

  <venue id="729">Belle Vue (Derby Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 1, 2011, 11:12 a.m.</created>
  <last-modified>Aug. 21, 2011, 5:53 p.m.</last-modified>

  <results>
    
    <result id="63184">
      <result code="1">1</result>
      <band id="1308">Congleton Brass</band>
      <conductor id="299612">Charles Cook</conductor>
    </result>
    
    <result id="63185">
      <result code="2">2</result>
      <band id="3504">Coventry Imperial</band>
      <conductor id="299221">Albert Chappell</conductor>
    </result>
    
    <result id="63167">
      <result code="3">3</result>
      <band id="1521">Tarporley</band>
      <conductor id="305857">Jim McDean</conductor>
    </result>
    
    <result id="63165">
      <result code="4">4</result>
      <band id="765">Moston &amp; Beswick Band</band>
      <conductor id="308240">Albert Risby</conductor>
    </result>
    
    <result id="63166">
      <result code="">Unknown Result</result>
      <band id="276">Wallace Arnold (Rothwell) Band</band>
      <conductor id="308281">Gordon Roberts</conductor>
    </result>
    
    <result id="63168">
      <result code="">Unknown Result</result>
      <band id="2634">Aycliffe Brass Band</band>
      <conductor id="307279">S. Peacock</conductor>
    </result>
    
    <result id="63169">
      <result code="">Unknown Result</result>
      <band id="2021">City of Leicester</band>
      <conductor id="298300">G. Boyce</conductor>
    </result>
    
    <result id="63170">
      <result code="">Unknown Result</result>
      <band id="43">Old Silkstone</band>
      <conductor id="306867">Stanley O&#39;Connor</conductor>
    </result>
    
    <result id="63171">
      <result code="">Unknown Result</result>
      <band id="1058">Marple Band</band>
      <conductor id="302408">Arnold Hall</conductor>
    </result>
    
    <result id="63172">
      <result code="">Unknown Result</result>
      <band id="239">Ratby Co-operative Band</band>
      <conductor id="309606">Bernard Springett</conductor>
    </result>
    
    <result id="63173">
      <result code="">Unknown Result</result>
      <band id="518">Market Rasen (RESDEV) Band</band>
      <conductor id="306308">Geoff Moralee</conductor>
    </result>
    
    <result id="63174">
      <result code="">Unknown Result</result>
      <band id="1245">Comber Silver Band</band>
      <conductor id="306415">R. C. Morrow</conductor>
    </result>
    
    <result id="63175">
      <result code="">Unknown Result</result>
      <band id="451">Newtown Silver Band (Wales)</band>
      <conductor id="304915">J. H. Leach</conductor>
    </result>
    
    <result id="63176">
      <result code="">Unknown Result</result>
      <band id="2696">Eckington United</band>
      <conductor id="297468">Harold Barker</conductor>
    </result>
    
    <result id="63177">
      <result code="">Unknown Result</result>
      <band id="2551">Storeys of Lancaster Band</band>
      <conductor id="308358">J. D. Robinson</conductor>
    </result>
    
    <result id="63178">
      <result code="">Unknown Result</result>
      <band id="2762">South West Herts</band>
      <conductor id="304178">Clifford Jones</conductor>
    </result>
    
    <result id="63179">
      <result code="">Unknown Result</result>
      <band id="2626">Scunthorpe Borough British Legion</band>
      <conductor id="306150">R. Millest</conductor>
    </result>
    
    <result id="63180">
      <result code="">Unknown Result</result>
      <band id="2118">Yarnton Band</band>
      <conductor id="303605">Mervin Hughes</conductor>
    </result>
    
    <result id="63181">
      <result code="">Unknown Result</result>
      <band id="4250">South Leicester Colliery Welfare</band>
      <conductor id="300954">H. Essex</conductor>
    </result>
    
    <result id="63182">
      <result code="">Unknown Result</result>
      <band id="319">Barton Town Band</band>
      <conductor id="299911">F. Croft</conductor>
    </result>
    
    <result id="63183">
      <result code="">Unknown Result</result>
      <band id="215">Rivington and Adlington Band</band>
      <conductor id="298563">John Broomhead</conductor>
    </result>
    
    <result id="63186">
      <result code="">Unknown Result</result>
      <band id="5278">West Auckland and St.Helens Silver</band>
      <conductor id="308381">R. H. Robson</conductor>
    </result>
    
    <result id="63187">
      <result code="">Unknown Result</result>
      <band id="2636">Prestwich Borough</band>
      <conductor id="311120">T. Watkins</conductor>
    </result>
    
    <result id="63188">
      <result code="W">Withdrawn</result>
      <band id="2651">Eaton Works Band</band>
      <conductor id="303972">C. Jeffries</conductor>
    </result>
    
    <result id="63189">
      <result code="W">Withdrawn</result>
      <band id="588">Stanhope Silver</band>
      <conductor id="311920">J. Woodall</conductor>
    </result>
    
    <result id="63190">
      <result code="W">Withdrawn</result>
      <band id="3403">Whitehaven Brass Band</band>
      <conductor id="301300">T. Fitzsimons</conductor>
    </result>
    
  </results>
</contest-event>
