<contest-event id="6832">
  <event-date date="1970-5-9">May 9, 1970<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1017">Thanet Seascapes</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 4:17 p.m.</created>
  <last-modified>Aug. 28, 2011, 4:13 p.m.</last-modified>

  <results>
    
    <result id="64079">
      <result code="1">1</result>
      <band id="492">Porthywaen Band</band>
      <conductor id="307801">J. Pugh</conductor>
    </result>
    
    <result id="64076">
      <result code="2">2</result>
      <band id="4783">John Leggott College (Scunthorpe)</band>
      <conductor id="311370">S. G. Whitby</conductor>
    </result>
    
    <result id="64081">
      <result code="3">3</result>
      <band id="1484">Preston Youth</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="64074">
      <result code="4">4</result>
      <band id="4953">Holmshill School (Borehamwood)</band>
      <conductor id="297243">D. Aubrey</conductor>
    </result>
    
    <result id="64068">
      <result code="">Unknown Result</result>
      <band id="4782">Ancoats Trinity Silver</band>
      <conductor id="310509">Ted Tooley</conductor>
    </result>
    
    <result id="64069">
      <result code="">Unknown Result</result>
      <band id="4286">Bestwood Welfare Black Diamonds Juniors</band>
      <conductor id="300053">W. J. Daley</conductor>
    </result>
    
    <result id="64070">
      <result code="">Unknown Result</result>
      <band id="4269">Droylsden &amp; District</band>
      <conductor id="297113">S. Armstrong</conductor>
    </result>
    
    <result id="64071">
      <result code="">Unknown Result</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="64072">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="64073">
      <result code="">Unknown Result</result>
      <band id="4815">Heage Juniors</band>
      <conductor id="309872">Tom Street</conductor>
    </result>
    
    <result id="64075">
      <result code="">Unknown Result</result>
      <band id="1514">Ifton Colliery Band</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="64077">
      <result code="">Unknown Result</result>
      <band id="196">Morecambe Brass Band</band>
      <conductor id="301319">J. F. Fleming</conductor>
    </result>
    
    <result id="64078">
      <result code="">Unknown Result</result>
      <band id="4068">Oswestry Excelsior Silver Prize</band>
      <conductor id="310299">R. J. G Thomas</conductor>
    </result>
    
    <result id="64082">
      <result code="">Unknown Result</result>
      <band id="4842">Sir Wilfrid Martineau School</band>
      <conductor id="302033">E. S. Grainger</conductor>
    </result>
    
    <result id="64083">
      <result code="">Unknown Result</result>
      <band id="251">Smithills Schools Senior Band</band>
      <conductor id="296827">F. Ainsworth</conductor>
    </result>
    
    <result id="64080">
      <result code="">Unknown Result</result>
      <band id="253">Stockport Brass</band>
      <conductor id="308092">F. Rhodes</conductor>
    </result>
    
    <result id="64084">
      <result code="">Unknown Result</result>
      <band id="485">Stourport-on-Severn Brass Band</band>
      <conductor id="303852">George Jackson</conductor>
    </result>
    
    <result id="64085">
      <result code="">Unknown Result</result>
      <band id="997">Trafford Band</band>
      <conductor id="311977">J. Woodward</conductor>
    </result>
    
  </results>
</contest-event>
