<contest-event id="6819">
  <event-date date="1970-5-9">May 9, 1970<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="793">Divertimento [Ball]</test-piece>
  </test-piece>

  <venue id="724">Belle Vue (Cumberland Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:44 p.m.</created>
  <last-modified>Aug. 27, 2011, 3:31 p.m.</last-modified>

  <results>
    
    <result id="63755">
      <result code="1">1</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="305666">R. Martin</conductor>
    </result>
    
    <result id="63749">
      <result code="2">2</result>
      <band id="1911">Hollingworth and Longdendale Band</band>
      <conductor id="302804">M. Hawkins</conductor>
    </result>
    
    <result id="63747">
      <result code="3">3</result>
      <band id="156">Friendly Band (Sowerby Bridge)</band>
      <conductor id="301042">William Henry Exley</conductor>
    </result>
    
    <result id="63740">
      <result code="4">4</result>
      <band id="1525">Wigan &amp; District</band>
      <conductor id="305687">A. G. Mason</conductor>
    </result>
    
    <result id="63741">
      <result code="">Unknown Result</result>
      <band id="151">Crofton Silver Band</band>
      <conductor id="304550">Lionel Kirby</conductor>
    </result>
    
    <result id="63742">
      <result code="">Unknown Result</result>
      <band id="3127">Altofts and Normanton Band</band>
      <conductor id="310148">J. Taylor</conductor>
    </result>
    
    <result id="63743">
      <result code="">Unknown Result</result>
      <band id="1494">Scotter Silver Band</band>
      <conductor id="297127">Richard Arrand</conductor>
    </result>
    
    <result id="63744">
      <result code="">Unknown Result</result>
      <band id="5843">Ackton Hall Colliery Band</band>
      <conductor id="306067">D. Metcalfe</conductor>
    </result>
    
    <result id="63745">
      <result code="">Unknown Result</result>
      <band id="927">Askam Town Silver Band</band>
      <conductor id="298914">P. Cain</conductor>
    </result>
    
    <result id="63746">
      <result code="">Unknown Result</result>
      <band id="4396">Chesterfield &amp; District</band>
      <conductor id="305997">A. Meers</conductor>
    </result>
    
    <result id="63748">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299110">P. Casson</conductor>
    </result>
    
    <result id="63750">
      <result code="">Unknown Result</result>
      <band id="2457">Woodhouse Prize Band</band>
      <conductor id="300639">Horace Dunwell</conductor>
    </result>
    
    <result id="63751">
      <result code="">Unknown Result</result>
      <band id="500">Whitwell Brass Band</band>
      <conductor id="296997">J. Anderson</conductor>
    </result>
    
    <result id="63752">
      <result code="">Unknown Result</result>
      <band id="326">Harborough Band</band>
      <conductor id="308655">T. Saggers</conductor>
    </result>
    
    <result id="63753">
      <result code="">Unknown Result</result>
      <band id="1383">Oldpark Silver Band</band>
      <conductor id="311151">W. Watson</conductor>
    </result>
    
    <result id="63754">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="308250">Walter Ritchie</conductor>
    </result>
    
    <result id="63756">
      <result code="">Unknown Result</result>
      <band id="3146">Elsecar Main Colliery</band>
      <conductor id="297730">A. P. Bell</conductor>
    </result>
    
    <result id="63757">
      <result code="">Unknown Result</result>
      <band id="894">Earby Band</band>
      <conductor id="310953">Albert Walmsley</conductor>
    </result>
    
    <result id="63758">
      <result code="">Unknown Result</result>
      <band id="142">Clifton and Lightcliffe Band</band>
      <conductor id="306839">James Nuttall</conductor>
    </result>
    
    <result id="63759">
      <result code="">Unknown Result</result>
      <band id="258">Point of Ayr Colliery Band</band>
      <conductor id="305054">G. Lewis</conductor>
    </result>
    
    <result id="63760">
      <result code="">Unknown Result</result>
      <band id="4772">Shildon British Railways</band>
      <conductor id="297316">A. Bagley</conductor>
    </result>
    
    <result id="63761">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="63762">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63763">
      <result code="">Unknown Result</result>
      <band id="1381">Strandtown Silver Band</band>
      <conductor id="310131">D. P. Taylor</conductor>
    </result>
    
    <result id="63764">
      <result code="">Unknown Result</result>
      <band id="4638">Birkenhead Town</band>
      <conductor id="303651">J. Humphreys</conductor>
    </result>
    
  </results>
</contest-event>
