<contest-event id="7169">
  <event-date date="1975-5-10">May 10, 1975<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="344">Rhapsody on Negro Spirituals</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>Aug. 28, 2011, 5:56 p.m.</created>
  <last-modified>Aug. 28, 2011, 5:56 p.m.</last-modified>

  <results>
    
    <result id="64180">
      <result code="1">1</result>
      <band id="581">Bearpark and Esh Colliery</band>
      <conductor id="307188">William Partington</conductor>
    </result>
    
    <result id="64175">
      <result code="2">2</result>
      <band id="485">Stourport-on-Severn Brass Band</band>
      <conductor id="303852">George Jackson</conductor>
    </result>
    
    <result id="64178">
      <result code="3">3</result>
      <band id="2634">Aycliffe Brass Band</band>
      <conductor id="306404">S. D. Morris</conductor>
    </result>
    
    <result id="64187">
      <result code="4">4</result>
      <band id="9538">Black Country Brass</band>
      <conductor id="300907">D. Emery</conductor>
    </result>
    
    <result id="64170">
      <result code="5">5</result>
      <band id="162">Pemberton Old Wigan DW Band</band>
      <conductor id="298634">Malcolm Brownbill</conductor>
    </result>
    
    <result id="64184">
      <result code="6">6</result>
      <band id="1348">Flint Town Silver</band>
      <conductor id="303411">E. Hopkins</conductor>
    </result>
    
    <result id="64167">
      <result code="">Unknown Result</result>
      <band id="2628">Sunderland Borough Band</band>
      <conductor id="305354">Joe Lumsden</conductor>
    </result>
    
    <result id="64168">
      <result code="">Unknown Result</result>
      <band id="2632">Hindley</band>
      <conductor id="307278">R. Peacock</conductor>
    </result>
    
    <result id="64169">
      <result code="">Unknown Result</result>
      <band id="1655">Dove Holes Band</band>
      <conductor id="297395">R. Ball</conductor>
    </result>
    
    <result id="64171">
      <result code="">Unknown Result</result>
      <band id="1510">Workington</band>
      <conductor id="296870">M. Alexander</conductor>
    </result>
    
    <result id="64172">
      <result code="">Unknown Result</result>
      <band id="509">Shipston Town Band</band>
      <conductor id="309318">Bert Smith</conductor>
    </result>
    
    <result id="64173">
      <result code="">Unknown Result</result>
      <band id="2562">Ecclesfield Silver</band>
      <conductor id="305072">P. V. Lewis</conductor>
    </result>
    
    <result id="64174">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="310763">J. Varney</conductor>
    </result>
    
    <result id="64176">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="308250">Walter Ritchie</conductor>
    </result>
    
    <result id="64177">
      <result code="">Unknown Result</result>
      <band id="1250">Third Carrickfergus Band</band>
      <conductor id="303751">Windsor Hylands</conductor>
    </result>
    
    <result id="64179">
      <result code="">Unknown Result</result>
      <band id="2653">Whitehouse Silver</band>
      <conductor id="306959">D. Orr</conductor>
    </result>
    
    <result id="64181">
      <result code="">Unknown Result</result>
      <band id="403">British Steel Teesside</band>
      <conductor id="308362">Ken Robinson</conductor>
    </result>
    
    <result id="64182">
      <result code="">Unknown Result</result>
      <band id="2633">Loch Garman Silver</band>
      <conductor id="300673">Stanley Dyke</conductor>
    </result>
    
    <result id="64183">
      <result code="">Unknown Result</result>
      <band id="196">Morecambe Brass Band</band>
      <conductor id="301319">J. F. Fleming</conductor>
    </result>
    
    <result id="64185">
      <result code="">Unknown Result</result>
      <band id="166">Roberts Bakery Band</band>
      <conductor id="299867">Colin Cranson</conductor>
    </result>
    
    <result id="64186">
      <result code="">Unknown Result</result>
      <band id="778">Whaley Bridge Brass</band>
      <conductor id="299721">P. Cordey</conductor>
    </result>
    
    <result id="64188">
      <result code="">Unknown Result</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="304237">Jonny Jones</conductor>
    </result>
    
  </results>
</contest-event>
