<contest-event id="5605">
  <event-date date="1963-5-25">May 25, 1963<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1017">Thanet Seascapes</test-piece>
  </test-piece>

  <venue id="729">Belle Vue (Derby Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>April 26, 2011, 9:11 p.m.</created>
  <last-modified>Aug. 20, 2011, 8:52 p.m.</last-modified>

  <results>
    
    <result id="48423">
      <result code="1">1</result>
      <band id="766">Chapel-en-le-Frith Band</band>
      <conductor id="309684">J. B. Stead</conductor>
    </result>
    
    <result id="48424">
      <result code="2">2</result>
      <band id="153">Oughtibridge Band</band>
      <conductor id="299939">Eric Crossley</conductor>
    </result>
    
    <result id="48418">
      <result code="3">3</result>
      <band id="207">Stalybridge Old Band</band>
      <conductor id="310034">S. Sykes</conductor>
    </result>
    
    <result id="48419">
      <result code="4">4</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="48416">
      <result code="">Unknown Result</result>
      <band id="3838">Anston United Silver</band>
      <conductor id="307951">K. Ray</conductor>
    </result>
    
    <result id="48426">
      <result code="">Unknown Result</result>
      <band id="8445">Castleton Silver [Derbs.]</band>
      <conductor id="303842">A. G. Jackson</conductor>
    </result>
    
    <result id="48420">
      <result code="">Unknown Result</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="301309">J. Flathers</conductor>
    </result>
    
    <result id="48428">
      <result code="">Unknown Result</result>
      <band id="2713">Ellesmere Port Silver Band</band>
      <conductor id="308312">William Roberts</conductor>
    </result>
    
    <result id="48427">
      <result code="">Unknown Result</result>
      <band id="663">Flimby Saxhorn</band>
      <conductor id="299783">I. D. Coulthard</conductor>
    </result>
    
    <result id="48417">
      <result code="">Unknown Result</result>
      <band id="1348">Flint Town Silver</band>
      <conductor id="300628">J. Dunn</conductor>
    </result>
    
    <result id="48421">
      <result code="">Unknown Result</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="302704">C. Hart</conductor>
    </result>
    
    <result id="48422">
      <result code="">Unknown Result</result>
      <band id="3839">Meersbrook Brass Band</band>
      <conductor id="298428">J. W. Briddon</conductor>
    </result>
    
    <result id="48425">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
  </results>
</contest-event>
