<contest-event id="6698">
  <event-date date="1963-5-25">May 25, 1963<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="159">Indian Summer</test-piece>
  </test-piece>

  <venue id="559">Belle Vue (Lancaster Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 1, 2011, 10:59 a.m.</created>
  <last-modified>Oct. 3, 2019, 3:30 p.m.</last-modified>

  <results>
    
    <result id="62968">
      <result code="1">1</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="311453">Geoffrey Whitham</conductor>
    </result>
    
    <result id="62972">
      <result code="2">2</result>
      <band id="1346">Rochdale Band</band>
      <conductor id="305522">Frank Mallinson</conductor>
    </result>
    
    <result id="62971">
      <result code="3">3</result>
      <band id="1544">Askern Colliery Band</band>
      <conductor id="298507">G. Brodhurst</conductor>
    </result>
    
    <result id="62962">
      <result code="4">4</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="62953">
      <result code="">Unknown Result</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="297728">Jim Belfield</conductor>
    </result>
    
    <result id="62954">
      <result code="">Unknown Result</result>
      <band id="3180">Middlewich Centenary Band</band>
      <conductor id="304637">R. Knott</conductor>
    </result>
    
    <result id="62955">
      <result code="">Unknown Result</result>
      <band id="288">Northop Band</band>
      <conductor id="310245">George Thelwell</conductor>
    </result>
    
    <result id="62956">
      <result code="">Unknown Result</result>
      <band id="3843">Dudley Workmens [Northumberland]</band>
      <conductor id="298157">W. S. Bond</conductor>
    </result>
    
    <result id="62957">
      <result code="">Unknown Result</result>
      <band id="486">Long Eaton Silver Prize Band</band>
      <conductor id="305628">Arthur Marshall</conductor>
    </result>
    
    <result id="62958">
      <result code="">Unknown Result</result>
      <band id="3842">Netherton Colliery Workmens</band>
      <conductor id="306732">D. W. Nicholson</conductor>
    </result>
    
    <result id="62959">
      <result code="">Unknown Result</result>
      <band id="4211">Grimsby Band</band>
      <conductor id="302418">Jon Hall</conductor>
    </result>
    
    <result id="62960">
      <result code="">Unknown Result</result>
      <band id="5271">Helmshore Prize Band</band>
      <conductor id="300937">C. Entwistle</conductor>
    </result>
    
    <result id="62961">
      <result code="">Unknown Result</result>
      <band id="1921">Dawdon Lodge</band>
      <conductor id="305424">Stan MacDonald</conductor>
    </result>
    
    <result id="62963">
      <result code="">Unknown Result</result>
      <band id="516">Newhall Band</band>
      <conductor id="300559">J. H. Draycott</conductor>
    </result>
    
    <result id="62964">
      <result code="">Unknown Result</result>
      <band id="1668">Hollingworth</band>
      <conductor id="311695">A. Williamson</conductor>
    </result>
    
    <result id="62965">
      <result code="">Unknown Result</result>
      <band id="276">Wallace Arnold (Rothwell) Band</band>
      <conductor id="308281">Gordon Roberts</conductor>
    </result>
    
    <result id="62966">
      <result code="">Unknown Result</result>
      <band id="2637">Consett-Whitbread Trophy</band>
      <conductor id="309371">H. Smith</conductor>
    </result>
    
    <result id="62967">
      <result code="">Unknown Result</result>
      <band id="4160">Shotton Colliery Band</band>
      <conductor id="301732">W. H. Gelson</conductor>
    </result>
    
    <result id="62969">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="62970">
      <result code="">Unknown Result</result>
      <band id="397">Hesketh Bank Band</band>
      <conductor id="299864">A. Crank</conductor>
    </result>
    
    <result id="62973">
      <result code="W">Withdrawn</result>
      <band id="4415">Kendal Borough</band>
      <conductor id="302988">R. Hesford</conductor>
    </result>
    
  </results>
</contest-event>
