<contest-event id="6815">
  <event-date date="1963-5-25">May 25, 1963<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="237">Four Little Maids</test-piece>
  </test-piece>

  <venue id="724">Belle Vue (Cumberland Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:33 p.m.</created>
  <last-modified>Aug. 21, 2011, 7:57 p.m.</last-modified>

  <results>
    
    <result id="63198">
      <result code="1">1</result>
      <band id="2021">City of Leicester</band>
      <conductor id="303872">R. Jackson</conductor>
    </result>
    
    <result id="63205">
      <result code="2">2</result>
      <band id="3375">Coppull Subscription Band</band>
      <conductor id="301008">Richard Evans</conductor>
    </result>
    
    <result id="63202">
      <result code="3">3</result>
      <band id="18196">Clock Face and Sutton Manor</band>
      <conductor id="308358">J. D. Robinson</conductor>
    </result>
    
    <result id="63206">
      <result code="4">4</result>
      <band id="338">Matlock Band</band>
      <conductor id="309245">Fred Slater</conductor>
    </result>
    
    <result id="63191">
      <result code="">Unknown Result</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="300035">Marcus Cutts</conductor>
    </result>
    
    <result id="63192">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="298463">Charlie Brindley</conductor>
    </result>
    
    <result id="63193">
      <result code="">Unknown Result</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">Sam Hartshorn</conductor>
    </result>
    
    <result id="63194">
      <result code="">Unknown Result</result>
      <band id="578">Kingsway Printers Cleethorpes</band>
      <conductor id="311312">A. Weston</conductor>
    </result>
    
    <result id="63195">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="63196">
      <result code="">Unknown Result</result>
      <band id="895">Frodsham Silver Band</band>
      <conductor id="299728">E. Corker</conductor>
    </result>
    
    <result id="63197">
      <result code="">Unknown Result</result>
      <band id="1650">Cadishead Band</band>
      <conductor id="303459">Fred Houghton</conductor>
    </result>
    
    <result id="63199">
      <result code="">Unknown Result</result>
      <band id="668">Audley Brass</band>
      <conductor id="300269">Robert Deakin</conductor>
    </result>
    
    <result id="63200">
      <result code="">Unknown Result</result>
      <band id="499">Kirkby Colliery Welfare Band</band>
      <conductor id="305701">R. Mason</conductor>
    </result>
    
    <result id="63201">
      <result code="">Unknown Result</result>
      <band id="937">Lingdale Silver Band</band>
      <conductor id="307890">F. Ramage</conductor>
    </result>
    
    <result id="63203">
      <result code="">Unknown Result</result>
      <band id="2591">Burnage Manchester</band>
      <conductor id="299506">N. Coglan</conductor>
    </result>
    
    <result id="63204">
      <result code="">Unknown Result</result>
      <band id="3281">Hickleton Main Welfare</band>
      <conductor id="310624">F. Tupling</conductor>
    </result>
    
    <result id="63207">
      <result code="">Unknown Result</result>
      <band id="3196">Guiseley Brass Band</band>
      <conductor id="309781">Ron Whybert Stevenson</conductor>
    </result>
    
    <result id="63208">
      <result code="">Unknown Result</result>
      <band id="239">Ratby Co-operative Band</band>
      <conductor id="297420">John Bancroft</conductor>
    </result>
    
    <result id="63209">
      <result code="">Unknown Result</result>
      <band id="4269">Droylsden &amp; District</band>
      <conductor id="302418">Jon Hall</conductor>
    </result>
    
  </results>
</contest-event>
