<contest-event id="6813">
  <event-date date="1960-5-28">May 28, 1960<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="430">The Princess and the Poet</test-piece>
  </test-piece>

  <venue id="724">Belle Vue (Cumberland Suite), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:28 p.m.</created>
  <last-modified>Aug. 27, 2011, 1:11 p.m.</last-modified>

  <results>
    
    <result id="63643">
      <result code="1">1</result>
      <band id="1655">Dove Holes Band</band>
      <conductor id="303885">G. Jacobs</conductor>
    </result>
    
    <result id="63642">
      <result code="2">2</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311898">M. J. Wood</conductor>
    </result>
    
    <result id="63654">
      <result code="3">3</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="63655">
      <result code="6">6</result>
      <band id="298">Kirkbymoorside Town Band</band>
      <conductor id="305757">Les Maw</conductor>
    </result>
    
    <result id="63637">
      <result code="">Unknown Result</result>
      <band id="292">Riddings Band</band>
      <conductor id="301987">Geoff Gossage</conductor>
    </result>
    
    <result id="63638">
      <result code="">Unknown Result</result>
      <band id="3127">Altofts and Normanton Band</band>
      <conductor id="311554">Cyril Wilkinson</conductor>
    </result>
    
    <result id="63639">
      <result code="">Unknown Result</result>
      <band id="151">Crofton Silver Band</band>
      <conductor id="309265">E. Slinger</conductor>
    </result>
    
    <result id="63640">
      <result code="">Unknown Result</result>
      <band id="489">Shirebrook Band</band>
      <conductor id="305701">R. Mason</conductor>
    </result>
    
    <result id="63641">
      <result code="">Unknown Result</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="63644">
      <result code="">Unknown Result</result>
      <band id="512">Pleasley Colliery Welfare Band</band>
      <conductor id="300801">H. Eggleshaw</conductor>
    </result>
    
    <result id="63645">
      <result code="">Unknown Result</result>
      <band id="2021">City of Leicester</band>
      <conductor id="303872">R. Jackson</conductor>
    </result>
    
    <result id="63646">
      <result code="">Unknown Result</result>
      <band id="488">Bakewell Silver Band</band>
      <conductor id="297372">L. Baker</conductor>
    </result>
    
    <result id="63647">
      <result code="">Unknown Result</result>
      <band id="1906">Killamarsh Silver Band</band>
      <conductor id="309064">John Shimwell</conductor>
    </result>
    
    <result id="63648">
      <result code="">Unknown Result</result>
      <band id="1521">Tarporley</band>
      <conductor id="300628">J. Dunn</conductor>
    </result>
    
    <result id="63649">
      <result code="">Unknown Result</result>
      <band id="4069">Prescot Parish Church</band>
      <conductor id="299972">D. A. Cull</conductor>
    </result>
    
    <result id="63650">
      <result code="">Unknown Result</result>
      <band id="922">Skipton Brass</band>
      <conductor id="298452">Ken Bright</conductor>
    </result>
    
    <result id="63651">
      <result code="">Unknown Result</result>
      <band id="11771">Holmes Mills Rotherham</band>
      <conductor id="302604">Walter Hargreaves</conductor>
    </result>
    
    <result id="63652">
      <result code="">Unknown Result</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">S. Hartshorn</conductor>
    </result>
    
    <result id="63653">
      <result code="">Unknown Result</result>
      <band id="160">Thurcroft Welfare</band>
      <conductor id="310025">George W. Sykes</conductor>
    </result>
    
    <result id="63656">
      <result code="">Unknown Result</result>
      <band id="2580">Knutsford &amp; Alderley</band>
      <conductor id="298755">J. Burgess</conductor>
    </result>
    
    <result id="63657">
      <result code="">Unknown Result</result>
      <band id="2588">Maryport Albion</band>
      <conductor id="305666">R. Martin</conductor>
    </result>
    
    <result id="63658">
      <result code="W">Withdrawn</result>
      <band id="5324">Altrincham and Dunham Silver</band>
      <conductor id="308750">J. F. Saynor</conductor>
    </result>
    
    <result id="63659">
      <result code="W">Withdrawn</result>
      <band id="8445">Castleton Silver [Derbs.]</band>
      <conductor id="310124">Barry Taylor</conductor>
    </result>
    
    <result id="63660">
      <result code="W">Withdrawn</result>
      <band id="4022">Lilleshall Collieries</band>
      <conductor id="303778">W. Imeson</conductor>
    </result>
    
  </results>
</contest-event>
