<contest-event id="6827">
  <event-date date="1960-5-28">May 28, 1960<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1223">A Tchaikowsky Suite</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 4:04 p.m.</created>
  <last-modified>Aug. 28, 2011, 3:35 p.m.</last-modified>

  <results>
    
    <result id="63985">
      <result code="1">1</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63981">
      <result code="2">2</result>
      <band id="7183">Ovington Band</band>
      <conductor id="300424">T. Dixon</conductor>
    </result>
    
    <result id="63977">
      <result code="3">3</result>
      <band id="3843">Dudley Workmens [Northumberland]</band>
      <conductor id="307280">S. R. Peacock</conductor>
    </result>
    
    <result id="63976">
      <result code="4">4</result>
      <band id="4044">Crosby British Legion Silver</band>
      <conductor id="305939">Les McLaughlin</conductor>
    </result>
    
    <result id="63975">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="302591">R. E. Hardy</conductor>
    </result>
    
    <result id="63978">
      <result code="">Unknown Result</result>
      <band id="3849">Elland C.E.F.A. Youth</band>
      <conductor id="297718">Walter Beevers</conductor>
    </result>
    
    <result id="63979">
      <result code="">Unknown Result</result>
      <band id="122">Glossop Old Band</band>
      <conductor id="300035">Marcus Cutts</conductor>
    </result>
    
    <result id="63980">
      <result code="">Unknown Result</result>
      <band id="3196">Guiseley Brass Band</band>
      <conductor id="309781">Ron Whybert Stevenson</conductor>
    </result>
    
    <result id="63982">
      <result code="">Unknown Result</result>
      <band id="1822">Penrith Town Band</band>
      <conductor id="311003">C. Wannop</conductor>
    </result>
    
    <result id="63983">
      <result code="">Unknown Result</result>
      <band id="3186">Ryhill Silver</band>
      <conductor id="309358">F. T. Smith</conductor>
    </result>
    
    <result id="63984">
      <result code="">Unknown Result</result>
      <band id="1980">Shildon Town</band>
      <conductor id="297782">E. Bennett</conductor>
    </result>
    
    <result id="63986">
      <result code="">Unknown Result</result>
      <band id="5930">Waltham (Lincs)</band>
      <conductor id="299398">Eddy Claxton</conductor>
    </result>
    
  </results>
</contest-event>
