<contest-event id="6592">
  <event-date date="1960-5-28">May 28, 1960<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1185">Neapolitan Suite</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:28 p.m.</created>
  <last-modified>Aug. 21, 2011, 5:36 p.m.</last-modified>

  <results>
    
    <result id="63122">
      <result code="1">1</result>
      <band id="3142">Rawmarsh Prize Band</band>
      <conductor id="303387">Edmund Hoole</conductor>
    </result>
    
    <result id="63120">
      <result code="2">2</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="297728">Jim Belfield</conductor>
    </result>
    
    <result id="63117">
      <result code="3">3</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="63121">
      <result code="4">4</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="303088">George Hill</conductor>
    </result>
    
    <result id="63102">
      <result code="">Unknown Result</result>
      <band id="142">Clifton and Lightcliffe Band</band>
      <conductor id="308219">Fred Rimmer</conductor>
    </result>
    
    <result id="63103">
      <result code="">Unknown Result</result>
      <band id="1584">Dannemora Steelworks</band>
      <conductor id="301423">Eric Foster</conductor>
    </result>
    
    <result id="63104">
      <result code="">Unknown Result</result>
      <band id="4092">Rist&#39;s Cable Works</band>
      <conductor id="309202">William Skelton</conductor>
    </result>
    
    <result id="63105">
      <result code="">Unknown Result</result>
      <band id="3281">Hickleton Main Welfare</band>
      <conductor id="311084">W. Warton</conductor>
    </result>
    
    <result id="63106">
      <result code="">Unknown Result</result>
      <band id="500">Whitwell Brass Band</band>
      <conductor id="298451">J. Bright</conductor>
    </result>
    
    <result id="63107">
      <result code="">Unknown Result</result>
      <band id="3339">St George&#39;s Brass Band</band>
      <conductor id="297435">C. G. Bannister</conductor>
    </result>
    
    <result id="63108">
      <result code="">Unknown Result</result>
      <band id="1381">Strandtown Silver Band</band>
      <conductor id="298746">James Burch</conductor>
    </result>
    
    <result id="63109">
      <result code="">Unknown Result</result>
      <band id="2746">Upton Colliery Workpeople&#39;s Band</band>
      <conductor id="310485">Harry Tomkins</conductor>
    </result>
    
    <result id="63110">
      <result code="">Unknown Result</result>
      <band id="588">Stanhope Silver</band>
      <conductor id="311936">Jack Woodhall</conductor>
    </result>
    
    <result id="63111">
      <result code="">Unknown Result</result>
      <band id="5276">Ifton Heath Silver</band>
      <conductor id="300151">F. E. Davies</conductor>
    </result>
    
    <result id="63112">
      <result code="">Unknown Result</result>
      <band id="205">Boarshurst Silver Band</band>
      <conductor id="311448">Stanley Whiteman</conductor>
    </result>
    
    <result id="63113">
      <result code="">Unknown Result</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="63114">
      <result code="">Unknown Result</result>
      <band id="3517">Gorton British Railways</band>
      <conductor id="296907">W. Allen</conductor>
    </result>
    
    <result id="63115">
      <result code="">Unknown Result</result>
      <band id="2466">Clayton West</band>
      <conductor id="302441">George Hallas</conductor>
    </result>
    
    <result id="63116">
      <result code="">Unknown Result</result>
      <band id="176">Tyldesley Band</band>
      <conductor id="305676">Fred Martland</conductor>
    </result>
    
    <result id="63118">
      <result code="">Unknown Result</result>
      <band id="3180">Middlewich Centenary Band</band>
      <conductor id="304637">R. Knott</conductor>
    </result>
    
    <result id="63119">
      <result code="">Unknown Result</result>
      <band id="276">Wallace Arnold (Rothwell) Band</band>
      <conductor id="308281">Gordon Roberts</conductor>
    </result>
    
    <result id="63123">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="307647">D. A. Power</conductor>
    </result>
    
    <result id="63124">
      <result code="">Unknown Result</result>
      <band id="234">Acceler8</band>
      <conductor id="309817">Basil Stokes</conductor>
    </result>
    
    <result id="63125">
      <result code="W">Withdrawn</result>
      <band id="126">Hebden Bridge Band</band>
      <conductor id="310536">S. Townsend</conductor>
    </result>
    
  </results>
</contest-event>
