<contest-event id="6812">
  <event-date date="1958-5-17">May 17, 1958<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1221">Three English Pictures</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:26 p.m.</created>
  <last-modified>Aug. 27, 2011, 11:15 a.m.</last-modified>

  <results>
    
    <result id="63450">
      <result code="1">1</result>
      <band id="2466">Clayton West</band>
      <conductor id="302441">George Hallas</conductor>
    </result>
    
    <result id="63456">
      <result code="2">2</result>
      <band id="4029">Michelin Works</band>
      <conductor id="300220">Roland Davis</conductor>
    </result>
    
    <result id="63460">
      <result code="3">3</result>
      <band id="489">Shirebrook Band</band>
      <conductor id="306995">T. Oughton</conductor>
    </result>
    
    <result id="63451">
      <result code="4">4</result>
      <band id="578">Kingsway Printers Cleethorpes</band>
      <conductor id="297508">Russell Barnes</conductor>
    </result>
    
    <result id="63452">
      <result code="5">5</result>
      <band id="3401">Egremont Band</band>
      <conductor id="306125">F. G. Milfull</conductor>
    </result>
    
    <result id="63455">
      <result code="6">6</result>
      <band id="4023">Mansfield Colliery Welfare</band>
      <conductor id="305701">R. Mason</conductor>
    </result>
    
    <result id="63453">
      <result code="">Unknown Result</result>
      <band id="372">Billingham Silver Band</band>
      <conductor id="301525">Dick Freeland</conductor>
    </result>
    
    <result id="63458">
      <result code="">Unknown Result</result>
      <band id="151">Crofton Silver Band</band>
      <conductor id="309265">E. Slinger</conductor>
    </result>
    
    <result id="63454">
      <result code="">Unknown Result</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="302704">C. Hart</conductor>
    </result>
    
    <result id="63457">
      <result code="">Unknown Result</result>
      <band id="4062">Mirfield Silver</band>
      <conductor id="311452">Edgar Whitham</conductor>
    </result>
    
    <result id="63459">
      <result code="">Unknown Result</result>
      <band id="4068">Oswestry Excelsior Silver Prize</band>
      <conductor id="307162">R. Parry</conductor>
    </result>
    
  </results>
</contest-event>
