<contest-event id="6591">
  <event-date date="1958-5-17">May 17, 1958<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="345">Devon Fantasy</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>As per British Bandsman 24/5/1958 and British Open list of winners.
Originally entered with Upton Colliery Workpeoples 2nd.  </notes>

  <created>June 19, 2011, 7:26 p.m.</created>
  <last-modified>Jan. 8, 2015, 2:46 p.m.</last-modified>

  <results>
    
    <result id="57804">
      <result code="1">1</result>
      <band id="3146">Elsecar Main Colliery</band>
      <conductor id="305072">P. V. Lewis</conductor>
    </result>
    
    <result id="63034">
      <result code="2">2</result>
      <band id="1625">West Bromwich Borough</band>
      <conductor id="306388">G. A. Morris</conductor>
    </result>
    
    <result id="63032">
      <result code="3">3</result>
      <band id="176">Tyldesley Band</band>
      <conductor id="305676">Fred Martland</conductor>
    </result>
    
    <result id="63035">
      <result code="4">4</result>
      <band id="500">Whitwell Brass Band</band>
      <conductor id="298451">J. Bright</conductor>
    </result>
    
    <result id="63015">
      <result code="5">5</result>
      <band id="234">Acceler8</band>
      <conductor id="309817">Basil Stokes</conductor>
    </result>
    
    <result id="63018">
      <result code="6">6</result>
      <band id="1655">Dove Holes Band</band>
      <conductor id="301330">J. F. Fletcher</conductor>
    </result>
    
    <result id="63016">
      <result code="">Unknown Result</result>
      <band id="13224">Darley Dale Silver</band>
      <conductor id="309078">D. Shore</conductor>
    </result>
    
    <result id="63023">
      <result code="">Unknown Result</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="304087">H. Johnson</conductor>
    </result>
    
    <result id="63013">
      <result code="">Unknown Result</result>
      <band id="2753">Brancepeth Welfare Band</band>
      <conductor id="296824">J. W. Ainsley</conductor>
    </result>
    
    <result id="63021">
      <result code="">Unknown Result</result>
      <band id="502">Fairfield (Buxton) Band</band>
      <conductor id="304730">C. F. Lack</conductor>
    </result>
    
    <result id="63017">
      <result code="">Unknown Result</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="63025">
      <result code="">Unknown Result</result>
      <band id="1663">Irlam Silver Band</band>
      <conductor id="298340">E. Bradshaw</conductor>
    </result>
    
    <result id="63030">
      <result code="">Unknown Result</result>
      <band id="3339">St George&#39;s Brass Band</band>
      <conductor id="297435">C. G. Bannister</conductor>
    </result>
    
    <result id="63014">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="303088">George Hill</conductor>
    </result>
    
    <result id="63033">
      <result code="">Unknown Result</result>
      <band id="2746">Upton Colliery Workpeople&#39;s Band</band>
      <conductor id="309761">Joseph Stevens</conductor>
    </result>
    
    <result id="63027">
      <result code="">Unknown Result</result>
      <band id="4058">Preston Town Silver</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="63022">
      <result code="">Unknown Result</result>
      <band id="177">Freckleton Band</band>
      <conductor id="307767">A. W. J. Prosser</conductor>
    </result>
    
    <result id="63031">
      <result code="">Unknown Result</result>
      <band id="3176">Spenborough Victoria</band>
      <conductor id="306667">Matthew Nevin</conductor>
    </result>
    
    <result id="63028">
      <result code="">Unknown Result</result>
      <band id="503">Rolls Royce (Derby) Band</band>
      <conductor id="297130">J. Arthur</conductor>
    </result>
    
    <result id="63019">
      <result code="">Unknown Result</result>
      <band id="145">Elland Silver Band</band>
      <conductor id="306688">Roy Newsome</conductor>
    </result>
    
    <result id="63026">
      <result code="">Unknown Result</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="165580">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63029">
      <result code="">Unknown Result</result>
      <band id="278">Polypipe Rossington Band</band>
      <conductor id="297911">W. Biggs</conductor>
    </result>
    
    <result id="63024">
      <result code="">Unknown Result</result>
      <band id="18258">Llay Welfare</band>
      <conductor id="298176">G. A. Booth</conductor>
    </result>
    
    <result id="63036">
      <result code="W">Withdrawn</result>
      <band id="5273">Woodhorn Colliery</band>
      <conductor id="305201">A. Locker</conductor>
    </result>
    
  </results>
</contest-event>
