<contest-event id="5666">
  <event-date date="1958-5-17">May 17, 1958<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="859">The Joy of Youth</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>May 2, 2011, 10:22 a.m.</created>
  <last-modified>March 14, 2013, 3:32 p.m.</last-modified>

  <results>
    
    <result id="48786">
      <result code="1">1</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="297728">Jim Belfield</conductor>
    </result>
    
    <result id="48776">
      <result code="2">2</result>
      <band id="516">Newhall Band</band>
      <conductor id="309117">James J. Sibson</conductor>
    </result>
    
    <result id="48779">
      <result code="3">3</result>
      <band id="3173">Ravensthorpe Subscription</band>
      <conductor id="302374">F. Haigh</conductor>
    </result>
    
    <result id="48785">
      <result code="4">4</result>
      <band id="160">Thurcroft Welfare</band>
      <conductor id="310025">George W. Sykes</conductor>
    </result>
    
    <result id="48763">
      <result code="5">5</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="300918">Jack Emmott</conductor>
    </result>
    
    <result id="48766">
      <result code="6">6</result>
      <band id="2021">City of Leicester</band>
      <conductor id="303872">R. Jackson</conductor>
    </result>
    
    <result id="48768">
      <result code="">Unknown Result</result>
      <band id="4044">Crosby British Legion Silver</band>
      <conductor id="305939">Les McLaughlin</conductor>
    </result>
    
    <result id="48765">
      <result code="">Unknown Result</result>
      <band id="3194">Burley &amp; Ilkley</band>
      <conductor id="311009">W. I. Warburton</conductor>
    </result>
    
    <result id="48773">
      <result code="">Unknown Result</result>
      <band id="298">Kirkbymoorside Town Band</band>
      <conductor id="305757">Les Maw</conductor>
    </result>
    
    <result id="48769">
      <result code="">Unknown Result</result>
      <band id="3849">Elland C.E.F.A. Youth</band>
      <conductor id="297718">Walter Beevers</conductor>
    </result>
    
    <result id="48771">
      <result code="">Unknown Result</result>
      <band id="11771">Holmes Mills Rotherham</band>
      <conductor id="302604">Walter Hargreaves</conductor>
    </result>
    
    <result id="48781">
      <result code="">Unknown Result</result>
      <band id="456">Royal Buckley Town Band</band>
      <conductor id="311524">L. Wilcock</conductor>
    </result>
    
    <result id="48782">
      <result code="">Unknown Result</result>
      <band id="4052">Sherburn Old Boys</band>
      <conductor id="305358">Charles N. Lund</conductor>
    </result>
    
    <result id="48775">
      <result code="">Unknown Result</result>
      <band id="4049">Morecambe Grammar School</band>
      <conductor id="311909">Samuel Balmforth Wood</conductor>
    </result>
    
    <result id="48783">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="48777">
      <result code="">Unknown Result</result>
      <band id="451">Newtown Silver Band (Wales)</band>
      <conductor id="304915">J. H. Leach</conductor>
    </result>
    
    <result id="48764">
      <result code="">Unknown Result</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="48772">
      <result code="">Unknown Result</result>
      <band id="3183">Hull Railwaymen&#39;s</band>
      <conductor id="309321">C. Smith</conductor>
    </result>
    
    <result id="48767">
      <result code="">Unknown Result</result>
      <band id="4043">Christ Church (Bradford) Silver</band>
      <conductor id="302418">Jon Hall</conductor>
    </result>
    
    <result id="48770">
      <result code="">Unknown Result</result>
      <band id="2587">Failsworth Youth Band</band>
      <conductor id="302627">Les Harper</conductor>
    </result>
    
    <result id="48780">
      <result code="">Unknown Result</result>
      <band id="1346">Rochdale Band</band>
      <conductor id="305522">Frank Mallinson</conductor>
    </result>
    
    <result id="48778">
      <result code="">Unknown Result</result>
      <band id="288">Northop Band</band>
      <conductor id="310245">George Thelwell</conductor>
    </result>
    
    <result id="48774">
      <result code="">Unknown Result</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="48784">
      <result code="W">Withdrawn</result>
      <band id="3845">Teesside Bridge and Engineering Works</band>
      <conductor id="300246">J. W. Dawson</conductor>
    </result>
    
    <result id="48787">
      <result code="W">Withdrawn</result>
      <band id="2538">Water Band Rossendale</band>
      <conductor id="299125">C. Catlow</conductor>
    </result>
    
  </results>
</contest-event>
