<contest-event id="5677">
  <event-date date="1959-5-9">May 9, 1959<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="857">In Switzerland</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>First Prize: The Besson Challenge Cup and £12
Second Prize: £8
Third Prize: £6
Fourth Prize: £5</notes>

  <created>May 2, 2011, 3:52 p.m.</created>
  <last-modified>Aug. 28, 2011, 5:45 p.m.</last-modified>

  <results>
    
    <result id="48893">
      <result code="1">1</result>
      <band id="3180">Middlewich Centenary Band</band>
      <conductor id="304637">R. Knott</conductor>
    </result>
    
    <result id="48887">
      <result code="2">2</result>
      <band id="298">Kirkbymoorside Town Band</band>
      <conductor id="305757">Les Maw</conductor>
    </result>
    
    <result id="48888">
      <result code="3">3</result>
      <band id="2580">Knutsford &amp; Alderley</band>
      <conductor id="298755">J. Burgess</conductor>
    </result>
    
    <result id="48878">
      <result code="4">4</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="311961">James Woods</conductor>
    </result>
    
    <result id="48877">
      <result code="">Unknown Result</result>
      <band id="3151">Blackburn Valley Brass</band>
      <conductor id="311522">F. L. Wilcock</conductor>
    </result>
    
    <result id="48879">
      <result code="">Unknown Result</result>
      <band id="3529">Bury Public Silver Band</band>
      <conductor id="297546">Norman Barrett</conductor>
    </result>
    
    <result id="48880">
      <result code="">Unknown Result</result>
      <band id="8445">Castleton Silver [Derbs.]</band>
      <conductor id="310125">Brian Taylor</conductor>
    </result>
    
    <result id="48889">
      <result code="">Unknown Result</result>
      <band id="873">City of Lincoln Band</band>
      <conductor id="299826">Ellerby Cox</conductor>
    </result>
    
    <result id="48881">
      <result code="">Unknown Result</result>
      <band id="1655">Dove Holes Band</band>
      <conductor id="301330">J. F. Fletcher</conductor>
    </result>
    
    <result id="48882">
      <result code="">Unknown Result</result>
      <band id="3843">Dudley Workmens [Northumberland]</band>
      <conductor id="301776">A. Gibson</conductor>
    </result>
    
    <result id="48883">
      <result code="">Unknown Result</result>
      <band id="3849">Elland C.E.F.A. Youth</band>
      <conductor id="297718">Walter Beevers</conductor>
    </result>
    
    <result id="48884">
      <result code="">Unknown Result</result>
      <band id="2587">Failsworth Youth Band</band>
      <conductor id="302627">Les Harper</conductor>
    </result>
    
    <result id="48885">
      <result code="">Unknown Result</result>
      <band id="3610">Holborn Hill Royal</band>
      <conductor id="304831">R. Latimer (jnr)</conductor>
    </result>
    
    <result id="48886">
      <result code="">Unknown Result</result>
      <band id="11771">Holmes Mills Rotherham</band>
      <conductor id="302604">Walter Hargreaves</conductor>
    </result>
    
    <result id="48890">
      <result code="">Unknown Result</result>
      <band id="4074">Lowton Silver</band>
      <conductor id="301060">G. Fahey</conductor>
    </result>
    
    <result id="48891">
      <result code="">Unknown Result</result>
      <band id="4028">Mansfield Borough Silver</band>
      <conductor id="310314">A. W. Thompson</conductor>
    </result>
    
    <result id="48892">
      <result code="">Unknown Result</result>
      <band id="4075">Mickley Collery Workmen&#39;s</band>
      <conductor id="299987">Eric Cunningham</conductor>
    </result>
    
    <result id="48894">
      <result code="">Unknown Result</result>
      <band id="2026">Newark Town</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="48896">
      <result code="">Unknown Result</result>
      <band id="456">Royal Buckley Town Band</band>
      <conductor id="311524">L. Wilcock</conductor>
    </result>
    
    <result id="48897">
      <result code="">Unknown Result</result>
      <band id="4052">Sherburn Old Boys</band>
      <conductor id="311554">Cyril Wilkinson</conductor>
    </result>
    
    <result id="48898">
      <result code="">Unknown Result</result>
      <band id="3176">Spenborough Victoria</band>
      <conductor id="306667">Matthew Nevin</conductor>
    </result>
    
    <result id="48899">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="48900">
      <result code="">Unknown Result</result>
      <band id="3845">Teesside Bridge and Engineering Works</band>
      <conductor id="300246">J. W. Dawson</conductor>
    </result>
    
    <result id="48895">
      <result code="">Unknown Result</result>
      <band id="3173">Ravensthorpe Subscription</band>
      <conductor id="302374">F. Haigh</conductor>
    </result>
    
  </results>
</contest-event>
