<contest-event id="5675">
  <event-date date="1959-5-9">May 9, 1959<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="566">English Folk Song Suite</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>First Prize: The John Henry Iles Challenge Shield and £25
Second Prize: £18
Third Prize: £10
Fourth Prize: £7</notes>

  <created>May 2, 2011, 3:22 p.m.</created>
  <last-modified>Aug. 21, 2011, 1:38 p.m.</last-modified>

  <results>
    
    <result id="48849">
      <result code="1">1</result>
      <band id="154">Linthwaite Silver Band</band>
      <conductor id="306374">John Willie Morley</conductor>
    </result>
    
    <result id="48848">
      <result code="2">2</result>
      <band id="36">Hatfield Band</band>
      <conductor id="307029">Andrew Owenson</conductor>
    </result>
    
    <result id="48839">
      <result code="3">3</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="303088">George Hill</conductor>
    </result>
    
    <result id="48845">
      <result code="4">4</result>
      <band id="145">Elland Silver Band</band>
      <conductor id="306688">Roy Newsome</conductor>
    </result>
    
    <result id="48857">
      <result code="">Unknown Result</result>
      <band id="2494">Worksop Miners Welfare Band</band>
      <conductor id="296816">Ken Aiken-Jones</conductor>
    </result>
    
    <result id="48851">
      <result code="">Unknown Result</result>
      <band id="2012">Mirrlees Works Band</band>
      <conductor id="297146">Norman Ashcroft</conductor>
    </result>
    
    <result id="48838">
      <result code="">Unknown Result</result>
      <band id="3447">Bridlington Excelsior Brass Band</band>
      <conductor id="298503">W. Brocklesby</conductor>
    </result>
    
    <result id="48841">
      <result code="">Unknown Result</result>
      <band id="1693">Chopwell Colliery</band>
      <conductor id="317383">Howard Wright</conductor>
    </result>
    
    <result id="48837">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="302591">R. E. Hardy</conductor>
    </result>
    
    <result id="48847">
      <result code="">Unknown Result</result>
      <band id="2677">Gomersal Mills</band>
      <conductor id="298352">Frank Braithwaite</conductor>
    </result>
    
    <result id="48844">
      <result code="">Unknown Result</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="48852">
      <result code="">Unknown Result</result>
      <band id="503">Rolls Royce (Derby) Band</band>
      <conductor id="297130">J. Arthur</conductor>
    </result>
    
    <result id="48856">
      <result code="">Unknown Result</result>
      <band id="2746">Upton Colliery Workpeople&#39;s Band</band>
      <conductor id="309761">Joseph Stevens</conductor>
    </result>
    
    <result id="48855">
      <result code="">Unknown Result</result>
      <band id="480">Tintwistle Band</band>
      <conductor id="297728">Jim Belfield</conductor>
    </result>
    
    <result id="48842">
      <result code="">Unknown Result</result>
      <band id="2466">Clayton West</band>
      <conductor id="302441">George Hallas</conductor>
    </result>
    
    <result id="48846">
      <result code="W">Withdrawn</result>
      <band id="581">Bearpark and Esh Colliery</band>
      <conductor id="309817">Basil Stokes</conductor>
    </result>
    
    <result id="48840">
      <result code="W">Withdrawn</result>
      <band id="5425">Chadderton and District</band>
      <conductor id="306948">William Orcher</conductor>
    </result>
    
    <result id="48850">
      <result code="W">Withdrawn</result>
      <band id="4062">Mirfield Silver</band>
      <conductor id="301042">William Henry Exley</conductor>
    </result>
    
    <result id="48854">
      <result code="W">Withdrawn</result>
      <band id="489">Shirebrook Band</band>
      <conductor id="306993">J. Oughton</conductor>
    </result>
    
    <result id="48853">
      <result code="W">Withdrawn</result>
      <band id="3339">St George&#39;s Brass Band</band>
      <conductor id="297435">C. G. Bannister</conductor>
    </result>
    
    <result id="48843">
      <result code="W">Withdrawn</result>
      <band id="234">TCTC Group Band</band>
      <conductor id="309817">Basil Stokes</conductor>
    </result>
    
    <result id="48858">
      <result code="W">Withdrawn</result>
      <band id="2998">Yorkshire Traction</band>
      <conductor id="299111">Tom Casson</conductor>
    </result>
    
  </results>
</contest-event>
