<contest-event id="5676">
  <event-date date="1959-5-9">May 9, 1959<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="935">Thanksgiving</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes>First Prize: The  Daily Mirror Challenge Cup and £15
Second Prize: £10
Third Prize: £8
Fourth Prize: £6</notes>

  <created>May 2, 2011, 3:37 p.m.</created>
  <last-modified>Aug. 27, 2011, 11:31 a.m.</last-modified>

  <results>
    
    <result id="48872">
      <result code="1">1</result>
      <band id="4092">Rist&#39;s Cable Works</band>
      <conductor id="309202">William Skelton</conductor>
    </result>
    
    <result id="48870">
      <result code="2">2</result>
      <band id="512">Pleasley Colliery Welfare Band</band>
      <conductor id="307162">R. Parry</conductor>
    </result>
    
    <result id="48875">
      <result code="3">3</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="48874">
      <result code="4">4</result>
      <band id="588">Stanhope Silver</band>
      <conductor id="311936">Jack Woodhall</conductor>
    </result>
    
    <result id="48862">
      <result code="">Unknown Result</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="301309">J. Flathers</conductor>
    </result>
    
    <result id="48869">
      <result code="">Unknown Result</result>
      <band id="4068">Oswestry Excelsior Silver Prize</band>
      <conductor id="307162">R. Parry</conductor>
    </result>
    
    <result id="48865">
      <result code="">Unknown Result</result>
      <band id="219">Nelson Brass Band</band>
      <conductor id="308212">Norman Riley</conductor>
    </result>
    
    <result id="48873">
      <result code="">Unknown Result</result>
      <band id="3844">Stafford Borough &amp; British Legion</band>
      <conductor id="302738">Sam Hartshorn</conductor>
    </result>
    
    <result id="48876">
      <result code="">Unknown Result</result>
      <band id="160">Thurcroft Welfare</band>
      <conductor id="310025">George W. Sykes</conductor>
    </result>
    
    <result id="48866">
      <result code="">Unknown Result</result>
      <band id="516">Newhall Band</band>
      <conductor id="309117">James J. Sibson</conductor>
    </result>
    
    <result id="48861">
      <result code="">Unknown Result</result>
      <band id="3517">Gorton British Railways</band>
      <conductor id="296907">W. Allen</conductor>
    </result>
    
    <result id="48871">
      <result code="">Unknown Result</result>
      <band id="4069">Prescot Parish Church</band>
      <conductor id="299970">A. Cull</conductor>
    </result>
    
    <result id="48868">
      <result code="">Unknown Result</result>
      <band id="151">Crofton Silver Band</band>
      <conductor id="309265">E. Slinger</conductor>
    </result>
    
    <result id="48859">
      <result code="W">Withdrawn</result>
      <band id="127">Barnsley Brass</band>
      <conductor id="309310">Albert Smith</conductor>
    </result>
    
    <result id="48860">
      <result code="W">Withdrawn</result>
      <band id="857">Blidworth Welfare Band</band>
      <conductor id="311572">Fred Wilks</conductor>
    </result>
    
    <result id="48863">
      <result code="W">Withdrawn</result>
      <band id="4065">Clifton West End Silver</band>
      <conductor id="308219">Fred Rimmer</conductor>
    </result>
    
    <result id="48864">
      <result code="W">Withdrawn</result>
      <band id="3401">Egremont Band</band>
      <conductor id="306125">F. G. Milfull</conductor>
    </result>
    
    <result id="48867">
      <result code="W">Withdrawn</result>
      <band id="4067">Norman Memorial Band</band>
      <conductor id="299896">J. Crich</conductor>
    </result>
    
  </results>
</contest-event>
