<contest-event id="6561">
  <event-date date="1971-5-8">May 8, 1971<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="382">A Rural Suite</test-piece>
  </test-piece>

  <venue id="593">Belle Vue (New Elizabethan Ballroom), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 18, 2011, 4:33 p.m.</created>
  <last-modified>Aug. 28, 2011, 5:45 p.m.</last-modified>

  <results>
    
    <result id="57681">
      <result code="1">1</result>
      <band id="124">Chapeltown Silver Prize Band</band>
      <conductor id="302196">David Grey</conductor>
    </result>
    
    <result id="57680">
      <result code="2">2</result>
      <band id="4806">Brodsworth Colliery Junior</band>
      <conductor id="306865">Graham O&#39;Connor</conductor>
    </result>
    
    <result id="57702">
      <result code="3">3</result>
      <band id="1354">Warrington Brass</band>
      <conductor id="297043">Len Andrews</conductor>
    </result>
    
    <result id="57687">
      <result code="4">4</result>
      <band id="2632">Hindley</band>
      <conductor id="304021">Granville Jennings</conductor>
    </result>
    
    <result id="57683">
      <result code="5">5</result>
      <band id="400">Farndon and District Brass</band>
      <conductor id="311648">L. K. Williams</conductor>
    </result>
    
    <result id="57698">
      <result code="6">6</result>
      <band id="588">Stanhope Silver</band>
      <conductor id="311936">Jack Woodhall</conductor>
    </result>
    
    <result id="57697">
      <result code="">Unknown Result</result>
      <band id="251">Smithills Schools Senior Band</band>
      <conductor id="296827">F. Ainsworth</conductor>
    </result>
    
    <result id="57686">
      <result code="">Unknown Result</result>
      <band id="2631">Habershon Silver</band>
      <conductor id="303793">H. Ingle</conductor>
    </result>
    
    <result id="57688">
      <result code="">Unknown Result</result>
      <band id="6652">Langley Park Band</band>
      <conductor id="303261">Barry Holden</conductor>
    </result>
    
    <result id="57679">
      <result code="">Unknown Result</result>
      <band id="1689">Beverley Brass</band>
      <conductor id="306839">James Nuttall</conductor>
    </result>
    
    <result id="57700">
      <result code="">Unknown Result</result>
      <band id="972">Trefor Band</band>
      <conductor id="306352">Robert Morgan</conductor>
    </result>
    
    <result id="57696">
      <result code="">Unknown Result</result>
      <band id="4842">Sir Wilfrid Martineau School</band>
      <conductor id="302033">E. S. Grainger</conductor>
    </result>
    
    <result id="57693">
      <result code="">Unknown Result</result>
      <band id="4068">Oswestry Excelsior Silver Prize</band>
      <conductor id="307162">R. Parry</conductor>
    </result>
    
    <result id="57691">
      <result code="">Unknown Result</result>
      <band id="196">Morecambe Brass Band</band>
      <conductor id="301319">J. F. Fleming</conductor>
    </result>
    
    <result id="57684">
      <result code="">Unknown Result</result>
      <band id="26">Fishburn Band</band>
      <conductor id="305506">W. J. Makepeace</conductor>
    </result>
    
    <result id="57682">
      <result code="">Unknown Result</result>
      <band id="4043">Christ Church (Bradford) Silver</band>
      <conductor id="311228">Ernie Wedgewood</conductor>
    </result>
    
    <result id="57695">
      <result code="">Unknown Result</result>
      <band id="1494">Scotter Silver Band</band>
      <conductor id="297127">Richard Arrand</conductor>
    </result>
    
    <result id="57689">
      <result code="">Unknown Result</result>
      <band id="150">Maltby Miners Welfare Band</band>
      <conductor id="304237">Jonny Jones</conductor>
    </result>
    
    <result id="57699">
      <result code="">Unknown Result</result>
      <band id="5851">Thornhill Brass</band>
      <conductor id="309851">L. Stott</conductor>
    </result>
    
    <result id="57685">
      <result code="">Unknown Result</result>
      <band id="1348">Flint Town Silver</band>
      <conductor id="300628">J. Dunn</conductor>
    </result>
    
    <result id="57701">
      <result code="">Unknown Result</result>
      <band id="997">Trafford Band</band>
      <conductor id="311977">J. Woodward</conductor>
    </result>
    
    <result id="57692">
      <result code="">Unknown Result</result>
      <band id="2634">Aycliffe Brass Band</band>
      <conductor id="311417">Ray White</conductor>
    </result>
    
    <result id="57703">
      <result code="">Unknown Result</result>
      <band id="1355">Windsor Salford</band>
      <conductor id="299412">J. Clayton</conductor>
    </result>
    
    <result id="57690">
      <result code="W">Withdrawn</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="305098">K. Lightfoot</conductor>
    </result>
    
    <result id="57694">
      <result code="W">Withdrawn</result>
      <band id="253">Stockport Brass</band>
      <conductor id="308092">F. Rhodes</conductor>
    </result>
    
  </results>
</contest-event>
