<contest-event id="6560">
  <event-date date="1971-5-8">May 8, 1971<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="347">St. Michael&#39;s Mount</test-piece>
  </test-piece>

  <venue id="728">Belle Vue (Central Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 18, 2011, 4:26 p.m.</created>
  <last-modified>Feb. 25, 2012, 6:06 p.m.</last-modified>

  <results>
    
    <result id="57666">
      <result code="1">1</result>
      <band id="3456">Ryhope Colliery</band>
      <conductor id="305354">Joe Lumsden</conductor>
    </result>
    
    <result id="57669">
      <result code="2">2</result>
      <band id="500">Whitwell Brass Band</band>
      <conductor id="296997">J. Anderson</conductor>
    </result>
    
    <result id="57661">
      <result code="3">3</result>
      <band id="214">Cheshire Constabulary Band</band>
      <conductor id="303362">Charles Holt</conductor>
    </result>
    
    <result id="57663">
      <result code="4">4</result>
      <band id="2026">Newark Town</band>
      <conductor id="308250">Walter Ritchie</conductor>
    </result>
    
    <result id="57667">
      <result code="5">5</result>
      <band id="52">Skelmanthorpe Band</band>
      <conductor id="311481">R. Whittle</conductor>
    </result>
    
    <result id="57665">
      <result code="6">6</result>
      <band id="492">Porthywaen Band</band>
      <conductor id="307801">J. Pugh</conductor>
    </result>
    
    <result id="57659">
      <result code="">Unknown Result</result>
      <band id="1406">Bloomfield Amateur Silver Band</band>
      <conductor id="303407">A. R. Hopkins</conductor>
    </result>
    
    <result id="57660">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="299110">P. Casson</conductor>
    </result>
    
    <result id="57662">
      <result code="">Unknown Result</result>
      <band id="142">Clifton and Lightcliffe Band</band>
      <conductor id="306839">James Nuttall</conductor>
    </result>
    
    <result id="57664">
      <result code="">Unknown Result</result>
      <band id="258">Point of Ayr Colliery Band</band>
      <conductor id="305054">G. Lewis</conductor>
    </result>
    
    <result id="57668">
      <result code="">Unknown Result</result>
      <band id="922">Skipton Brass</band>
      <conductor id="298452">Ken Bright</conductor>
    </result>
    
  </results>
</contest-event>
