<contest-event id="6587">
  <event-date date="1955-5-21">May 21, 1955<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Shield)</name>
  <contest id="805">
    <name>British Open Spring Festival (Junior Shield)</name>
    <order>40</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-shield</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="159">Indian Summer</test-piece>
  </test-piece>

  <venue id="1209">Belle Vue (Belfast Suite) Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>June 19, 2011, 7:17 p.m.</created>
  <last-modified>June 2, 2015, 11:47 a.m.</last-modified>

  <results>
    
    <result id="63049">
      <result code="1">1</result>
      <band id="139">Dinnington Colliery Band</band>
      <conductor id="297109">Joe Armstrong</conductor>
    </result>
    
    <result id="63056">
      <result code="2">2</result>
      <band id="2558">Peak Dale Public</band>
      <conductor id="302437">Reginald Hallam</conductor>
    </result>
    
    <result id="63053">
      <result code="3">3</result>
      <band id="2702">Lincoln Imperial</band>
      <conductor id="307146">David Parr</conductor>
    </result>
    
    <result id="63062">
      <result code="4">4</result>
      <band id="2704">Wood End W.M.C.</band>
      <conductor id="303028">Harry Heyes</conductor>
    </result>
    
    <result id="63055">
      <result code="">Unknown Result</result>
      <band id="135">Meltham and Meltham Mills Band</band>
      <conductor id="298352">Frank Braithwaite</conductor>
    </result>
    
    <result id="63046">
      <result code="">Unknown Result</result>
      <band id="2466">Clayton West</band>
      <conductor id="302441">George Hallas</conductor>
    </result>
    
    <result id="63050">
      <result code="">Unknown Result</result>
      <band id="2683">Flockton United</band>
      <conductor id="311306">Charlie Westerby</conductor>
    </result>
    
    <result id="63038">
      <result code="">Unknown Result</result>
      <band id="3376">Birfield Industries Works</band>
      <conductor id="311545">C. A. Wilford</conductor>
    </result>
    
    <result id="63047">
      <result code="">Unknown Result</result>
      <band id="3255">Crewe West End</band>
      <conductor id="301336">R. H. Fletcher</conductor>
    </result>
    
    <result id="63042">
      <result code="">Unknown Result</result>
      <band id="497">Burbage Buxton Band</band>
      <conductor id="301327">Harry Fletcher</conductor>
    </result>
    
    <result id="63058">
      <result code="">Unknown Result</result>
      <band id="1527">Stacksteads Brass Band</band>
      <conductor id="319698">Dan Young</conductor>
    </result>
    
    <result id="63037">
      <result code="">Unknown Result</result>
      <band id="4080">Atherstone Miners&#39; Welfare</band>
      <conductor id="309606">Bernard Springett</conductor>
    </result>
    
    <result id="63044">
      <result code="">Unknown Result</result>
      <band id="4940">Central Manchester Silver</band>
      <conductor id="307647">D. A. Power</conductor>
    </result>
    
    <result id="63039">
      <result code="">Unknown Result</result>
      <band id="224">Blackley Band</band>
      <conductor id="298340">E. Bradshaw</conductor>
    </result>
    
    <result id="63043">
      <result code="">Unknown Result</result>
      <band id="3529">Bury Public Silver Band</band>
      <conductor id="297546">Norman Barrett</conductor>
    </result>
    
    <result id="63045">
      <result code="">Unknown Result</result>
      <band id="5425">Chadderton and District</band>
      <conductor id="306948">William Orcher</conductor>
    </result>
    
    <result id="63057">
      <result code="">Unknown Result</result>
      <band id="278">Polypipe Rossington Band</band>
      <conductor id="297911">W. Biggs</conductor>
    </result>
    
    <result id="63059">
      <result code="">Unknown Result</result>
      <band id="1520">Stockport Silver</band>
      <conductor id="297789">Harold Bennett</conductor>
    </result>
    
    <result id="63048">
      <result code="">Unknown Result</result>
      <band id="1584">Dannemora Steelworks</band>
      <conductor id="303080">Donald E Hill</conductor>
    </result>
    
    <result id="63040">
      <result code="">Unknown Result</result>
      <band id="3237">Brandon Colliery</band>
      <conductor id="298598">Gilbert Brown</conductor>
    </result>
    
    <result id="63051">
      <result code="">Unknown Result</result>
      <band id="2677">Gomersal Mills</band>
      <conductor id="298352">Frank Braithwaite</conductor>
    </result>
    
    <result id="63061">
      <result code="">Unknown Result</result>
      <band id="137">Wetherby and District Silver</band>
      <conductor id="301661">Arthur Garforth</conductor>
    </result>
    
    <result id="63041">
      <result code="W">Withdrawn</result>
      <band id="3193">Bullcroft Miners Ambulance</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63052">
      <result code="W">Withdrawn</result>
      <band id="2734">Hessle British Legion Silver Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63054">
      <result code="W">Withdrawn</result>
      <band id="2597">Lowca Colliery</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63060">
      <result code="W">Withdrawn</result>
      <band id="2538">Water Band Rossendale</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
  </results>
</contest-event>
