<contest-event id="6809">
  <event-date date="1955-5-21">May 21, 1955<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Cup)</name>
  <contest id="806">
    <name>British Open Spring Festival (Junior Cup)</name>
    <order>50</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-cup</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1105">Midsummer Eve</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:17 p.m.</created>
  <last-modified>June 2, 2015, 11:48 a.m.</last-modified>

  <results>
    
    <result id="63609">
      <result code="1">1</result>
      <band id="2534">Langwith Miners Welfare</band>
      <conductor id="310399">George Thorpe</conductor>
    </result>
    
    <result id="63602">
      <result code="2">2</result>
      <band id="857">Blidworth Welfare Band</band>
      <conductor id="300930">R. English</conductor>
    </result>
    
    <result id="63611">
      <result code="3">3</result>
      <band id="2988">Peterborough City</band>
      <conductor id="297524">P. G. Barnett</conductor>
    </result>
    
    <result id="63612">
      <result code="4">4</result>
      <band id="4058">Preston Town Silver</band>
      <conductor id="306211">Tom Mitchell</conductor>
    </result>
    
    <result id="63614">
      <result code="">Unknown Result</result>
      <band id="3154">Stocksbridge Works</band>
      <conductor id="304786">G. Lane</conductor>
    </result>
    
    <result id="63606">
      <result code="">Unknown Result</result>
      <band id="2592">Gravel Lane Methodist Silver Prize</band>
      <conductor id="304087">H. Johnson</conductor>
    </result>
    
    <result id="63601">
      <result code="">Unknown Result</result>
      <band id="3144">Black Dyke Mills Junior</band>
      <conductor id="302953">Hubert Hepworth</conductor>
    </result>
    
    <result id="63610">
      <result code="">Unknown Result</result>
      <band id="3137">Leeds City</band>
      <conductor id="308174">T. E. Rickard</conductor>
    </result>
    
    <result id="63600">
      <result code="">Unknown Result</result>
      <band id="3178">Birstall Old</band>
      <conductor id="297233">Tom Atkinson</conductor>
    </result>
    
    <result id="235322">
      <result code="">Unknown Result</result>
      <band id="1676">Blyth LNER</band>
      <conductor id="298157">W. S. Bond</conductor>
    </result>
    
    <result id="63599">
      <result code="">Unknown Result</result>
      <band id="4262">Bedworth Silver Prize Band</band>
      <conductor id="309373">H. A. Smith</conductor>
    </result>
    
    <result id="63604">
      <result code="">Unknown Result</result>
      <band id="4945">Filey Silver</band>
      <conductor id="301308">Walter Flather</conductor>
    </result>
    
    <result id="63598">
      <result code="">Unknown Result</result>
      <band id="3853">Ashbourne Town Band</band>
      <conductor id="308630">H. Ryder</conductor>
    </result>
    
    <result id="63605">
      <result code="">Unknown Result</result>
      <band id="2349">Fleckney Silver</band>
      <conductor id="297307">G. J. Badcock</conductor>
    </result>
    
    <result id="63607">
      <result code="W">Withdrawn</result>
      <band id="4027">Ind Coope &amp; Allsopp Band Club</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63608">
      <result code="W">Withdrawn</result>
      <band id="131">Kippax Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="63613">
      <result code="W">Withdrawn</result>
      <band id="489">Shirebrook Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
  </results>
</contest-event>
