<contest-event id="6824">
  <event-date date="1955-5-21">May 21, 1955<event-date>
  <event-date-resolution>D</event-date-resolution>
  <name>Spring Festival (Junior Trophy)</name>
  <contest id="807">
    <name>British Open Spring Festival (Junior Trophy)</name>
    <order>60</order>
    <contest-type id="12">Test Piece Contest</contest-type>
    <group id="108">British Open Spring Festival</group>
    <slug>spring-festival-junior-trophy</slug>
    
    <notes></notes>
    
    
  </contest>
  
  <test-piece>
    <test-piece id="1070">Mignonne</test-piece>
  </test-piece>

  <venue id="516">Belle Vue (Exhibition Hall), Manchester, Greater Manchester, England, UK</venue>
  <notes></notes>

  <created>July 17, 2011, 3:56 p.m.</created>
  <last-modified>June 2, 2015, 11:49 a.m.</last-modified>

  <results>
    
    <result id="64090">
      <result code="1">1</result>
      <band id="434">Cottingham Band</band>
      <conductor id="309738">Alf Stephenson</conductor>
    </result>
    
    <result id="64089">
      <result code="2">2</result>
      <band id="151">Crofton Silver Band</band>
      <conductor id="309265">E. Slinger</conductor>
    </result>
    
    <result id="64087">
      <result code="3">3</result>
      <band id="4946">Redgate Boys Silver</band>
      <conductor id="306535">Leo Murphy</conductor>
    </result>
    
    <result id="64100">
      <result code="4">4</result>
      <band id="133">Horbury Victoria Band</band>
      <conductor id="302683">H. E. Harrison</conductor>
    </result>
    
    <result id="64086">
      <result code="">Unknown Result</result>
      <band id="1808">Stone Town Band</band>
      <conductor id="300418">Edwin Dixon</conductor>
    </result>
    
    <result id="64088">
      <result code="">Unknown Result</result>
      <band id="189">Delph Band</band>
      <conductor id="302155">F. Greenhaigh</conductor>
    </result>
    
    <result id="64091">
      <result code="">Unknown Result</result>
      <band id="349">Flookburgh Band</band>
      <conductor id="309957">Herbert Sutcliffe</conductor>
    </result>
    
    <result id="64092">
      <result code="">Unknown Result</result>
      <band id="581">Bearpark and Esh Colliery</band>
      <conductor id="311417">Ray White</conductor>
    </result>
    
    <result id="64093">
      <result code="">Unknown Result</result>
      <band id="1491">Barlestone Victoria</band>
      <conductor id="300264">Edgar Deacon</conductor>
    </result>
    
    <result id="64094">
      <result code="">Unknown Result</result>
      <band id="579">Swinton and District Excelsior Band [N Yorks]</band>
      <conductor id="299088">Clarence Cartwright</conductor>
    </result>
    
    <result id="64095">
      <result code="">Unknown Result</result>
      <band id="3186">Ryhill Silver</band>
      <conductor id="309358">F. T. Smith</conductor>
    </result>
    
    <result id="64096">
      <result code="">Unknown Result</result>
      <band id="2562">Ecclesfield Silver</band>
      <conductor id="302726">J. Hartley</conductor>
    </result>
    
    <result id="64097">
      <result code="">Unknown Result</result>
      <band id="3172">Ossett Borough</band>
      <conductor id="304433">Harold Kemp</conductor>
    </result>
    
    <result id="64098">
      <result code="">Unknown Result</result>
      <band id="4948">Liverpool City (UK)</band>
      <conductor id="308745">William Sawyer</conductor>
    </result>
    
    <result id="64099">
      <result code="">Unknown Result</result>
      <band id="239">Ratby Co-operative Band</band>
      <conductor id="297420">John Bancroft</conductor>
    </result>
    
    <result id="64101">
      <result code="">Unknown Result</result>
      <band id="248">Dearham Band</band>
      <conductor id="303816">Joe Ireland</conductor>
    </result>
    
    <result id="64103">
      <result code="">Unknown Result</result>
      <band id="4641">Harpur Hill Buxton</band>
      <conductor id="306964">R. Orritt</conductor>
    </result>
    
    <result id="64104">
      <result code="">Unknown Result</result>
      <band id="3183">Hull Railwaymen&#39;s</band>
      <conductor id="309321">C. Smith</conductor>
    </result>
    
    <result id="64102">
      <result code="W">Withdrawn</result>
      <band id="4105">Brigg Town Brass Band</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
    <result id="64105">
      <result code="W">Withdrawn</result>
      <band id="5378">St. Vincents de Paul</band>
      <conductor id="310730">Unknown</conductor>
    </result>
    
  </results>
</contest-event>
